.to-do {
  font-weight: $weight-bold !important;
  padding: .3em !important;
  color: black !important;
  text-decoration: none !important;
  text-transform: uppercase !important;
  background: lime !important;
  box-decoration-break: clone !important;
}
