/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  DEFAULT SETTINGS
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* GRID */
$cols: 12 !default;
$has_ordering: true !default;
$has_offset: true !default;
$debug-mode-on: false !default;

/* JELLYFISH DEFAULTS */
// Base Variables (used before breakpoints are applied)
$base-col-name: xs !default;
$base-container-gutter: 15px !default; // define in px
$base-col-gutter: 10px !default; // define in px

/* DOCUMENT ROOT FONT SIZE AND LINE HEIGHT AT SMALLEST DEVICE WIDTH */
$root-font-size: 14px !default;
$root-line-height: 1.4 !default;

/* GLOBAL PADDING/MARGINS */
$element-padding: 20px !default;
$element-margin: 1rem !default;

/* COLOURS */
$color-text: #333333 !default;
$color-text-light: #d9dbdb !default;
$color-white: #fff !default;
$color-background: $color-white !default;
$color-background-alt: #efefef !default;
$color-primary: #b22d4f !default;
$color-secondary: #2d6378 !default;
$color-tertiary: #5d2b50 !default;

$color-success: #2CC990 !default;
$color-warning: #FCB941 !default;
$color-error: #FC6042 !default;

/* TYPEFACES */
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
$font-body: $font-primary !default;
$font-headings: $font-secondary !default;

/* FONT SIZES */
$font-size-xsmall: 0.6em !default;
$font-size-small: 0.8em !default;
$font-size-normal: 1em !default; // Default font size for elements
$font-size-medium:1.25em !default; // Used in H5
$font-size-large: 1.5em !default; // Used in H4
$font-size-xlarge: 1.75em !default; // Used in H3
$font-size-xxlarge: 2em !default; // Used in H2
$font-size-xxxlarge: 2.5em !default; // Used in H1

/* LINKS */
$link-color: $color-primary !default;
$link-active: $color-secondary !default;
$link-visited: $color-tertiary !default;

/* GLOBAL TRANSITION USED IN SMOOTH() */
$global-transition: 0.2s ease !default;

/* BORDERS */
$border-width: 1px !default;
$border-style: solid !default;
$border-color: $color-text-light !default;
$border-radius: 4px !default;
$borders: $border-width $border-style $border-color !default;

/* USER INTERFACE */
$ui-hover-function: tint !default; // Choose tint or shade
$ui-hover-function-amount: 80% !default;
$ui-focus-highlight-amount: 40% !default;

/* CALLOUTS */
$callout-tint-perc: 20% !default;
$callout-border-radius: $border-radius !default;

/* FORMS */
$form-items: ('[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea, [type=month]'); // Stack of elements to target
$input-background: $color-white !default;
$placeholder-color: $color-text-light !default;
$form-text-size: 1rem !default;
$form-border-hover: shade($border-color, 60%) !default;
$form-font: $font-primary;

/* BUTTONS */
$buttons: ('.button, button, [type=submit], [type=reset], [type=button]'); // Stack of elements to target
$button-border-width: 1px !default;
$button-border-radius: 6px !default;
$button-padding: .75em 1.5em !default;
$button-text-transform: none !default;
$button-font-weight: bold !default;
$button-text-color-light: $color-white !default;
$button-text-color-dark: $color-text !default;
$button-disabled-background: tint($color-text,40%) !default;

/* LABELS */
$label-font-weight: bold !default;
$label-border-radius: 4px !default;
$label-outline-border-style: dashed !default
$label-text-color-light: $color-white !default;
$label-text-color-dark: $color-text !default;

/* TABLES */
$table-stripe-color: tint($color-text-light,30%) !default;
$table-hover-background: $color-primary !default;
$table-hover-color: $color-white !default;

/* NAVBAR */
$nav-expands: 900px !default; // Point at which the nav kicks in. You'll also need to change this in the .js to produce a clickable drop down when responsive
$navbar-bg-color: $color-background-alt !default;
$navbar-container-padding: 10px !default;
// Links
$navbar-font-size: 0.9em !default;
$navbar-text-transform: none !default;
$navbar-link-color: $color-primary !default;
$navbar-link-bg-color: $navbar-bg-color !default;
$navbar-font-weight: normal !default;
$navbar-link-border: 1px solid rgba(255,255,255,0.4) !default;
// Links: Hover
$navbar-link-hover-color: $color-secondary !default;
$navbar-link-hover-bg-color: shade($color-background-alt,90%) !default;
$navbar-link-hover-weight: $navbar-font-weight !default;
// Links: Padding
$navbar-link-padding-x: 10px !default;
$navbar-link-padding-y: 8px !default;
$navbar-link-padding-expanded-x: 10px !default;
$navbar-link-padding-expanded-y: 10px !default;
// Current Page Link
$navbar-current-page-color: $color-secondary !default;
$navbar-current-page-background: inherit !default;
$navbar-current-page-font-weight: bold !default;
// Secondary Links
$navbar-submenu-text-transform: $navbar-text-transform !default;
$navbar-submenu-font-weight: $navbar-font-weight !default;
// Drop down on larger screens
$navbar-submenu-min-width: 150px !default;
$navbar-submenu-max-width: 260px !default;

/* HAMBURGER MENU */
// @link https://github.com/jonsuh/hamburgers
$primary-hamburger-type: spin !default; // Change this to modify animation
$hamburger-padding-x: $navbar-link-padding-x !default;
$hamburger-padding-y: $navbar-link-padding-y !default;
$hamburger-margin-y: inherit !default;
$hamburger-layer-width: 20px !default; // Width of the hamburger icon
$hamburger-layer-height: 3px !default; // Thickness of hamburger lines
$hamburger-layer-spacing: 4px !default; // Spacing between hamburger lines
$hamburger-layer-color: $navbar-link-color !default; // Color of hamburger
$hamburger-layer-border-radius: 3px !default; // Radius of hamburger lines
$hamburger-background-color: $navbar-bg-color !default;
$hamburger-background-color-hover: $navbar-link-hover-bg-color !default;
$hamburger-border: $border-width $border-style $hamburger-background-color !default;
$hamburger-border-hover: $border-width $border-style $hamburger-background-color-hover !default;
$hamburger-border-radius: 0px !default;
$hamburger-hover-opacity: 1 !default;
$hamburger-active-layer-color : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
// Override Vendor options with site-specific hamburger animation
$hamburger-types: (
  $primary-hamburger-type
);
