/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  DEFAULT SETTINGS
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* GRID */
$cols: 12 !default;
$has_ordering: true !default;
$has_offset: true !default;
$debug-mode-on: false !default;

/* JELLYFISH DEFAULTS */
// Base Variables (used before breakpoints are applied)
$base-col-name: xs !default;
$base-container-gutter: 30px !default; // define in px
$base-col-gutter: 20px !default; // define in px

/* DOCUMENT ROOT FONT SIZE AND LINE HEIGHT AT SMALLEST DEVICE WIDTH */
$root-font-size: 14px !default;
$root-line-height: 1.4 !default;

/* GLOBAL PADDING/MARGINS */
$element-padding: 20px !default;
$element-margin: 1.4rem !default;

/* COLOURS */
$color-text: #333333 !default;
$color-text-light: #7e7f7f !default;
$color-white: #fff !default;
$color-background: $color-white !default;
$color-background-alt: #efefef !default;
$color-primary: #001496 !default;
$color-secondary: #a62579 !default;
$color-tertiary: #8e1b1f !default;

$color-success: #77de65 !default;
$color-warning: #FCCf14 !default;
$color-error: #FF4200 !default;

// Create an empty map. This allows the map to be defined in the project's settings file to include any colors as required
$theme-colors: () !default;

// Merge default colours into the map
$theme-colors: map-merge(
  (
    "primary": $color-primary,
    "secondary": $color-secondary,
    "tertiary": $color-tertiary,
    "success": $color-success,
    "warning": $color-warning,
    "error": $color-error,
  ),
  $theme-colors
);

/* TYPEFACES */
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
$font-body: $font-primary !default;
$font-headings: $font-secondary !default;

/* FONT SIZES */
$font-size--2: 0.6em !default;
$font-size--1: 0.8em !default;
$font-size-0: 1em !default;
$font-size-1:1.5em !default;
$font-size-2:1.5em !default;
$font-size-3: 1.75em !default;
$font-size-4: 2em !default;
$font-size-5: 2.5em !default;
$font-size-6: 3em !default;

$font-size-h1: $font-size-6 !default;
$font-size-h2: $font-size-5 !default;
$font-size-h3: $font-size-4 !default;
$font-size-h4: $font-size-3 !default;
$font-size-h5: $font-size-2 !default;
$font-size-h6: $font-size-1 !default;

/* LINKS */
$link-color: $color-primary !default;
$link-active: $color-secondary !default;
$link-visited: $color-tertiary !default;

/* ACCESSIBILITY */
$accessibility-font-size-sm: 14px !default;
$accessibility-font-size-md: 16px !default;
$accessibility-font-size-lg: 18px !default;

$accessibility-button-font-weight: normal !default;

$accessibility-button-color: $color-text-light !default;
$accessibility-button-hover-color: $link-active !default;
$accessibility-button-active-color: inherit !default;

$accessibility-button-border-bottom: 2px !default;
$accessibility-button-hover-border-color: $color-secondary !default;
$accessibility-button-active-border-color: $color-primary !default;

$dark-mode-bg-color: #222222 !default;
$dark-mode-text-color: #e6e6e6 !default;
$dark-mode-img-grayscale-perc: 50% !default;
$dark-mode-link-color: #58cdf1 !default;
$dark-mode-link-hover: #f1b835 !default;

/* GLOBAL TRANSITION USED IN SMOOTH() */
$global-transition: 0.2s ease !default;

/* BORDERS */
$border-width: 1px !default;
$border-style: solid !default;
$border-color: tint($color-text-light, 40%) !default;
$border-radius: 4px !default;
$borders: $border-width $border-style $border-color !default;

/* USER INTERFACE */
$ui-hover-function: tint !default; // Choose tint or shade
$ui-hover-function-amount: 80% !default;
$ui-focus-highlight-amount: 40% !default;

/* CALLOUTS */
$callout-tint-perc: 20% !default;
$callout-border-radius: $border-radius !default;

/* FORMS */
$form-items: ('[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea, [type=month]'); // Stack of elements to target
$input-background: $color-white !default;
$placeholder-color: $color-text-light !default;
$form-text-size: 1rem !default;
$form-border-hover: shade($border-color, 60%) !default;
$form-font: $font-primary;

/* BUTTONS */
$buttons: ('.button, a.button, button, [type=submit], [type=reset], [type=button]'); // Stack of elements to target
$button-border-width: 1px !default;
$button-border-radius: 6px !default;
$button-padding: 1em 1.5em !default;
$button-text-transform: none !default;
$button-font-weight: bold !default;
$button-text-color-light: $color-white !default;
$button-text-color-dark: $color-text !default;
$button-disabled-background: tint($color-text,40%) !default;

/* LABELS */
$label-font-weight: bold !default;
$label-border-radius: 4px !default;
$label-outline-border-style: dashed !default
$label-text-color-light: $color-white !default;
$label-text-color-dark: $color-text !default;

/* TABLES */
$table-stripe-color: $color-background-alt !default;
$table-hover-background: $color-text-light !default;
$table-hover-color: $color-white !default;

/* CARDS */
$card-border-radius: 0px !default;
$card-border-style: $border-style !default;
$card-border-color: $border-color !default;
$card-border-width: $border-width !default;
$card-padding: $element-padding !default;
$card-background-color: $color-background !default;

/* NAVBAR */
$nav-expands: 900px !default; // Point at which the nav kicks in. You'll also need to change this in the .js to produce a clickable drop down when responsive
$navbar-bg-color: $color-primary !default;
$navbar-container-padding: 10px !default; // Applies below $nav-expands
$navbar-container-width: inherit !default; // Use 'inherit' to make it the same as the document container, or a percentage to override. Applies from $nav-expands up
// Links
$navbar-font-size: 0.8em !default;
$navbar-text-transform: none !default;
$navbar-link-color: $color-white !default;
$navbar-link-bg-color: $navbar-bg-color !default;
$navbar-font-weight: bold !default;
$navbar-link-border: 1px solid rgba($color-white,0.1) !default;
// Links: Hover
$navbar-link-hover-color: $color-white !default;
$navbar-link-hover-bg-color: shade($navbar-bg-color,50%) !default;
$navbar-link-hover-weight: $navbar-font-weight !default;
// Links: Padding
$navbar-link-padding-x: 10px !default;
$navbar-link-padding-y: 8px !default;
$navbar-link-padding-expanded-x: 10px !default;
$navbar-link-padding-expanded-y: 10px !default;
// Current Page Link
$navbar-current-page-color: $color-white !default;
$navbar-current-page-background: $color-secondary !default;
$navbar-current-page-font-weight: bold !default;
// Secondary Links
$navbar-submenu-text-transform: $navbar-text-transform !default;
$navbar-submenu-font-weight: $navbar-font-weight !default;
// Drop down on larger screens
$navbar-submenu-min-width: 150px !default;
$navbar-submenu-max-width: 260px !default;

/* HAMBURGER MENU */
// @link https://github.com/jonsuh/hamburgers
$primary-hamburger-type: spin !default; // Change this to modify animation
$hamburger-padding-x: $navbar-link-padding-x !default;
$hamburger-padding-y: $navbar-link-padding-y !default;
$hamburger-margin-y: inherit !default;
$hamburger-layer-width: 20px !default; // Width of the hamburger icon
$hamburger-layer-height: 3px !default; // Thickness of hamburger lines
$hamburger-layer-spacing: 4px !default; // Spacing between hamburger lines
$hamburger-layer-color: $navbar-link-color !default; // Color of hamburger
$hamburger-layer-border-radius: 3px !default; // Radius of hamburger lines
$hamburger-background-color: $navbar-bg-color !default;
$hamburger-background-color-hover: $navbar-link-hover-bg-color !default;
$hamburger-border: $border-width $border-style $hamburger-background-color !default;
$hamburger-border-hover: $border-width $border-style $hamburger-background-color-hover !default;
$hamburger-border-radius: 0px !default;
$hamburger-hover-opacity: 1 !default;
$hamburger-active-layer-color : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;
// Override Vendor options with site-specific hamburger animation
$hamburger-types: (
  $primary-hamburger-type
);
