// DOCUMENT ROOT FONT SIZE AND LINE HEIGHT AT SMALLEST DEVICE WIDTH
$root-font-size: 14px !default;
$root-line-height: 1.4 !default;

// TODO: Replace with https://gist.github.com/fabricelejeune/bcdd3d4725d4e4cea672 ?
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
$font-body: $font-primary !default;
$font-headings: $font-secondary !default;

$font-size--2: 0.6em !default;
$font-size--1: 0.8em !default;
$font-size-0: 1em !default;
$font-size-1: 1.5em !default;
$font-size-2: 1.5em !default;
$font-size-3: 1.75em !default;
$font-size-4: 2em !default;
$font-size-5: 2.5em !default;
$font-size-6: 3em !default;

// TODO: Need documenting
$font-sizes-h1: map-merge(
  ( "root": 2em ), $font-sizes-h1
);
$font-sizes-h2: map-merge(
  ( "root": 1.8em ), $font-sizes-h2
);
$font-sizes-h3: map-merge(
  ( "root": 1.6em ), $font-sizes-h3
);
$font-sizes-h4: map-merge(
  ( "root": 1.4em ), $font-sizes-h4
);
$font-sizes-h5: map-merge(
  ( "root": 1.2em ), $font-sizes-h5
);
$font-sizes-h6: map-merge(
  ( "root": 1em ), $font-sizes-h6
);

// TODO: Need documenting
$weight-hairline: 100 !default;
$weight-thin:     200 !default;
$weight-light:    300 !default;
$weight-normal:   400 !default;
$weight-medium:   500 !default;
$weight-semibold: 600 !default;
$weight-bold:     700 !default;
$weight-xbold:    800 !default;
$weight-black:    900 !default;
