// Create empty maps. This allows the maps to be defined in the project's settings file to override and add any colors as required
$type-scale: () !default;
$font-sizes-h1: () !default;
$font-sizes-h2: () !default;
$font-sizes-h3: () !default;
$font-sizes-h4: () !default;
$font-sizes-h5: () !default;
$font-sizes-h6: () !default;

// Merge default colours into the map
$type-scale: map-merge(
  (
    'size-m2': 12px,
    'size-m1': 14px,
    'size-0':  16px,
    'size-1':  18px,
    'size-2':  20px,
    'size-3':  24px,
    'size-4':  30px,
    'size-5':  36px,
    'size-6':  48px,
    'size-7':  60px,
    'size-8':  72px
  ),
  $type-scale
);

// DOCUMENT ROOT FONT SIZE AND LINE HEIGHT AT SMALLEST DEVICE WIDTH
$root-font-size: font-size('size-m1') !default;
$root-line-height: 1.4 !default;

// TODO: Replace with https://gist.github.com/fabricelejeune/bcdd3d4725d4e4cea672 ?
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-secondary: $font-primary !default;
$font-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace !default;
$font-body: $font-primary !default;
$font-headings: $font-secondary !default;

// TODO: Documentation
$font-sizes-h1: map-merge(
  ( "root": font-size('size-6') ), $font-sizes-h1
);
$font-sizes-h2: map-merge(
  ( "root": font-size('size-5') ), $font-sizes-h2
);
$font-sizes-h3: map-merge(
  ( "root": font-size('size-4') ), $font-sizes-h3
);
$font-sizes-h4: map-merge(
  ( "root": font-size('size-3') ), $font-sizes-h4
);
$font-sizes-h5: map-merge(
  ( "root": font-size('size-3') ), $font-sizes-h5
);
$font-sizes-h6: map-merge(
  ( "root": font-size('size-2') ), $font-sizes-h6
);

// TODO: Need documenting
$weight-hairline: 100 !default;
$weight-thin:     200 !default;
$weight-light:    300 !default;
$weight-normal:   400 !default;
$weight-medium:   500 !default;
$weight-semibold: 600 !default;
$weight-bold:     700 !default;
$weight-xbold:    800 !default;
$weight-black:    900 !default;
