// TABLES
$table-stripe-color: get-color(neutral,100) !default;
$table-hover-background: get-color(neutral,500) !default;
$table-hover-color: get-color(neutral,000) !default;
$table-cell-padding: .5em .8em !default;
