// TABLES
$table-stripe-color: get-color(neutral, 100) !default;
$table-hover-background: get-color(neutral, 500) !default;
$table-hover-color: $color-white !default;
$table-cell-padding: 0.5em 0.8em !default;
