// BORDERS
$border-width: 1px !default;
$border-style: solid !default;
$border-color: get-color(neutral,300) !default;
$border-radius: 4px !default;
$borders: $border-width $border-style $border-color !default;

// FORMS
$form-items: ('[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea, [type=month]'); // Stack of elements to target
$input-background: get-color(neutral, 000) !default;
$placeholder-color: get-color(neutral, 500) !default;
$form-text-size: 1rem !default;
$form-border-hover: get-color(neutral) !default;
$form-font: $font-primary !default;
$form-focus-border-color: get-color(neutral, 500) !default;
$form-focus-shadow-inner: inset 1px 2px 1px 0px get-color(neutral, 200) !default;
$form-focus-shadow-inner: 0px !default;
$form-focus-shadow-outer: inset -1px -2px 1px 0px get-color(primary, 100) !default;
$form-fieldset-border: $border-width $border-style get-color(neutral,200) !default;
