// NAVBAR
$nav-expands: 900px !default; // Point at which the nav kicks in. You'll also need to change this in the .js to produce a clickable drop down when responsive
$navbar-bg-color: $color-primary !default;
// Parent Level Links
$navbar-font-size: 1em !default;
$navbar-font-family: $font-primary !default;
$navbar-font-weight: bold !default;
$navbar-text-transform: none !default;
$navbar-link-color: $color-white !default;
$navbar-link-bg-color: $navbar-bg-color !default;
$navbar-link-border: 1px solid rgba($color-white,0.1) !default;
// Links: Hover
$navbar-link-hover-color: $color-white !default;
$navbar-link-hover-bg-color: shade($navbar-bg-color,50%) !default;
$navbar-link-hover-weight: $navbar-font-weight !default;
// Child Level Links
$navbar-sublink-font-size: 0.9em !default;
$navbar-sublink-font-family: $font-primary !default;
$navbar-sublink-font-weight: $navbar-font-weight !default;
$navbar-sublink-text-transform: $navbar-text-transform !default;
$navbar-sublink-font-weight-hover: $navbar-link-hover-weight !default;
// Links: Padding
$navbar-link-padding-x: 10px !default;
$navbar-link-padding-y: 8px !default;
$navbar-link-padding-expanded-x: 10px !default;
$navbar-link-padding-expanded-y: 10px !default;
// THESE SETTINGS APPLY ABOVE $nav-expands ONLY
$navbar-sublink-color: $navbar-link-color !default;
$navbar-sublink-bg-color: $navbar-link-bg-color !default;
$navbar-sublink-hover-color: $navbar-link-hover-color !default;
$navbar-sublink-hover-bg-color: $navbar-link-hover-bg-color !default;
$navbar-dropdown-width: 240px !default;
$navbar-start-flex-align: stretch !default;
$navbar-end-flex-align: center !default;
