// BORDERS
$border-width: 1px !default;
$border-style: solid !default;
$border-color: get-color(neutral, 300) !default;
$border-radius: 4px !default;
$borders: $border-width $border-style $border-color !default;

// FORMS
$form-items: (
  '[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea, [type=month]'
); // Stack of elements to target
$form-accent-color: get-color(primary) !default;
$input-background: $color-white !default;
$placeholder-color: get-color(neutral, 500) !default;
$form-border-hover: get-color(neutral) !default;
$form-font: $font-primary !default;
$form-focus-border-color: get-color(neutral, 500) !default;
$form-focus-shadow-inner: inset 1px 2px 1px 0px get-color(neutral, 300) !default;
$form-focus-shadow-outer: inset -1px -2px 1px 0px get-color(neutral, 200) !default;
$form-fieldset-border: $border-width $border-style get-color(neutral, 200) !default;

// INPUT[type="range"]

$range-thumb-color: get-color(neutral) !default;
$range-track-color: get-color(neutral, 100) !default;
$range-track-color-bottom-ie: get-color(neutral, 300) !default;

$range-thumb-color-focus: get-color(primary) !default;
$range-track-color-focus: get-color(neutral, 200) !default;

$range-thumb-height: get-size(1.5) !default;
$range-thumb-width: $range-thumb-height !default;
$range-thumb-radius: $range-thumb-height * 0.5 !default;
$range-thumb-shadow-size: 0px 1px !default;
$range-thumb-shadow-blur: 6px !default;
$range-thumb-shadow-color: rgba(get-color(neutral, 800), 0.4) !default;
$range-thumb-border-width: 2px !default;
$range-thumb-border-color: $color-white !default;

$range-track-height: $range-thumb-height * 0.5 !default;
$range-track-shadow-size: 0px 0px !default;
$range-track-shadow-blur: 0px !default;
$range-track-shadow-color: transparent !default;
$range-track-border-width: $border-width !default;
$range-track-border-color: $border-color !default;
$range-track-radius: $border-radius !default;
