// ACCESSIBILITY
$accessibility-font-size-sm: font-size(-1) !default;
$accessibility-font-size-md: font-size(0) !default;
$accessibility-font-size-lg: font-size(1) !default;

$accessibility-button-font-weight: normal !default;

$accessibility-button-color: get-color(neutral,500) !default;
$accessibility-button-hover-color: $link-active !default;
$accessibility-button-active-color: inherit !default;

$accessibility-button-border-bottom: 2px !default;
$accessibility-button-hover-border-color: get-color(secondary) !default;
$accessibility-button-active-border-color: get-color(primary) !default;

$dark-mode-bg-color: get-color(neutral,900) !default;
$dark-mode-text-color: get-color(neutral,100) !default;
$dark-mode-img-grayscale-perc: 50% !default;
$dark-mode-link-color: get-color(primary,400) !default;
$dark-mode-link-hover: get-color(primary) !default;
