// PROGRESS BAR
$progressbar-color: get-color(neutral, 200) !default;
$progressbar-progress-color: get-color(neutral, 600) !default;
$progressbar-height: get-size(1) !default;
$progressbar-border-radius: 200px !default;
$progressbar-value-border-radius: 0px !default;
$progressbar-indeterminate-duration: 2.5s !default;
