// BADGES
$tag-padding: .25em .3em !default;
$tag-border-radius: 4px !default;
$tag-border-width: 1px !default;
$tag-outline-border-style: solid !default
$tag-font-weight: $weight-normal !default;
$tag-base-font-size: 0.85em !default;
$tag-text-color-light: get-color(neutral,000) !default;
$tag-text-color-dark: $color-text !default;
