// HAMBURGER MENU
// @link https://github.com/jonsuh/hamburgers
$primary-hamburger-type: spin !default; // Change this to modify animation
$hamburger-margin-y: 0px !default;
$hamburger-layer-width: get-size(1.5) !default; // Width of the hamburger icon
$hamburger-layer-height: 3px !default; // Thickness of hamburger lines
$hamburger-layer-spacing: 4px !default; // Spacing between hamburger lines
$hamburger-layer-border-radius: 3px !default; // Radius of hamburger lines
$hamburger-bg-color: $navbar-bg-color !default;
$hamburger-border: $border-width $border-style $hamburger-bg-color !default;
$hamburger-border-radius: 0px !default;
$hamburger-color: $navbar-link-color !default; // Color of hamburger
$hamburger-layer-color: $hamburger-color !default; // Color of label
$hamburger-hover-bg-color: $navbar-link-hover-bg-color !default;
$hamburger-hover-border: $border-width $border-style $hamburger-hover-bg-color !default;
$hamburger-hover-color: $hamburger-color !default;
$hamburger-hover-opacity: 1 !default;
$hamburger-position: right !default; // left or right
// Override Vendor options with site-specific hamburger animation
$hamburger-types: (
  $primary-hamburger-type
);
