// LABELS -- TODO: RENAME TO BADGES
$label-font-weight: $weight-bold !default;
$label-border-radius: 4px !default;
$label-outline-border-style: solid !default
$label-text-color-light: get-color(neutral,000) !default;
$label-text-color-dark: $color-text !default;
