// CARDS
$card-border-radius: 0px !default;
$card-border-style: $border-style !default;
$card-border-color: $border-color !default;
$card-border-width: $border-width !default;
$card-padding: $element-padding !default;
