@if $generate-callouts == true {
  .callout {
    #{token-name("callout-bg-color")}: #{get-color-role(neutral, subtle)};
    #{token-name("callout-border-color")}: #{get-color-role(neutral, muted)};
    #{token-name("callout-link-color")}: #{get-color-role(neutral, emphasis)};
    #{token-name("callout-link-color-hover")}: #{get-color-role(neutral, strong)};
    #{token-name("callout-heading-color")}: #{get-color-role(neutral, strong)};
    border: {
      width: $callout-border-width;
      style: $callout-border-style;
      color: token(callout-border-color);
      radius: $callout-border-radius;
    }
    background-color: token(callout-bg-color);
    margin-bottom: token(flow);
    padding: $callout-padding;
    display: block;
    width: 100%;

    #{headings()} {
      color: token(callout-heading-color);
    }
    .callout-heading {
      @extend .h6;
      margin-bottom: 0.5em;
      text-transform: uppercase;
      font-weight: get-weight(semibold);
      letter-spacing: 0.02em;
    }
    a.callout-link {
      font-weight: get-weight(bold);
      color: token(callout-link-color);
      &:hover,
      &:focus {
        color: token(callout-link-color-hover);
      }
    }
    & > :last-child {
      margin-bottom: 0;
    }

    @each $key, $map in $colors {
      &.#{$key} {
        @include createCallout($key);
      }
    }
    &.white {
      #{token-name("callout-bg-color")}: token(color-white);
    }
  }
}
