.callout {
  border-width: $callout-border-width;
  border-style: solid;
  margin-bottom: $element-margin;
  padding: $element-padding;
  border-radius: $callout-border-radius;
  display: block;
  width: 100%;
  @include create_callout('neutral');
  a.callout-link {
    font-weight: $weight-bold;
  }
  & > :last-child {
    margin-bottom: 0;
  }
}
