@if $generate-callouts == true {
  .callout {
    @include surface(
      get-color-role(neutral, subtle),
      token(color-on-neutral-subtle),
      get-color-role(neutral, strong)
    );
    #{token-name("callout-bg-color")}: #{token(color-surface)};
    #{token-name("callout-color")}: #{token(color-text)};
    #{token-name("callout-border-color")}: #{get-color-role(neutral, muted)};
    #{token-name("callout-link-color")}: #{get-color-role(neutral, emphasis)};
    #{token-name("callout-link-color-hover")}: #{get-color-role(
        neutral,
        strong
      )};
    #{token-name("callout-heading-color")}: #{token(color-headings)};
    border: {
      width: $callout-border-width;
      style: $callout-border-style;
      color: token(callout-border-color);
      radius: $callout-border-radius;
    }
    background-color: token(callout-bg-color);
    color: token(callout-color);
    margin-bottom: token(flow);
    padding: $callout-padding;
    display: block;
    width: 100%;

    #{headings()} {
      color: token(callout-heading-color);
    }

    & > :last-child {
      margin-bottom: 0;
    }

    @each $key, $map in $colors {
      &.#{$key} {
        @include createCallout($key);
      }
    }
    &.soft {
      #{token-name("color-surface")}: #{token(color-bg-soft)};
      #{token-name("color-text")}: #{token(color-text-soft)};
      #{token-name("color-headings")}: #{token(color-headings-soft)};
    }
  }
  .callout-heading {
    @include h6();
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-weight: get-weight(semibold);
    letter-spacing: 0.02em;
  }

  a.callout-link {
    font-weight: get-weight(bold);
    color: token(callout-link-color);
    &:hover,
    &:focus {
      color: token(callout-link-color-hover);
    }
  }
}
