.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  border-radius: var(--card-border-radius);
  border: var(--card-border-width) var(--card-border-style)
    var(--card-border-color);
  margin-bottom: $element-margin;

  & > :last-child {
    margin-bottom: 0;
  }

  .card-image,
  .card-image img {
    width: 100%;
    margin-bottom: 0;
  }

  &-section {
    padding: var(--card-padding);
    & > :last-child {
      margin-bottom: 0;
    }
    .card-image {
      margin-bottom: $element-margin;
    }

    & + .card-section {
      padding-top: 0;
    }
  }
  &-footer {
    margin-top: auto;
  }
}
