.card {
  #{token-name("card-border-radius")}: #{$card-border-radius};
  #{token-name("card-border-style")}: #{$card-border-style};
  #{token-name("card-border-width")}: #{$card-border-width};
  #{token-name("card-padding")}: #{$card-padding};
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  border-radius: token(card-border-radius);
  border: token(card-border-width) token(card-border-style)
    token-or(card-border-color, border-color);
  margin-block-end: token(flow);

  & > :last-child {
    margin-block-end: 0;
  }

  &-image,
  &-image img {
    width: 100%;
    margin-block-end: 0;
  }

  &-section {
    padding: token(card-padding);
    & > :last-child {
      margin-block-end: 0;
    }
    .card-image {
      margin-block-end: token(flow);
    }

    & + .card-section {
      padding-block-start: 0;
    }
  }
  &-footer {
    margin-block-start: auto;
  }
}
