.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  @if $card-border-radius != 0px {
    border-radius: $card-border-radius;
  }
  @if $card-border-width != 0px {
    border: $card-border-width $card-border-style $card-border-color;
  }
  margin-bottom: $element-margin;

  & > :last-child {
    margin-bottom: 0;
  }

  .card-image,
  .card-image img {
    width: 100%;
    margin-bottom: 0;
  }

  &-section {
    padding: $card-padding;
    & > :last-child {
      margin-bottom: 0;
    }
    .card-image {
      margin-bottom: $element-margin;
    }

    & + .card-section {
      padding-top: 0;
    }
  }
  &-footer {
    margin-top: auto;
  }
}
