.progress {
  appearance: none;
  border: none;
  background-size: auto; // Required polyfill for Safari if background image used
  display: block;
  width: 100%;
  height: $progressbar-height;
  overflow: hidden;
  padding: 0;
  border-radius: $progressbar-border-radius;

  &::-webkit-progress-bar {
    background-color: $progressbar-color;

  }
  &::-webkit-progress-value {
    background-color: $progressbar-progress-color;
    border-radius: $progressbar-value-border-radius;
  }
  &::-moz-progress-bar {
    background-color: $progressbar-progress-color;
    border-radius: $progressbar-value-border-radius;
  }
  &::-ms-fill {
    background-color: $progressbar-progress-color;
    border-radius: $progressbar-value-border-radius;
  }

  &:indeterminate {
    background-color: $progressbar-color;
    background-image: linear-gradient(to right, rgba($progressbar-progress-color,0.35) 20%, $progressbar-color 20%);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: 150% 150%;
    animation: animateIndeterminate $progressbar-indeterminate-duration linear 0s infinite;

    &::-webkit-progress-bar {
      background-color: transparent;
    }
    &::-moz-progress-bar {
      background-color: transparent;
    }
    &::-ms-fill {
      animation-name: none;
    }
  }
}

@keyframes animateIndeterminate {
  from {
    background-position: 200% 0;
    //transform: scaleX(0);
  }
  to {
    background-position: -200% 0;
    //transform: scaleX(1);
  }
}
