.bg-transparent {
  background-color: transparent !important;
}

@each $name, $color in $background-colors {
  // Loop through $background-colors map and create classes for .bg-*
  .bg-#{$name} {
    background-color: $color;
    color: choose-contrast-color($color, $color-text, get-color(neutral, 000));
    #{headings()} {
      color: choose-contrast-color($color, get-color(neutral, 000), $color-headings-preferred);
    }
    a:not(.button) {
      & {
        color: choose-contrast-color($color, $link-color, tint($color, 30%));
      }
      &:visited {
        color: choose-contrast-color($color, $link-visited, tint($color, 30%));
      }
      &:hover,
      &:focus {
        color: choose-contrast-color($color, $link-active, get-color(neutral, 000));
      }
    }
  }
}
