.bg-transparent {
  background-color: transparent !important;
}

%bg-dark {
  color: $color-white;
}
%heading-dark {
  & :is(h1, h2, h3, h4, h5, h6) {
    color: $color-white;
  }
}
%bg-light {
  color: $color-text;
}
%heading-light {
  & :is(h1, h2, h3, h4, h5, h6) {
    color: $color-headings-preferred;
  }
}

@each $name, $color in $background-colors {
  // Loop through $background-colors map and create classes for .bg-*
  .bg-#{$name} {
    background-color: $color;
    @if(choose-contrast-color($color, $color-headings-preferred, $color-white) == $color-white) {
      @extend %heading-dark;
    }
    @else {
      @extend %heading-light;
    }
    @if(choose-contrast-color($color, $color-text, $color-white) == $color-white) {
      @extend %bg-dark;
    }
    @else {
      @extend %bg-light;
    }
  }
}

[class^='bg-'] .bg-white {
  color: choose-contrast-color($color-white, $color-text, $color-white);
  #{headings()} {
    color: choose-contrast-color($color-white, $color-headings-preferred);
  }
}
