.bg-transparent {
  background-color: transparent !important;
}

@each $name, $color in $background-colors {
  // Loop through $background-colors map and create classes for .bg-*
  .bg-#{$name} {
    background-color: $color;
    color: choose-contrast-color($color, $color-text, $color-white);
    #{headings()} {
      color: choose-contrast-color($color, $color-white, $color-headings-preferred);
    }
  }
}

[class^='bg-'] .bg-white {
  color: choose-contrast-color($color-white, $color-text, $color-white);
  #{headings()} {
    color: choose-contrast-color($color-white, $color-headings-preferred);
  }
}
