.jf-debug {
  &::before {
      // Displays current breakpoint before page
      content: "#{$base-col-name}";
      position: fixed;
      top: 0;
      left: 0;
      padding: 10px;
      z-index: 10000;
      background: get-color(neutral,000);
      font-size: 12px;
      color: #555555;
      font-family: $font-body;
      @each $point,
      $i in $breakpoints {
          @include above($point) {
              content: "#{$point}";
          }
      }
  }
  .col {
      box-shadow: 0 1px 3px 1px rgba(8,247,254, .7) !important;
  }
  .row {
      box-shadow: 0 1px 3px 1px rgba(245, 211, 0, .8) !important;
      background: repeating-linear-gradient( to right, rgba(220, 220, 220, 0.4), rgba(220, 220, 220, 0.4) $one-col, rgba(245, 245, 245, 0.8) $one-col, rgba(245, 245, 245, 0.8) $one-col*2) !important;
      background-origin: content-box;
      .row {
          background: none !important; // Removes from nested rows
      }
  }
}
@if $debug-mode-on {
  body {
    @extend .jf-debug;
  }
 }
