// $root-size: 16px;

// Merge default sizes into the map
$sizing-system: (
  // 0.25: $root-size * .25,   // 4px default
    // 0.5:  $root-size * .5,    // 8px default
    // 0.75: $root-size * .75,   // 12px default
    // 1:    $root-size * 1,     // 16px default
    // 1.5:  $root-size * 1.5,   // 24px default
    // 2:    $root-size * 2,     // 32px default
    // 3:    $root-size * 3,     // 48px default
    // 4:    $root-size * 4,     // 64px default
    // 6:    $root-size * 6,     // 96px default
    // 8:    $root-size * 8,     // 128px default
    // 12:   $root-size * 12,    // 192px default
    // 16:   $root-size * 16,    // 256px default
    // 24:   $root-size * 24,    // 384px default
    // 32:   $root-size * 32,    // 512px default
    // 40:   $root-size * 40,    // 640px default
    // 48:   $root-size * 48,    // 768px default
);

// GLOBAL PADDING/MARGINS
// $element-padding: get-size(1.5);
// $element-margin: get-size(1);
