// DOCUMENT ROOT FONT SIZE AND LINE HEIGHT AT SMALLEST DEVICE WIDTH
//$root-font-size: 14px;
//$root-line-height: 1.4;

//$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//$font-secondary: $font-primary;
//$font-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
//$font-body: $font-primary;
//$font-headings: $font-secondary;

//$font-size--2: 0.6em;
//$font-size--1: 0.8em;
//$font-size-0: 1em;
//$font-size-1: 1.5em;
//$font-size-2: 1.5em;
//$font-size-3: 1.75em;
//$font-size-4: 2em;
//$font-size-5: 2.5em;
//$font-size-6: 3em;

// TODO: Need documenting
$font-sizes-h1: (
  "root": 2em,
  "sm": 3em,
  "lg": 4em
);
$font-sizes-h2: (
  "root": 1.8em,
  "sm": 2em,
  "lg": 2.4em
);
$font-sizes-h3: (
  "root": 1.6em,
  "sm": 2em,
);
$font-sizes-h4: (
  "root": 1.4em,
  "sm": 1.6em,
);
$font-sizes-h5: (
  "root": 1.2em,
  "sm": 1.4em,
);
$font-sizes-h6: (
  "root": 1em,
  "sm": 1.2em,
);

// TODO: Need documenting and do all - like 100,200,300,400,500,600,700,800 etc
// TODO: Max Line Length for paragraphs- how to do this?


// $weight-hairline: 100;
// $weight-thin:     200;
// $weight-light:    300;
// $weight-normal:   400;
// $weight-medium:   500;
// $weight-semibold: 600;
// $weight-bold:     700;
// $weight-xbold:    800;
// $weight-black:    900;
