// BORDERS
// $border-width: 1px;
// $border-style: solid;
// $border-color: get-color(neutral,300);
// $border-radius: 4px;

// FORMS
// $input-background: $color-white;
// $placeholder-color: get-color(neutral,500);
// $form-border-hover: get-color(neutral);
// $form-font: $font-primary;
// $form-focus-border-color: get-color(neutral, 500);
// $form-focus-shadow-inner: inset 1px 2px 1px 0px get-color(neutral, 300);
// $form-focus-shadow-outer: inset -1px -2px 1px 0px get-color(neutral, 200);
// $form-fieldset-border: $border-width $border-style get-color(neutral,200);

// INPUT[type="range"]

// $range-thumb-color: get-color(neutral);
// $range-track-color: get-color(neutral,100);
// $range-track-color-bottom-ie: get-color(neutral,300);

// $range-thumb-color-focus: get-color(primary);
// $range-track-color-focus: get-color(neutral,200);

// $range-thumb-height: get-size(1.5);
// $range-thumb-width: $range-thumb-height;
// $range-thumb-radius: $range-thumb-height/2;
// $range-thumb-shadow-size: 0px 1px;
// $range-thumb-shadow-blur: 6px;
// $range-thumb-shadow-color: rgba(get-color(neutral,800), .4);
// $range-thumb-border-width: 2px;
// $range-thumb-border-color: $color-white;

// $range-track-height: $range-thumb-height/2;
// $range-track-shadow-size: 0px 0px;
// $range-track-shadow-blur: 0px;
// $range-track-shadow-color: transparent;
// $range-track-border-width: $border-width;
// $range-track-border-color: $border-color;
// $range-track-radius: $border-radius;

// $radio-check-box-color: get-color(neutral,600);
// $radio-check-box-focus-shadow: get-color(neutral,300);
// $radio-check-box-transform-adjust: 0px;
