// BUTTONS
// $buttons: ('.button, a.button, button, [type=submit], [type=reset], [type=button]'); // Stack of elements to target
// $button-border-width: 1px;
// $button-border-radius: 3px;
// $button-font-family: $font-secondary;
// $button-padding-xsmall: 0.5em 0.75em;
// $button-padding-small: 0.6em 1em;
// $button-padding: 0.75em 1.25em;
// $button-padding-large: .75em 1.5em;
// $button-text-transform: none;
// $button-font-weight: $weight-bold;
// $button-font-size-xsmall: font-size(-2);
// $button-font-size-small: font-size(-1);
// $button-font-size: font-size(0);
// $button-font-size-large: font-size(2);
// $button-hover-value: 600; // Note: setting this variable to 500 does not create default hover states for buttons
// $button-hover-fallback-percent: 87.5%; // Note: if $button-hover-value > 500, function is shade(), else function is tint()
// $button-text-color-light: get-color(neutral,000);
// $button-text-color-dark: $color-text;
// $button-disabled-opacity: .65;
// $button-list-button-margin: get-size(.5);
// $button-base-color: 'neutral';

// TODO: Change button mods to .is-small etc
