// BUTTONS
//$buttons: ('.button, a.button, button, [type=submit], [type=reset], [type=button]'); // Stack of elements to target
//$button-border-width: 1px;
//$button-border-radius: 3px;
//$button-font-family: $font-secondary;
//$button-padding: 1em 1.5em; // TODO: Refactor based on UI book
//$button-text-transform: none;
//$button-font-weight: $weight-bold;
//$button-hover-value: 600; // Note: setting this variable to 500 does not create default hover states for buttons
//$button-hover-fallback-percent: 87.5%; // Note: if $button-hover-value > 500, function is shade(), else function is tint()
//$button-focus-box-shadow-value: 300;
//$button-focus-box-shadow-fallback-percent: 87.5%; // Note: if $button-focus-box-shadow-value > 500, function is shade(), else function is tint()
//$button-box-shadow: 0px 0px 1px 3px;
//$button-text-color-light: get-color(neutral,000);
//$button-text-color-dark: $color-text;
//$button-disabled-opacity: .65;
//$button-list-button-margin: 10px;
