/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  ACCESSIBILITY
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

/* Text meant only for screen readers. */
// TODO: Documentation https://getbootstrap.com/docs/4.0/utilities/screenreaders/
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */

	&:focus {
		background-color: $color-background;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
		clip: auto !important;
		clip-path: none;
		color: $color-primary;
		display: block;
		font-size: .8em;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; /* Above WP toolbar. */
	}
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

body.font-size{
  &-sm {
  font-size: $acc-font-size-sm;
  }
  &-md {
    font-size: $acc-font-size-md;
  }
  &-lg {
    font-size: $acc-font-size-lg;
  }
}

button.font-size {
  background-color: transparent;
  font-weight: $acc-button-font-weight;
  color: $acc-button-color;
  padding: 0 0 2px 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  border-bottom: $acc-button-border-bottom solid transparent;
  vertical-align: baseline;
  line-height: 1;
  &:focus {
    box-shadow: none;
  }
  &:hover, &:focus, &:active {
    background: transparent;
    color: $acc-button-hover-color;
    border-bottom-color: $acc-button-hover-border-color;
  }
  &.active {
    color: $acc-button-active-color;
    border-bottom-color: $acc-button-active-border-color;
  }
  &-sm {
    font-size: .8em;
    }
  &-md {
    font-size: 1em;
  }
  &-lg {
    font-size: 1.2em;
  }
}
