/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  BUTTONS
  Default styling for all buttons
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

// Button stack defined in settings.scss
#{$buttons} {
    -webkit-appearance: none;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text:{
      decoration: none;
      transform: $button-text-transform;
      align: center;
    }
    font:{
      size: 0.9rem;
      weight: $button-font-weight;
    }
    border:{
      width: $button-border-width;
      style: solid;
      radius: $button-border-radius;
    }
    line-height: 1.3;
    padding: $button-padding;
    margin: h($element-margin) 5px $element-margin 0;
    @include smooth(background, border-color, color);
    @include button_styles($color-primary, $button-text-color);
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    &:focus {
        outline: 0;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: $button-disabled-background;
      border-color: $button-disabled-background;
      &:hover, &:focus, &:active {
        background-color: $button-disabled-background;
        border-color: $button-disabled-background;
      }
    }
}

// TODO: Check if I Still need a.button - not sure why it is here
.button, a.button {
    &__secondary {
      @include button_styles($color-secondary);
    }
    &__tertiary {
      @include button_styles($color-tertiary);
    }
    &__success {
      @include button_styles($color-success);
    }
    &__warning {
      @include button_styles($color-warning);
    }
    &__error {
      @include button_styles($color-error);
    }
    &__outline {
        // Outline buttons have a transparent fill
        background-color: transparent !important;
        color: inherit;
        &:hover, &:focus, &:active {
          background-color: transparent !important;
        }
    }
    &__ghost {
      // Ghost buttons are styled like regular links, with the height of a button but they have no background or border
        background-color: transparent;
        color: $link-color;
        border-color: transparent;
        &:hover, &:focus, &:active {
          background-color: transparent;
          border-color: transparent;
          color: $link-active;
        }
    }
    &__block {
        display: block;
        width: 100%;
    }
    &__large {
        font-size: 1.1rem;
    }
    &__small {
        font-size: 0.8rem;
    }
}
[type=submit] {
    @extend .button;
}
[type=reset] {
    @extend .button__outline;
}
