/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  BUTTONS
  Default styling for all buttons
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

// Button stack defined in settings.scss
#{$buttons} {
    -webkit-appearance: none;
    user-select: none;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    text:{
      decoration: none;
      transform: $button-text-transform;
      align: center;
    }
    font:{
      size: 0.9rem;
      weight: $button-font-weight;
    }
    border:{
      width: $button-border-width;
      style: solid;
      radius: $button-border-radius;
    }
    line-height: 1.3;
    padding: $button-padding;
    margin: h($element-margin) 5px $element-margin 0;
    @include smooth(background, border-color, color);
    @include create_button($color-primary);
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    &:focus {
        outline: 0;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: $button-disabled-background;
      border-color: $button-disabled-background;
      &:hover, &:focus, &:active {
        background-color: $button-disabled-background;
        border-color: $button-disabled-background;
      }
    }
}

.button, a.button {
    @each $name, $color in $theme-colors {
      // Loop through $theme-colors map and create buttons for each key
      &__#{$name} {
        @include create_button($color);
      }
    }
    &__outline {
        // Outline buttons have a transparent fill
        background-color: transparent !important;
        color: inherit;
        &:hover, &:focus, &:active {
          background-color: transparent !important;
        }
    }
    &__ghost {
      // Ghost buttons are styled like regular links, with the height of a button but they have no background or border
        background-color: transparent;
        color: $link-color;
        border-color: transparent;
        &:hover, &:focus, &:active {
          background-color: transparent;
          color: $link-active;
        }
    }
    &__block {
        display: block;
        width: 100%;
    }
    &__large {
        font-size: 1.1rem;
    }
    &__small {
        font-size: 0.8rem;
    }
}
[type=submit] {
    @extend .button;
}
[type=reset] {
    @extend .button__outline;
}

// TODO: Add a button group? https://getbootstrap.com/docs/4.0/components/button-group/
