/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  CALLOUTS
  Default styling for callout elements
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.callout {
  border: $borders;
  margin-bottom: $element-margin;
  padding: $element-padding;
  border-radius: $callout-border-radius;
  a.callout-link {
    font-weight: bold;
  }
  & > :last-child {
    margin-bottom: 0;
  }

  @each $name, $color in $theme-colors {
    // Loop through $theme-colors map and create callouts for each key
    &__#{$name} {
      @include create_callout($color);
    }
  }
}
