/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  HELPERS
  Useful helper classes
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
// Display State
.hide {
    display: none !important;
}
.invisible {
    visibility: hidden;
}
// Use on a .row to make all immediate child columns the same height
.equal-height {
    > .col {
    display: flex;
    }
}
// Converts anything into a flex container {
.flex {
  display: flex;
}
// Converts to flex and displays as a column
.flex-column {
  display: flex;
  flex-direction: column;
}
// Flex Alignment Classes
.align-top {
    align-items: flex-start!important;
}
.align-middle {
    align-items: center!important;
}
.align-bottom {
    align-items: flex-end!important;
}
.align-stretch {
  align-items: stretch!important;
}
.align-self-top {
    align-self: flex-start!important;
}
.align-self-middle {
    align-self: center!important;
}
.align-self-bottom {
    align-self: flex-end!important;
}
// Flex Justify Classes
.justify-start {
    justify-content: flex-start!important;
}
.justify-center {
    justify-content: center!important;
}
.justify-end {
    justify-content: flex-end!important;
}
.justify-around {
    justify-content: space-around!important;
}
.justify-between {
    justify-content: space-between!important;
}
.justify-evenly {
  justify-content: space-evenly;
}
// Alignment
.align-left {
    float: left !important;
}
.align-right {
    float: right !important;
}
.align-none {
    float: none !important;
}
// Text Alignment
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
}
// Wrap text in a .nowrap span to keep it together when otherwise it would break over two lines
.nowrap {
    white-space: nowrap;
}
// Width
.full-width {
    width: 100% !important;
}
.vw-100 {
  // TODO: vw-100 doesn't work when the center of the parent is not in the center of the screen.
  width: 100vw !important;
  position: relative !important;
  left: 50% !important;
  right: 50% !important;
  margin-left: -50vw !important;
  margin-right: -50vw !important;
}
// Embed videos responsively by wrapping them in an .embed-container
.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin: .25px 0 $element-margin 0;
}

//TODO: Add variations https://get.foundation/sites/docs/responsive-embed.html

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Gives elements consistent bottom margin
%mb {
  margin-bottom: $element-margin;
}
.mb {
  @extend %mb;
}
