/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  NAV
  Styling for the burger menu
  (also see vendor/hamburgers),
  and responsive navbar
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

// @extend this to make links have consistent styling

%navbar-links {
  text-decoration: none;
  text-transform: $navbar-text-transform;
  @include smooth(color, background-color, font-weight);
  &, &:visited {
    color: $navbar-link-color;
    background-color: $navbar-link-bg-color;
  }
  &:hover, &:focus {
    color: $navbar-link-hover-color;
    background-color: $navbar-link-hover-bg-color;
    font-weight: $navbar-link-hover-weight;
  }
}

.navbar {
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
.navbar is the parent of all navbar items
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  background: $navbar-bg-color;
  color: $navbar-link-color; // To ensure all non-link text is styled
  position: relative;
  >.container {
  /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  Container
  *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  width: $navbar-container-width;
  max-width: 100%;
    @include below($nav-expands) {
      padding: 0 $navbar-container-padding;
      display: block;
      width: 100%; // Ignores any setting from the breakpoint map
    }
    display: flex; // Behaviour on larger screens
  }
}
.navbar-brand {
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
.navbar-brand contains the site logo (if used), burger menu, and
anything else that should always appear on mobile
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  display: flex;
  align-items: stretch; // children have 100% height
  flex-shrink: 0; // Don't allow this to shrink
  a:not(.img-link) {
    @extend %navbar-links;
  }
}
.navbar-item {
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
.navbar-items are any elements outside of the primary nav menu,
they should be wrapped in this class to ensure consistent display
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  display: flex;
  align-items: center;
  position: relative;
  font-size: $navbar-font-size;
  font-weight: $navbar-font-weight;
  flex: 0 1 auto; // Allows items to grow horizontally if there is room, if there is not enough room they will grow vertically
  padding: $navbar-link-padding-y $navbar-link-padding-x;
  margin: 0;
  @include above($nav-expands) {
    padding: $navbar-link-padding-expanded-y $navbar-link-padding-expanded-x;
  }
}
.navbar-menu {
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
.navbar-menu contains the main website navigation
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  display: none; // Hide until toggled
  border-top: $navbar-link-border;
  @include above($nav-expands) {
    border-top: 0;
    align-items: stretch; // children have 100% height
    display: flex !important;
    flex: 1 0 auto; // Ensures the menubar takes up all available width
  }
  ul {
  /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  Unordered lists are used for display of website navigation
  *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    list-style-type: none;
    margin: 0;
    width: 100%;
    @include above($nav-expands) {
      display: flex;
      align-items: stretch; // children have 100% height
    }
    li {
      width: 100%;
      margin: 0;
      position: relative;
      @include above($nav-expands) {
        width: auto; // We don't want 100% width li on larger screen sizes
        display: flex;
        align-items: stretch; // children have 100% height
        &:nth-of-type(n+3) {
          // Makes all drop downs move left instead of right
          ul {
            right: 0;
            li a::after {
              transform: rotate(135deg) !important; // Flip arrow to denote fly out location
            }
            li ul {
              // Deeply Nested
              transform: translate(5px, 0); // Fly out to left
              left: calc( -100%);
            }
          }
        }
      }
      a {
      /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
      Link Styles
      *~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        @extend %navbar-links;
        font-size: $navbar-font-size;
        font-weight: $navbar-font-weight;
        display: block;
        position: relative;
        padding: $navbar-link-padding-y $navbar-link-padding-x;
        border-bottom: $navbar-link-border;
        @include above($nav-expands) {
          padding: $navbar-link-padding-expanded-y $navbar-link-padding-expanded-x;
          display: flex;
          align-items: center;
          flex: 1 0 auto;
          border: 0;
        }
      }
      ul {
      /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
      Secondary level navigation
      (drop downs)
      *~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        display: none;
        //margin-left: $navbar-link-padding-y*2;
          a {
            text-transform: $navbar-submenu-text-transform;
            font-weight: $navbar-submenu-font-weight;
            @include below($nav-expands) {
              padding-left: $navbar-link-padding-y*3;
            }
          }
          li ul {
            // TODO: Make this more DRY
            /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
            Deeply Nested Nav Links
            *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
            a {
              @include below($nav-expands) {
                padding-left: $navbar-link-padding-y*5;
              }
            }
            li ul a {
              @include below($nav-expands) {
                padding-left: $navbar-link-padding-y*7;
              }
            }
        }
        @include above($nav-expands) {
          background: $navbar-bg-color;
          position: absolute;
          z-index: 9999;
          top: 100%; // Move to bottom of parent
          display: flex;
          flex-direction: column;
          min-width: $navbar-submenu-min-width;
          max-width: $navbar-submenu-max-width;
          transform: translateY(-5px);
          opacity: 0.6;
          transition: transform 0.1s linear, opacity 0.1s linear;
          li {
            display: none;
            border-top: $navbar-link-border;
            ul {
            /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
            Deeply Nested Nav
            *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
              top: 0;
              left: 100%;
              transform: translate(-5px,0)
            }
          }
        }
      }
      &.has-children > a {
      /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
      Menu items with children
      *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        padding-right: $navbar-link-padding-x*3 !important;
        @include above($nav-expands) {
          padding-right: $navbar-link-padding-expanded-x*3 !important;
        }
        &::after {
          @include pseudo;
          pointer-events: none;
          height: 12px;
          width: 12px;
          border: $hamburger-layer-height solid $navbar-link-color;
          border-radius: $hamburger-layer-border-radius;
          border-left: 0;
          border-top: 0;
          top: 30%;
          right: $hamburger-padding-x*1.4;
          transform: rotate(45deg);
          transform-origin: center;
          @include smooth(opacity);
          @include above($nav-expands) {
            top: 35%;
            right: $navbar-link-padding-expanded-x;
          }
        }
      }
      ul li.has-children > a::after {
      /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
      Nested menu items with children
      *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        @include above($nav-expands) {
          transform: rotate(-45deg);
          opacity: 0.2;
          }
      }
      @include below($nav-expands) {
      /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
      When an li has .drop-active applied, show the immediate ul child
      *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        &.drop-active {
          > ul {
            display: block;
          }
          & > a::after {
            opacity: 0.2;
          }
        }
      }
      @include above($nav-expands) {
      /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
      When an li with children is hovered or the anchor is focused, show the drop down
      *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
        &.has-children:hover, &.has-children:focus-within {
            > ul {
            // Transitioning opacity and translateY gives a nice ease-in effect
            opacity: 1;
            transform: translateY(0px);
            & > li {
              display: block;
            }
          }
          > a::after {
            opacity: 0.2;
          }
        }
      }
    }
  }
  .current-page {
  /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  Styles the currently active page
  *~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    a {
      &, &:visited  {
      background: $navbar-current-page-background;
      color: $navbar-current-page-color;
      font-weight: $navbar-current-page-font-weight !important;
      }
      &:hover, &:focus {
        color: $navbar-link-hover-color;
        background-color: $navbar-link-hover-bg-color;
      }
    }
  }
  // Left side of navbar-menu
  .navbar-start {
    @include above($nav-expands) {
    display: flex;
    align-items: stretch; // children have 100% height
    justify-content: flex-start; // push to front
    margin-right: auto;
    }
  }
  // Right side of navbar-menu
  .navbar-end {
    padding: $navbar-link-padding-y 0;
    display: flex;
    align-items: center; // children are centered
    @include above($nav-expands) {
    justify-content: flex-end; // push to end
    margin-left: auto;
    padding: 0;
    }
  }
  input, .button, a.button {
    margin: $navbar-link-padding-y $navbar-link-padding-x;
    position: relative;
    @include above($nav-expands) {
      margin: $navbar-link-padding-expanded-y $navbar-link-padding-expanded-x;
    }
  }
  input {
    width: auto;
  }
}
.hamburger {
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
.hamburger is only shown on smaller devices
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
  margin-left: auto;
  margin-top: $hamburger-margin-y;
  margin-bottom: $hamburger-margin-y;
  background-color: $hamburger-background-color;
  border: $hamburger-border;
  border-radius: $hamburger-border-radius;
  //justify-content: space-between;
  text-align: right;
  display: flex;
  align-items: center;
  @extend .hamburger--#{$primary-hamburger-type}; // extends class from hamburgers.scss to select specified animation
  @include smooth(background-color, border);
  @include above($nav-expands) {
    display: none; // Hide on larger screens
  }
  &:hover, &:focus {
      background-color: $hamburger-background-color-hover;
      border: $hamburger-border-hover;
  }
  &:focus {
      outline: 0;
      box-shadow: none !important;
  }
}
.hamburger-label {
  font-weight: $navbar-font-weight;
  font-size: $navbar-font-size;
  text-transform: uppercase;
  color: $hamburger-layer-color;
  margin: 0 8px;
  .is-active & {
      color: $hamburger-active-layer-color;
  }
}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
Utilities
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.hide-above-nav {
  @include above($nav-expands) {
    display: none !important;
  }
}
.hide-below-nav {
  @include below($nav-expands) {
    display: none !important;
  }
}

// TODO: Add an option to have an off-canvas menu
// TODO: Make drop down menus more forgiving, allowing cursor to stray off path a little
