/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  TABLES
  Default styling table elements
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

// Table expands to full width of container
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
td {
    border-bottom: $borders;
}
th {
    font-weight: bold;
}
th,
td {
    text-align: left;
    padding: .5em .8em;
}
table.is-striped {
  tr:nth-child(odd) td {
    background: $table-stripe-color;
  }
}
table.has-border {
  &, td, th {
    border: $borders;
  }
  thead th {
    border-bottom-width: $border-width*2;
  }
  tfoot th {
    border-top-width: $border-width*2;
  }
}
table.is-hoverable {
  tr:hover td {
    background: $table-hover-background !important;
    color: $table-hover-color;
  }
}
thead th {
  border-bottom: $border-width*2 solid $border-color;
}
tfoot th {
  border-top: $border-width*2 solid $border-color;
}
// Wrap around a table to prevent it breaking outside the grid
.table-container {
  overflow-x: auto;
  width: 100%;
}
