/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  THEME COLORS
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@each $name, $color in $theme-colors {
  // Loop through $theme-colors map and create classes for .bg-* and .text-*
  .bg-#{$name} {
    background-color: $color;
    color: choose-contrast-color($color,$color-text, $color-white);
    #{headings()} { // TODO: Add to Docs
      color: choose-contrast-color($color, $color-white, $color-headings-preferred);
    }
    a:not(.button) { // TODO: Add to Docs
      & {
        color: choose-contrast-color($color, $link-color, tint($color,30%));
      }
      &:visited {
        color: choose-contrast-color($color, $link-visited, tint($color,30%));
      }
      &:hover, &:focus {
        color: choose-contrast-color($color, $link-active, $color-white);
      }
    }
  }
  .text-#{$name} {
    color: $color !important;
  }
}

.bg-transparent {
  background-color: transparent;
}
