.mb {
  margin-bottom: $element-margin !important;
}
.mt {
  margin-top: $element-margin !important;
}
.mr {
  margin-right: $element-margin !important;
}
.ml {
  margin-left: $element-margin !important;
}
.m-0 {
  margin: 0px !important;
}
.mt-0 {
  margin-top: 0px !important;
}
.mr-0 {
  margin-right: 0px !important;
}
.mb-0 {
  margin-bottom: 0px !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.p-0 {
  padding: 0px !important;
}
.pt-0 {
  padding-top: 0px !important;
}
.pr-0 {
  padding-right: 0px !important;
}
.pb-0 {
  padding-bottom: 0px !important;
}
.pl-0 {
  padding-left: 0px !important;
}
.b-0 {
  border: none !important;
}
.bt-0 {
  border-top: none !important;
}
.br-0 {
  border-right: none !important;
}
.bb-0 {
  border-bottom: none !important;
}
.bl-0 {
  border-left: none !important;
}
