// Use on a .row to make all immediate child columns the same height
.equal-height {
  > .col {
    display: flex !important;
  }
}
// On a .grid / .auto-grid: align each item's internal rows via subgrid.
.subgrid-rows {
  grid-auto-rows: max-content;

  > * {
    grid-row: span var(#{token-name("subgrid-rows")}, 1);
    display: grid !important;
    grid-template-rows: subgrid !important;
  }
}
// Converts anything into a flex container {
.flex {
  display: flex !important;
}
// Converts to flex and displays as a column
.flex-column {
  display: flex !important;
  flex-direction: column !important;
}

.align-top {
  align-items: start !important;
}
.align-middle {
  align-items: center !important;
}
.align-bottom {
  align-items: end !important;
}
.align-baseline {
  align-items: baseline !important;
}
.align-stretch {
  align-items: stretch !important;
}
.align-self-top {
  align-self: start !important;
}
.align-self-middle {
  align-self: center !important;
}
.align-self-bottom {
  align-self: end !important;
}
// Justify classes
.justify-start {
  justify-content: start !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-end {
  justify-content: end !important;
}
.justify-around {
  justify-content: space-around !important;
}
.justify-between {
  justify-content: space-between !important;
}
.justify-evenly {
  justify-content: space-evenly !important;
}
