.italic {
  font-style: italic !important;
}
.weight-hairline {
  font-weight: get-weight(hairline) !important;
}
.weight-thin {
  font-weight: get-weight(thin) !important;
}
.weight-light {
  font-weight: get-weight(light) !important;
}
.weight-normal {
  font-weight: get-weight(normal) !important;
}
.weight-medium {
  font-weight: get-weight(medium) !important;
}
.weight-semibold {
  font-weight: get-weight(semibold) !important;
}
.weight-bold,
.bold {
  font-weight: get-weight(bold) !important;
}
.weight-xbold {
  font-weight: get-weight(xbold) !important;
}
.weight-black {
  font-weight: get-weight("black") !important;
}

.h1 {
  @include h1($important: true);
}
.h2 {
  @include h2($important: true);
}
.h3 {
  @include h3($important: true);
}
.h4 {
  @include h4($important: true);
}
.h5 {
  @include h5($important: true);
}
.h6 {
  @include h6($important: true);
}

.font-size-small {
  @include type(sm, $important: true);
}

.standfirst {
  @include type(lg);
  font-weight: get-weight(medium);
}

.nowrap {
  white-space: nowrap !important;
}
