.italic {
  font-style: italic !important;
}
.weight-hairline {
  font-weight: $weight-hairline !important;
}
.weight-thin {
  font-weight: $weight-thin !important;
}
.weight-light {
  font-weight: $weight-light !important;
}
.weight-normal {
  font-weight: $weight-normal !important;
}
.weight-medium {
  font-weight: $weight-medium !important;
}
.weight-semibold {
  font-weight: $weight-semibold !important;
}
.weight-bold,
.bold {
  font-weight: $weight-bold !important;
}
.weight-xbold {
  font-weight: $weight-xbold !important;
}
.weight-black {
  font-weight: $weight-black !important;
}

.h1 {
  @include h1();
}
.h2 {
  @include h2();
}
.h3 {
  @include h3();
}
.h4 {
  @include h4();
}
.h5 {
  @include h5();
}
.h6 {
  @include h6();
}

.small {
  @extend %small;
}

.nowrap {
  white-space: nowrap !important;
}
