.italic {
  font-style: italic !important;
}
.weight-hairline {
  font-weight: $weight-hairline !important;
}
.weight-thin {
  font-weight: $weight-thin !important;
}
.weight-light {
  font-weight: $weight-light !important;
}
.weight-normal {
  font-weight: $weight-normal !important;
}
.weight-medium {
  font-weight: $weight-medium !important;
}
.weight-semibold {
  font-weight: $weight-semibold !important;
}
.weight-bold,
.bold {
  font-weight: $weight-bold !important;
}
.weight-xbold {
  font-weight: $weight-xbold !important;
}
.weight-black {
  font-weight: $weight-black !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: $heading-line-height !important;
}

.h1 {
  @each $point, $size in $font-sizes-h1 {
    @if $point == "root" {
      // Root font size at smallest device width
      font-size: $size !important;
    } @else {
      // Otherwise use the breakpoint map to set the font size
      @include above($point) {
        font-size: $size !important;
      }
    }
  }
}

.h2 {
  @each $point, $size in $font-sizes-h2 {
    @if $point == "root" {
      // Root font size at smallest device width
      font-size: $size !important;
    } @else {
      // Otherwise use the breakpoint map to set the font size
      @include above($point) {
        font-size: $size !important;
      }
    }
  }
}

.h3 {
  @each $point, $size in $font-sizes-h3 {
    @if $point == "root" {
      // Root font size at smallest device width
      font-size: $size !important;
    } @else {
      // Otherwise use the breakpoint map to set the font size
      @include above($point) {
        font-size: $size !important;
      }
    }
  }
}

.h4 {
  @each $point, $size in $font-sizes-h4 {
    @if $point == "root" {
      // Root font size at smallest device width
      font-size: $size !important;
    } @else {
      // Otherwise use the breakpoint map to set the font size
      @include above($point) {
        font-size: $size !important;
      }
    }
  }
}

.h5 {
  @each $point, $size in $font-sizes-h5 {
    @if $point == "root" {
      // Root font size at smallest device width
      font-size: $size !important;
    } @else {
      // Otherwise use the breakpoint map to set the font size
      @include above($point) {
        font-size: $size !important;
      }
    }
  }
}

.h6 {
  @each $point, $size in $font-sizes-h6 {
    @if $point == "root" {
      // Root font size at smallest device width
      font-size: $size !important;
    } @else {
      // Otherwise use the breakpoint map to set the font size
      @include above($point) {
        font-size: $size !important;
      }
    }
  }
}

.small {
  @extend %small;
}

.nowrap {
  white-space: nowrap !important;
}
