// Base styles for form elements
%forms {
    display: block;
    border: $borders;
    border-radius: $border-radius;
    background: $input-background;
    font-family: $form-font;
    padding: 10px;
    outline: none;
    margin: get-size(0.25) 0 get-size(0.75) 0;
    width: 100%;
    max-width: 100%;
    line-height: 1;
    font-size: 16px !important;
    opacity: 1;
}

%forms-hover {
    border-color: $form-border-hover;
}

%forms-focus {
    border-color: $form-focus-border-color;
    box-shadow: $form-focus-shadow-inner, $form-focus-shadow-outer;
}

// Forms stack defined in _settings.scss
#{$form-items} {
    @extend %forms;
    &:hover {
        @extend %forms-hover;
    }
    &:focus {
      @extend %forms-focus;
    }
    &:disabled {
      // Grey out disabled form elements
      cursor: not-allowed;
      border: $borders;
      box-shadow: none;
      opacity: 0.5;
    }
}

// Fix textarea height and overflow
textarea {
    overflow: auto;
    height: auto;
}

// Labels
label {
    max-width: 100%;
    display: block;
    margin: 0;
}

// Add margin to checkboxes and radioboxes
input[type=checkbox], input[type=radio] {
  margin-right: get-size(0.25);
}

// Field Sets
fieldset {
    border: $form-fieldset-border;
    border-radius: $border-radius;
    padding: $element-padding;
    margin: $element-margin 0;
}
legend {
    padding: 0 get-size(0.75);
    margin-left: n(get-size(0.75));
    font-weight: $weight-bold;
}

// Make range full width
[type=range] {
  width: 100%;
}

// Fix issues with select
select {
  color: $color-text;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: $input-background url("data:image/svg+xml;charset=utf-8,<svg width='41' height='26' viewBox='0 0 41 26' xmlns='http://www.w3.org/2000/svg'><path fill='#{$placeholder-color}' d='M0 5.382l19.983 19.983L40.14 5.208 34.932 0 19.869 15.062 4.84.032z' fill-rule='evenodd'/></svg>") right 10px center no-repeat;
  background-size: .75em;
  line-height: 1.4; // ensures text doesn't get cut off
}

// Dropdown icon fix for IE
select::-ms-expand {
  display: none;
}

// Make color picker look better
[type=color] {
height: get-size(3);
padding: get-size(0.25) get-size(0.5);
vertical-align: middle;
}

// Placeholder Text
::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: $placeholder-color;
}

form {
  [type=submit], [type=reset], [type=button] {
    margin-top: get-size(0.25);
  }
}

// TODO: add a field-group container
// TODO: Add input groups and input addons https://www.shoelace.style/docs/forms.html
// TODO: Add validation?
// TODO: Add Input Group https://getbootstrap.com/docs/4.0/components/input-group/

