:root {
  @include map-to-css-properties($colors, "color-");
  --color-background: #{$body-background-color};
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-text: #{$color-text};
  --color-headings-preferred: #{$color-headings-preferred};
  --font-primary: #{$font-primary};
  --font-secondary: #{$font-secondary};
  --font-monospace: #{$font-monospace};
  --grid-gutter: #{$base-col-gutter};
  --root-font-size: #{$root-font-size};
  --root-line-height: #{$root-line-height};
  @include map-to-css-properties($type-scale, "font-size-");

  @each $point, $i in $breakpoints {
    // for each breakpoint defined...
    @include above($point) {
      @if (map-deep-get($breakpoints, $point, "col-gutter") != null) {
        --grid-gutter: #{map-deep-get($breakpoints, $point, "col-gutter")};
      }
      @if (map-deep-get($breakpoints, $point, "root-font-size") != null) {
        --root-font-size: #{map-deep-get(
            $breakpoints,
            $point,
            "root-font-size"
          )};
      }
      @if (map-deep-get($breakpoints, $point, "root-line-height") != null) {
        --root-line-height: #{map-deep-get(
            $breakpoints,
            $point,
            "root-line-height"
          )};
      }
    }
  }

  --link-color: #{$link-color};
  --link-color-active: #{$link-active};
  --link-color-visited: #{$link-visited};

  --card-border-radius: #{$card-border-radius};
  --card-border-style: #{$card-border-style};
  --card-border-color: #{$card-border-color};
  --card-border-width: #{$card-border-width};
  --card-padding: #{$card-padding};

  --chip-color-theme: #{v(color-neutral-50)};
  --chip-color-text: #{resolve-contrast-color(get-color-raw(neutral, 50))};

  --modal-max-width: #{$modal-max-width};
  --modal-padding: #{$modal-padding};

  --form-input-background: #{$input-background};
  --form-input-border-width: #{$border-width};
  --form-input-border-style: #{$border-style};
  --form-input-border-color: #{$border-color};
  --form-input-border-radius: #{$border-radius};
  --form-input-placeholder-color: #{$placeholder-color};

  --table-border-color: #{$table-border-color};
  --table-font-size: #{$table-font-size};
  --table-stripe-color: #{$table-stripe-color};
  --table-hover-background: #{$table-hover-background};
  --table-cell-background: transparent;

  --navbar-bg-color: #{$navbar-bg-color};
  --navbar-link-color: #{$navbar-link-color};
  --navbar-link-bg-color: #{$navbar-link-bg-color};
  --navbar-link-hover-color: #{$navbar-link-hover-color};
  --navbar-link-hover-bg-color: #{$navbar-link-hover-bg-color};
  --navbar-link-hover-weight: #{$navbar-link-hover-weight};
  --navbar-link-border: #{$navbar-link-border};

  --navbar-text-transform: #{$navbar-text-transform};
  --navbar-font-size: #{$navbar-font-size};
  --navbar-font-family: #{$navbar-font-family};
  --navbar-font-weight: #{$navbar-font-weight};

  --navbar-link-padding-x: #{$navbar-link-padding-x};
  --navbar-link-padding-y: #{$navbar-link-padding-y};
  --navbar-dropdown-width: #{$navbar-dropdown-width};
  --navbar-dropdown-anchor: #{$navbar-dropdown-anchors-right-after};
}
