// Table expands to full width of container
table {
  #{token-name("table-font-size")}: #{$table-font-size};
  #{token-name("table-stripe-bg-color")}: color-mix(
    in srgb,
    #{get-color-role(neutral, emphasis)} 10%,
    #{get-color-role(neutral, subtle)}
  );
  #{token-name("table-hover-background")}: #{get-color-role(neutral, muted)};
  #{token-name("table-cell-background")}: transparent;

  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  line-height: $table-line-height;
  font-size: token(table-font-size);
}
th,
td {
  border-block-end: token(border-width) token(border-style)
    token-or(table-border-color, border-color);
}
th {
  font-weight: get-weight(bold);
}
th,
td {
  vertical-align: top;
  text-align: start;
  padding: $table-cell-padding;
  background: token(table-cell-background);
  color: token(table-text-color, inherit);
}

thead th,
tfoot th {
  #{token-name("table-cell-background")}: #{get-color-role(neutral, subtle)};
  #{token-name("table-text-color")}: #{token(color-on-neutral-subtle)};
}
thead th {
  border-block-end: token(border-width-strong) token(border-style)
    token-or(table-border-color, border-color);
}
tfoot th {
  border-block-start: token(border-width-strong) token(border-style)
    token-or(table-border-color, border-color);
}

// Wrap around a table to prevent it breaking outside the grid
.table-container {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: clip;
  table {
    margin-block-end: 0;
  }
  margin-block-end: token(flow);
}

table.is-striped {
  tbody tr:nth-child(odd) {
    td,
    th {
      #{token-name("table-cell-background")}: token(table-stripe-bg-color);
    }
  }
}

table.has-border {
  &,
  td,
  th {
    border: token(border-width) token(border-style)
      token-or(table-border-color, border-color);
  }
  thead th {
    border-block-end-width: token(border-width-strong);
  }
  tfoot th {
    border-block-start-width: token(border-width-strong);
  }
}

table.is-hoverable {
  tbody tr:hover {
    td,
    th {
      #{token-name("table-text-color")}: token(
        table-text-hover-color,
        #{token(color-on-neutral-muted)}
      );
      #{token-name("table-cell-background")}: token(table-hover-background);
    }
  }
}

table.is-responsive {
  @include below($table-responsive-breakpoint) {
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    &.has-border {
      border: 0px;
    }
    td,
    th {
      border: token(border-width) token(border-style)
        token-or(table-border-color, border-color);
    }

    tr {
      display: block;
    }

    tbody td,
    tbody th {
      display: block;
      &::before {
        content: attr(data-label) ":";
        font-weight: get-weight(semibold);
        display: block;
        color: token(color-headings);
        //border-block-end: 1px solid token-or(table-border-color, border-color)
        //padding-block-end: 0.25em;
        margin-block-end: 0.5em;
      }
    }
  }
}

// Table Mods
@if $generate-table-modifiers {
  @each $key, $map in $colors {
    @include createTableModifiers($key);
  }
}
