// Table expands to full width of container
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  line-height: 1.3;
  font-size: var(--table-font-size);
}
td {
  border-bottom: 1px solid var(--table-border-color);
}
th {
  font-weight: $weight-bold;
}
th,
td {
  vertical-align: top;
  text-align: left;
  padding: $table-cell-padding;
  background: var(--table-cell-background);
  color: var(--table-text-color, inherit);
}
thead th {
  border-bottom: 2px solid var(--table-border-color);
}
tfoot th {
  border-top: 2px solid var(--table-border-color);
}

// Wrap around a table to prevent it breaking outside the grid
.table-container {
  max-width: 100%;
  overflow: auto;
  overflow-y: auto;
  overflow-y: hidden;
  table {
    margin-bottom: 0;
  }
  margin-bottom: $element-margin;
}

table.is-striped {
  tr:nth-child(odd) td {
    background: var(--table-stripe-color);
  }
}

table.has-border {
  &,
  td,
  th {
    border: 1px solid var(--table-border-color);
  }
  thead th {
    border-bottom-width: 2px;
  }
  tfoot th {
    border-top-width: 2px;
  }
}

table.is-hoverable {
  tr:hover td {
    --table-text-color: var(--table-text-hover-color, #{$table-hover-color});
    background: var(--table-hover-background) !important;
  }
}

table.is-responsive {
  @include below($table-responsive-breakpoint) {
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    &.has-border {
      border: 0px;
    }
    td,
    th {
      border: 1px solid var(--table-border-color);
    }

    tbody tr {
      border-top: get-size(1);
    }

    tr {
      display: block;
    }

    td {
      display: block;
      &::before {
        content: attr(data-label) ":";
        font-weight: $weight-semibold;
        display: block;
        color: $color-headings-preferred;
        //border-bottom: 1px solid var(--table-border-color)
        //padding-bottom: 0.25em;
        margin-bottom: 0.5em;
      }
    }
  }
}

// Table Mods
@if $generate-table-modifiers {
  @each $key, $map in $colors {
    @include createTableModifiers($key);
  }
}
