// Table expands to full width of container
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
td {
  border-bottom: 1px solid $table-border-color;
}
th {
  font-weight: $weight-bold;
}
th,
td {
  text-align: left;
  padding: $table-cell-padding;
}
thead th {
  border-bottom: 2px solid $table-border-color;
}
tfoot th {
  border-top: 2px solid $table-border-color;
}

// Wrap around a table to prevent it breaking outside the grid
.table-container {
  overflow-x: auto;
  width: 100%;
  table {
    margin-bottom: 0;
  }
  margin-bottom: $element-margin;
}

table.is-striped {
  tr:nth-child(odd) td {
    background: $table-stripe-color;
  }
}

table.has-border {
  &,
  td,
  th {
    border: 1px solid $table-border-color;
  }
  thead th {
    border-bottom-width: 2px;
  }
  tfoot th {
    border-top-width: 2px;
  }
}

table.is-hoverable {
  tr:hover td {
    background: $table-hover-background !important;
    color: $table-hover-color;
  }
}

table.is-responsive {
  @include below($table-responsive-breakpoint) {
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    &.has-border {
      border: 0px;
    }
    td,
    th {
      border: 1px solid $table-border-color;
    }

    tbody tr {
      border-top: get-size(1);
    }

    tr {
      display: block;
    }

    td {
      display: block;
      &::before {
        content: attr(data-label) ":";
        font-weight: $weight-semibold;
        display: block;
        color: $color-headings-preferred;
        //border-bottom: 1px solid $table-border-color;
        //padding-bottom: 0.25em;
        margin-bottom: 0.5em;
      }
    }
  }
}
