@if ($generate-navbar) == true {
  .navbar {
    position: relative;
    // Outer 100% width wrapper usually used with a <nav> element
    background: var(--navbar-bg-color);
    color: var(--navbar-link-color); // To ensure all non-link text is styled
    .container {
      @include below($nav-expands) {
        width: 100%;
        padding: 0;
      }
    }
  }

  // Break out so it can be extended
  %navbar-links {
    text-decoration: none;
    text-transform: var(--navbar-text-transform);
    @include smooth(background, color, font-weight);
    &,
    &:visited {
      color: var(--navbar-link-color);
      background-color: var(--navbar-link-bg-color);
    }
    &:hover,
    &:focus {
      color: var(--navbar-link-hover-color);
      background-color: var(--navbar-link-hover-bg-color);
      font-weight: var(--navbar-link-hover-weight);
    }
  }

  .navbar-menu {
    // Wrapper for the main website navigation
    display: none; // Hide until toggled
    border-top: var(--navbar-link-border);
    ul {
      // Navigation List
      list-style-type: none;
      margin: 0;
      width: 100%;
    }
    li {
      // Navigation Links
      width: 100%;
      position: relative;
      margin: 0;
      a {
        @extend %navbar-links;
        font: {
          family: var(--navbar-font-family);
          size: var(--navbar-font-size);
          weight: var(--navbar-font-weight);
        }
        display: block;
        position: relative;
        border-bottom: var(--navbar-link-border);
        padding: var(--navbar-link-padding-y) var(--navbar-link-padding-x);
      }
      & > ul {
        display: none; // Hide until required
        --navbar-font-size: #{$navbar-sublink-font-size};
        --navbar-font-family: #{$navbar-sublink-font-family};
        --navbar-font-weight: #{$navbar-sublink-font-weight};
        --navbar-text-transform: #{$navbar-sublink-text-transform};
        --navbar-link-hover-weight: #{$navbar-sublink-font-weight-hover};
      }
    }
    li.has-children > a {
      // Menu Items with Children
      padding-right: var(--navbar-link-padding-x) +
        30px; // 20px is approx the width of the rotated pseudo element and 10px is the padding
      // TODO: Make these not magic numbers
      &::after {
        @include pseudo;
        pointer-events: none;
        height: 12px;
        width: 12px;
        border: $hamburger-layer-height solid rgba($color-white, 0.4);
        border-left: 0;
        border-top: 0;
        top: 50%;
        right: 0;
        transform: translate(-10px, -50%) rotate(45deg);
        transform-origin: top center;
        @include smooth(opacity, border-color);
      }
      &:hover,
      &:focus {
        &::after {
          border-color: rgba($color-white, 0.6);
        }
      }
    }
    li.drop-active {
      // Display sub nav if class of parent has .drop-active
      > ul {
        display: block;
      }
      & > a::after {
        // Fade out drop down arrow
        border-color: rgba($color-white, 0.1);
      }
    }
    input,
    .button,
    a.button {
      margin: var(--navbar-link-padding-y) var(--navbar-link-padding-x);
      position: relative;
    }
    input {
      width: auto;
    }
  }

  // Element in the top left of the navbar.
  // Typically contains the logo. Also contains the hamburger icon
  // Visible on smaller devices
  .navbar-brand {
    display: flex;
    align-items: center;
    flex-shrink: 0; // Don't allow this to shrink
  }

  // Elements outside of the primary nav menu that we want to appear in a consistent style to menu links
  .navbar-item {
    font: {
      size: var(--navbar-font-size);
      weight: var(--navbar-font-weight);
    }
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    * {
      margin: 0;
    }
    padding: var(--navbar-link-padding-y) var(--navbar-link-padding-x);
    flex: 0
      1
      auto; // Allows items to grow horizontally if there is room, if there is not enough room they will grow vertically
    color: var(--navbar-link-color);
    a,
    a:visited {
      color: var(--navbar-link-color);
      text-decoration: none;
    }
    a:hover,
    a:focus {
      color: var(--navbar-link-hover-color);
      font-weight: var(--navbar-link-hover-weight);
    }
  }
}
