// TODO: Fix Overflow issue on mobile
@if ($generate-navbar) == true {
  $nav-fade-offset: 10px;

  @include above($nav-expands) {
    :root {
      --navbar-link-padding-x: #{$navbar-link-padding-expanded-x};
      --navbar-link-padding-y: #{$navbar-link-padding-expanded-y};
      --navbar-font-size: #{$navbar-font-size-expanded};
    }
    .navbar {
      .container {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .navbar-menu {
      // Wrapper for the main website navigation
      display: flex !important;
      border-top: 0;
      flex: 1 1 auto; // Ensures the menubar takes up all available width
      align-items: stretch; // children have 100% height

      ul {
        // Navigation List
        display: flex;
        align-items: stretch; // children have 100% height
        flex: 1 1 auto;
        flex-wrap: wrap;
      }

      li {
        // Navigation Links
        display: flex;
        align-items: stretch; // children have 100% height
        width: auto;

        a {
          display: flex;
          align-items: center;
          flex: 1 0 auto; // Grow to fill container
          border: 0;
        }

        & > ul {
          // Secondary Level Navigation Menu
          display: block;
          z-index: 1;
          position: absolute;
          top: -999999em;
          transform: translateY(-$nav-fade-offset);
          width: var(--navbar-dropdown-width);
          opacity: 0.2;
          transition: transform 0.1s linear, opacity 0.05s linear;
          --navbar-font-size: #{$navbar-sublink-font-size-expanded};
          --navbar-link-color: #{$navbar-sublink-color};
          --navbar-link-bg-color: #{$navbar-sublink-bg-color};
          --navbar-link-hover-color: #{$navbar-sublink-hover-color};
          --navbar-link-hover-bg-color: #{$navbar-sublink-hover-bg-color};
          a {
            // Drop down link
            border-top: var(--navbar-link-border);
          }

          li.has-children a::after {
            // Nested Nav with Children
            transform: translate(-10px, -50%) rotate(-45deg); // Flip arrow to denote fly out location
            transform-origin: center;
          }
        }

        ul li ul {
          // Deep nested nav
          left: 100%;
          transform: translate(-$nav-fade-offset, 0);
        }
      }

      li.has-children > a {
        // Menu Items with Children
        padding-right: calc(
          var(--navbar-link-padding-x) + 30px
        ); // 20px is approx the width of the rotated pseudo element and 10px is the padding

        &::after {
          transform: translate(-10px, -50%) rotate(45deg);
        }
      }

      li.has-children:hover {
        // Show the drop down on hover
        > ul {
          opacity: 1;
          transform: translateY(0px);
          top: 100%;
          z-index: 5;
          & > li {
            display: block;
          }
        }

        > a::after {
          opacity: 0.5;
        }
      }
      li.has-children:focus-within {
        // Show the drop down on inner-focus. This selector is not supported in IE/Edge
        // so has to be duplicated else the :hover state will be ignored
        > ul {
          opacity: 1;
          transform: translateY(0px);
          top: 100%;

          & > li {
            display: block;
          }
        }

        > a::after {
          opacity: 0.5;
        }
      }

      li ul li.has-children:hover > ul {
        top: 0;
      }

      li ul li.has-children:focus-within > ul {
        top: 0;
      }

      li:nth-of-type(n + #{var(--navbar-dropdown-anchor)}) {
        // Makes all drop downs move left instead of right
        ul {
          right: 0;

          ul {
            // Deeply Nested
            transform: translate($nav-fade-offset, 0); // Fly out to left
            left: -100%;
          }

          li.has-children a::after {
            transform: translate(-10px, -50%) rotate(135deg); // Flip arrow to denote fly out location
          }
        }
      }

      input,
      .button,
      a.button {
        margin: var(--navbar-link-padding-y) var(--navbar-link-padding-x);
      }
    }

    .navbar-start {
      justify-content: flex-start; // push to front
      margin-right: auto;
      display: flex;
      align-items: $navbar-start-flex-align;
    }

    .navbar-end {
      justify-content: flex-end; // push to end
      margin-left: auto;
      display: flex;
      align-items: $navbar-end-flex-align;
    }
  }
}
