body.home {
  .github {
    position: absolute;
    top: get-size(0.5);
    right: get-size(0.5);
    border: 0;
    z-index: 100;
  }
  h1 {
    background-color: rgba(248, 217, 226);
    color: get-color(primary, 500);
    font-weight: $weight-xbold;
    letter-spacing: 0.04em;
    padding: 0.5em 1em;
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: max-content;
    left: 50%;
    margin: 0 auto;
    text-transform: uppercase;
    transform: translate(-50%, n(get-size(1))) rotate(-2deg);
    border-radius: get-size(0.75);
    box-shadow: 0 0 0 6px get-color(secondary), 0 0 0 8px rgb(255, 240, 180),
      0 0 0 10px get-color(primary);
  }
}
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: get-size(3);
  padding-bottom: get-size(3);
  min-height: 100dvh;
}
.logo {
  user-select: none;
  position: relative;
  img {
    width: 400px;
    filter: drop-shadow(0 0 0.3rem rgba(get-color-raw(primary, 900), 0.4));
    transition: filter 0.3s ease-in-out;
  }
  &:hover,
  &:focus {
    img {
      filter: drop-shadow(0 0 0.9rem rgba(get-color-raw(primary, 900), 0.8));
    }
  }
  animation: bob infinite 3s ease-in-out;
}

@keyframes bob {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
