/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  GLOBAL ELEMENTS
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    @include rem-baseline;
}
body {
    font: {
        family: $font-primary;
        size: $base-font-size;
    }
    line-height: $base-line-height;   
    color: color(text);
    background-color: color(background);

    @each $point, $i in $breakpoints {
        // set base font size and line height for each specified media query
       @include above($point) {
           font-size: bp-query($point, base-font-size);
           line-height: bp-query($point, base-line-height);
       }
   }
   @if $debug-mode-on {
       @extend .jf-debug;
   }
}

// Font Sizes
%font-size{
    &--xsmall { font-size: 0.6em}
    &--small { font-size: 0.8em }
    &--normal { font-size: 1em}
    &--medium { font-size: 1.5em}
    &--large { font-size: 1.75em}
    &--xlarge { font-size: 2em}
    &--xxlarge { font-size: 2.5em}
    &--xxxlarge { font-size: 3em}
}

// Headings and Paragraphs

%headings {
    font-family: $font-secondary;
    margin: 1em 0 .25em 0;
    line-height: 1.2;    
}

h1 {
    @extend %headings;
    @extend %font-size--xxxlarge;
}

h2 { 
    @extend %headings;
    @extend %font-size--xxlarge;
}

h3 { 
    @extend %headings;
    @extend %font-size--xlarge;
}

h4 { 
    @extend %headings;
    @extend %font-size--large;
}

h5 { 
    @extend %headings;
    @extend %font-size--medium;
}

h6 { 
    @extend %headings;
    @extend %font-size--normal;
}

// Reset the top margin on first header in a .row or .col
.row >,
.col > {
    & h1:first-child,
    & h2:first-child,
    & h3:first-child,
    & h4:first-child,
    & h5:first-child,
    & h6:first-child {
        margin-top: 0;
    }
}

p {
    margin: .25em 0 .5em 0;
}

// Links

a {
    @include smooth(color);
    color: color(primary);
    text-decoration: underline;
    &:visited {
        color: color(secondary);
        text-decoration: none;
    }
    &:hover {
        color: color(tertiary);
    }    
    &:focus, &:active {
        color: color(tertiary);
    }
}

// Text transform

small, .small {
    @extend %font-size--small;
}
strong, .bold {
    font-weight: bold;
}
em, .italic {
    font-style: italic;
}

// Lists

%lists {
    margin: .5em 0 1.25em 2.5em;
    list-style-position: outside;
    ul, ol {
        margin: 0 0 0 2em;
    }
}
ul {
    @extend %lists;
    list-style-type: disc;
}
ol {
    @extend %lists;
    list-style-type: decimal;
    ol {
        list-style-type: lower-alpha;
    }
}
li {
    margin: .5em 0;
}
dl {
    margin: .5em 0 1.25em 0;
    dt {
        font-weight: bold;
        margin-top: .5em;
    }
    dd {
        margin-bottom: .5em;
    }
} 

// Utilities

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.hide {
    display: none !important;
}
.invisible {
    visibility: hidden;
}
.alignleft {
    float: left !important;
}
.alignright {
    float: right !important;
} 
.alignnone {
    float: none !important;
} 

.text{
    &-left {
    text-align: left;
    }
     &-right {
    text-align: right;
    }
     &-center {
    text-align: center;
    }
     &-justify {
    text-align: justify;
    }
}

.full-width {
    width: 100% !important;
}

// Images

img {
    width: auto;
    max-width: 100%;
    height: auto;
    &.alignleft {
        @extend %embedded-content;
        @include rem(margin, 0 15px 15px 0);
    }
    &.alignright {
        @extend %embedded-content;
        @include rem(margin, 0 0 15px 15px);
    }
    &.alignnone {
        @extend %embedded-content;
        @include rem(margin, 15px 0);
    }
    &.aligncenter {
        @extend %embedded-content;
        display: block;
        @include rem(margin, 15px auto);
    }
}

%embedded-content {
    @include below(sm) {
        float:none !important;
        @include rem(margin, 10px auto);
        display: block;
    }
}