/* GRID */
//$cols: 12;
//$has_ordering: true;
//$has_offset: true;
//$debug-mode-on: false;

/* JELLYFISH DEFAULTS */
// Base Variables (used before breakpoints are applied)
//$base-col-name: xs;
//$base-container-gutter: 30px; // define in px
//$base-col-gutter: 20px; // define in px

/* DOCUMENT ROOT FONT SIZE AND LINE HEIGHT AT SMALLEST DEVICE WIDTH */
//$root-font-size: 14px;
//$root-line-height: 1.4;

/* GLOBAL PADDING/MARGINS */
//$element-padding: 20px;
//$element-margin: 1.4rem;

/* COLOURS */
//$color-text: #333333;
//$color-text-light: #7e7f7f;
//$color-white: #fff;
//$color-background: $color-white;
//$color-background-alt: #efefef;
//$color-primary: #001496;
//$color-secondary: #a62579;
//$color-tertiary: #8e1b1f;

//$color-success: #77de65;
//$color-warning: #FCCf14;
//$color-error: #FF4200;

/* THEME COLORS */
// Any variable you add here will have the following classes automatically created: .text-*, .bg-*, .label__*, .button__* and .callout__*
$theme-colors: (
  // Eg.
  // "tomato": tomato,
  // "black": #000,
  // "white": #fff
);

/* TYPEFACES */
//$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//$font-secondary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
//$font-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
//$font-body: $font-primary;
//$font-headings: $font-secondary;

/* FONT SIZES */
//$font-size--2: 0.6em;
//$font-size--1: 0.8em;
//$font-size-0: 1em;
//$font-size-1:1.5em;
//$font-size-2:1.5em;
//$font-size-3: 1.75em;
//$font-size-4: 2em;
//$font-size-5: 2.5em;
//$font-size-6: 3em;

//$font-size-h1: $font-size-6;
//$font-size-h2: $font-size-5;
//$font-size-h3: $font-size-4;
//$font-size-h4: $font-size-3;
//$font-size-h5: $font-size-2;
//$font-size-h6: $font-size-1;

/* LINKS */
//$link-color: $color-primary;
//$link-active: $color-secondary;
//$link-visited: $color-tertiary;

/* ACCESSIBILITY */
//$acc-font-size-sm: 14px;
//$acc-font-size-md: 16px;
//$acc-font-size-lg: 18px;

//$acc-button-font-weight: normal;

//$acc-button-color: $color-text-light;
//$acc-button-hover-color: $link-active;
//$acc-button-active-color: inherit;

//$acc-button-border-bottom: 2px;
//$acc-button-hover-border-color: $color-secondary;
//$acc-button-active-border-color: $color-primary;

//$dark-mode-bg-color: #222222;
//$dark-mode-text-color: #e6e6e6;
//$dark-mode-img-grayscale-perc: 50%;
//$dark-mode-link-color: #58cdf1;
//$dark-mode-link-hover: #f1b835;

/* GLOBAL TRANSITION USED IN SMOOTH() */
//$global-transition: 0.2s ease;

/* BORDERS */
//$border-width: 1px;
//$border-style: solid;
//$border-color: tint($color-text-light, 40%);
//$border-radius: 4px;
//$borders: $border-width $border-style $border-color;

/* USER INTERFACE */
//$ui-hover-function: lighten;
//$ui-hover-function-amount: 8%;
//$ui-focus-highlight-amount: 30%;

/* CALLOUTS */
//$callout-tint-perc: 20%;
//$callout-border-radius: $border-radius;

/* FORMS */
//$input-background: $color-white;
//$placeholder-color: $color-text-light;
//$form-text-size: 1rem;
//$form-border-hover: shade($border-color, 60%);
//$form-font: $font-primary;

/* BUTTONS */
//$button-border-width: 1px;
//$button-border-radius: 6px;
//$button-padding: 1em 1.5em;
//$button-text-transform: none;
//$button-font-weight: bold;
//$button-text-color-light: $color-white;
//$button-text-color-dark: $color-text;
//$button-disabled-background: tint($color-text,40%);

/* LABELS */
//$label-font-weight: bold;
//$label-border-radius: 4px;
//$label-outline-border-style: dashed
//$label-text-color-light: $color-white;
//$label-text-color-dark: $color-text;

/* TABLES */
//$table-stripe-color: $color-background-alt;
//$table-hover-background: $color-text-light;
//$table-hover-color: $color-white;

/* CARDS */
//$card-border-radius: 0px;
//$card-border-style: $border-style;
//$card-border-color: $border-color;
//$card-border-width: $border-width;
//$card-padding: $element-padding;
//$card-background-color: $color-background;

/* NAVBAR */
$nav-expands: 1220px; // Point at which the nav kicks in. You'll also need to change this in the .js to produce a clickable drop down when responsive
//$navbar-bg-color: $color-primary;
//$navbar-container-padding: 10px; // Applies below $nav-expands
$navbar-container-width: 100%; // Use 'inherit' to make it the same as the document container, or a percentage to override. Applies from $nav-expands up
// Links
//$navbar-font-size: 0.8em;
//$navbar-text-transform: uppercase;
//$navbar-link-color: $color-white;
//$navbar-link-bg-color: $navbar-bg-color;
//$navbar-font-weight: bold;
//$navbar-link-border: 1px solid rgba($color-white,0.1);
// Links: Hover
//$navbar-link-hover-color: $color-white;
//$navbar-link-hover-bg-color: shade($navbar-bg-color,50%);
//$navbar-link-hover-weight: $navbar-font-weight;
// Links: Padding
//$navbar-link-padding-x: 10px;
//$navbar-link-padding-y: 8px;
//$navbar-link-padding-expanded-x: 10px;
//$navbar-link-padding-expanded-y: 10px;
// Current Page Link
//$navbar-current-page-color: $color-secondary;
//$navbar-current-page-background: inherit;
//$navbar-current-page-font-weight: bold;
// Secondary Links
//$navbar-submenu-text-transform: $navbar-text-transform;
//$navbar-submenu-font-weight: $navbar-font-weight;
// Drop down on larger screens
//$navbar-submenu-min-width: 150px;
//$navbar-submenu-max-width: 260px;

/* HAMBURGER MENU */
// @link https://github.com/jonsuh/hamburgers
//$primary-hamburger-type: spin; // Change this to modify animation
//$hamburger-padding-x: $navbar-link-padding-x;
//$hamburger-padding-y: $navbar-link-padding-y;
//$hamburger-margin-y: inherit;
//$hamburger-layer-width: 20px; // Width of the hamburger icon
//$hamburger-layer-height: 3px; // Thickness of hamburger lines
//$hamburger-layer-spacing: 4px; // Spacing between hamburger lines
//$hamburger-layer-color: $navbar-link-color; // Color of hamburger
//$hamburger-layer-border-radius: 3px; // Radius of hamburger lines
//$hamburger-background-color: $navbar-bg-color;
//$hamburger-background-color-hover: $navbar-link-hover-bg-color;
//$hamburger-border: $border-width $border-style $hamburger-background-color;
//$hamburger-border-hover: $border-width $border-style $hamburger-background-color-hover;
//$hamburger-border-radius: 0px;
//$hamburger-hover-opacity: 1;
//$hamburger-active-layer-color : $hamburger-layer-color;
//$hamburger-active-hover-opacity: $hamburger-hover-opacity;

$breakpoints: (
    /*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
     Breakpoints are defined here
     Note: Comment out or remove a whole size to prevent it being iterated,
     or individual elements to inherit from the previously defined point.
     The shorthand names are used in column and modifier classes.
     breakpoint and col-gutter are the only !required values.
     Sensible breakpoint values @link https://www.freecodecamp.org/news/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862/
    *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
    sm: (
        breakpoint: 600px,
        container-width: 100%,
        container-gutter: 50px,
        col-gutter: 20px,
        root-font-size: 15px,
        root-line-height: 1.48
        ),
    md: (
        breakpoint: 900px,
        container-width: 90%,
        container-max-width: 1140px,
        container-gutter: 0px,
        col-gutter: 30px,
        root-font-size: 16px
        ),
    lg: (
        breakpoint: 1200px,
        container-width: 1140px,
        container-max-width: none,
        col-gutter: 35px,
        ),
    xl: (
        breakpoint: 1800px,
        container-width: 1280px,
        col-gutter: 40px,
        )
);
