// PROGRESS BAR
$progressbar-color: get-color(neutral, 50) !default;
$progressbar-progress-color: get-color(neutral) !default;
$progressbar-height: get-size(1) !default;
$progressbar-border-radius: 200px !default;
$progressbar-value-border-radius: 0px !default;
$progressbar-indeterminate-duration: 6s !default;
