// @link https://codepen.io/xdesro/pen/WJBwyv
// Put in whatever color here, the generator will use it as the 500 value of the palette!

@use "sass:math";

@function tetrad($color) {
  $hue: hue($color);
  $saturation: saturation($color);
  $lightness: lightness($color);
  $tetrad: [ hsl($hue, $saturation, $lightness),
    hsl($hue + 90 % 360, $saturation, $lightness),
    hsl($hue + 180 % 360, $saturation, $lightness),
    hsl($hue + 270 % 360, $saturation, $lightness), ];
  @return $tetrad;
}
@function multiply ($fore, $back) {
  $red: math.div(red($back) * red($fore), 255);
  $green: math.div(green($back) * green($fore), 255);
  $blue: math.div(blue($back) * blue($fore), 255);
  @return rgb($red, $green, $blue);
}
@function makeColorPalette($color, $gen-bg:'false') {
  $light: #fff;
  $dark: multiply($color, $color);
  $dark: darken(multiply($color, $color), 30%);
  //$dark: shade(multiply($color, $color),10%);
  $tetrad: tetrad($color);
  $palette: (
    50: mix($light, $color, 88%),
    100: mix($light, $color, 70%),
    200: mix($light, $color, 50%),
    300: mix($light, $color, 30%),
    400: mix($light, $color, 15%),
    500: mix($light, $color, 0%),
    600: mix($dark, $color, 14%),
    700: mix($dark, $color, 28%),
    800: mix($dark, $color, 42%),
    900: mix($dark, $color, 56%),
    1000: mix($dark, $color, 65%),
    'bg': $gen-bg
  );
  @return $palette;
}
