@function to-rem($value) {
  @if type-of($value) == "number" and unit($value) == "px" {
    @return calc($value / $root-size) * 1rem;
  }
  @return $value;
}

@mixin container-above($min, $containerName: "") {
  $min: to-rem($min);
  @container #{$containerName} (width >= #{$min}) {
    @content;
  }
}
@mixin container-below($max, $containerName: "") {
  $max: to-rem($max);
  @container #{$containerName} (width < #{$max}) {
    @content;
  }
}
@mixin container-between($min, $max, $containerName: "") {
  $min: to-rem($min);
  $max: to-rem($max);
  @container #{$containerName} (width >= #{$min}) and (width < #{$max}) {
    @content;
  }
}
