// Converts a sass map into CSS properties
@mixin map-to-css-properties($map, $prefix: "") {
  @each $key, $value in $map {
    @if type-of($value) == "map" {
      @if $prefix == "color-" {
        --#{$prefix + $key}: var(--color-#{$key}-500);
      }
      @include map-to-css-properties($value, $prefix + $key + "-");
    } @else {
      @if $value != "false" {
        // Convert $key to string and replace any '.' with 'x' for valid CSS property names
        $key: #{$key};
        $key: str-replace($key, ".", "x");

        --#{$prefix + $key}: #{$value};
      }
    }
  }
}
@mixin smooth($properties...) {
  // Global transition
  $result: (); // Create empty variable
  @each $property in $properties {
    // Loop through each argument and append to result variable
    $result: append($result, #{$property} $global-transition, comma);
  }
  transition: $result;
}

// DRY mixin for Pseudo elements. Pass optional args or leave as default
@mixin pseudo($content: "", $display: block, $pos: absolute) {
  content: $content;
  display: $display;
  position: $pos;
}

// Do Not Print
@mixin do-not-print {
  @media print {
    display: none;
  }
}

@mixin text-replace {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin h1 {
  line-height: $heading-line-height !important;
  @each $point, $size in $font-sizes-h1 {
    @if $point == "root" {
      // Root font size at smallest device width
      font-size: $size !important;
    } @else {
      // Otherwise use the breakpoint map to set the font size
      @include above($point) {
        font-size: $size !important;
      }
    }
  }
}

@mixin h2 {
  line-height: $heading-line-height !important;
  @each $point, $size in $font-sizes-h2 {
    @if $point == "root" {
      // Root font size at smallest device width
      font-size: $size !important;
    } @else {
      // Otherwise use the breakpoint map to set the font size
      @include above($point) {
        font-size: $size !important;
      }
    }
  }
}

@mixin h3 {
  line-height: $heading-line-height !important;
  @each $point, $size in $font-sizes-h3 {
    @if $point == "root" {
      // Root font size at smallest device width
      font-size: $size !important;
    } @else {
      // Otherwise use the breakpoint map to set the font size
      @include above($point) {
        font-size: $size !important;
      }
    }
  }
}

@mixin h4 {
  line-height: $heading-line-height !important;
  @each $point, $size in $font-sizes-h4 {
    @if $point == "root" {
      // Root font size at smallest device width
      font-size: $size !important;
    } @else {
      // Otherwise use the breakpoint map to set the font size
      @include above($point) {
        font-size: $size !important;
      }
    }
  }
}
@mixin h5 {
  line-height: $heading-line-height !important;
  @each $point, $size in $font-sizes-h5 {
    @if $point == "root" {
      // Root font size at smallest device width
      font-size: $size !important;
    } @else {
      // Otherwise use the breakpoint map to set the font size
      @include above($point) {
        font-size: $size !important;
      }
    }
  }
}
@mixin h6 {
  line-height: $heading-line-height !important;
  @each $point, $size in $font-sizes-h6 {
    @if $point == "root" {
      // Root font size at smallest device width
      font-size: $size !important;
    } @else {
      // Otherwise use the breakpoint map to set the font size
      @include above($point) {
        font-size: $size !important;
      }
    }
  }
}
