// Button stack defined in settings.scss
#{$buttons} {
  -webkit-appearance: none;
  user-select: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text: {
    decoration: none;
    transform: $button-text-transform;
    align: center;
  }
  font: {
    size: $button-font-size;
    weight: $button-font-weight;
    family: $button-font-family;
  }
  border: {
    width: $button-border-width;
    style: solid;
    radius: $button-border-radius;
  }
  line-height: 1.3;
  padding: $button-padding;
  margin: 0 0 $element-margin 0;
  @include smooth(all);
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:disabled {
    opacity: $button-disabled-opacity;
    cursor: not-allowed;
  }
  // Default Styles
  @include create_button($button-base-color);
}

%button-groups {
  flex-wrap: wrap;
  justify-content: flex-start;
}
.button-list {
  display: flex;
  align-items: center;
  @extend %button-groups;
  margin-bottom: calc(#{$element-margin} - #{$button-list-button-margin});
  @include above(sm) {
    margin-right: n($button-list-button-margin);
    margin-left: n($button-list-button-margin);
  }
  .button,
  a.button {
    margin: 0 $button-list-button-margin $button-list-button-margin * 2 $button-list-button-margin;
    //display: inline-flex;
  }
}
.button-group {
  @extend %button-groups;
  display: inline-flex;
  margin-bottom: $element-margin;
  .button,
  a.button {
    margin: 0 0 0 n($button-border-width);
    &:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
  & + & {
    margin-left: $element-margin;
  }
}

.button-list .button-group {
  margin-bottom: calc(#{$element-margin} - #{$button-list-button-margin});
}
