// Wrapper to apply better margins to radioboxes and checkboxes
.form-group {
  margin: get-size(0.25) 0 get-size(0.75) 0;
}

// Make checkboxes/radioboxes inline-block
.form-group-inline {
  @extend .form-group;
  * {
    display: inline-block;
  }
  label {
    margin-right: get-size(0.5);
  }
}

// Tighter gutters on form rows
.form-row {
  margin-left: nh(get-size(0.5));
  margin-right: nh(get-size(0.5));
  display: flex;
  flex-wrap: wrap;
  .col {
    padding-left: h(get-size(0.5));
    padding-right: h(get-size(0.5));
  }
}
