// With thanks to https://moderncss.dev/pure-css-custom-styled-radio-buttons/

// Wrappers
.radio,
.checkbox {
  display: grid;
  grid-template-columns: min-content auto;
  grid-gap: 0.5em;
  margin-bottom: 0.5em;
}

// New control elements

.radio-control,
.checkbox-control {
  width: 1em;
  height: 1em;
  border: 0.15em solid $border-color;
}

.radio-control {
  display: block;
  border-radius: 50%;
  @if $radio-check-box-transform-adjust != 0px {
    transform: $radio-check-box-transform-adjust;
  }
  display: grid;
  place-items: center;
}

.checkbox-control {
  display: inline-grid;
  border-radius: $border-radius;
  @if $radio-check-box-transform-adjust != 0px {
    transform: $radio-check-box-transform-adjust;
  }
  background-size: 0.65em;
  background-position: center center;
  background-repeat: no-repeat;
}

input + .radio-control::before {
  content: '';
  width: 0.5em;
  height: 0.5em;
  box-shadow: inset 0.5em 0.5em $radio-check-box-color;
  border-radius: 50%;
  transition: 180ms transform ease-in-out;
  transform: scale(0);
}

// Checked States
input:checked + .radio-control::before {
  transform: scale(1);
}

input:checked + .checkbox-control {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path fill='none' stroke='#{$radio-check-box-color}' stroke-width='6' d='M1.73 12.91l6.37 6.37L22.79 4.59'/></svg>");
}

// Labels

.radio__label {
  line-height: 1;
}

// Hidden input elements

.radio__input {
  display: flex;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
  }
}

.checkbox__input {
  display: grid;
  grid-template-areas: 'checkbox';
  > * {
    grid-area: checkbox;
  }
  input {
    opacity: 0;
    width: 1em;
    height: 1em;
    margin: 0;
  }
}

// Focus States

.radio__input input:focus + .radio-control,
.checkbox__input input:focus + .checkbox-control {
  box-shadow: 0 0 0 0.05em #fff, 0 0 0.2em 0.15em $radio-check-box-focus-shadow;
}

// Disabled States
.radio input:disabled + .radio-control,
.checkbox input:disabled + .checkbox-control {
  opacity: 0.65;
  cursor: not-allowed;
}
