@charset "UTF-8";
/* Breakpoints */
/* GRID */
/* COLOURS */
/* TYPEFACES */
/* FONT SIZES */
/* DOCUMENT ROOT FONT SIZE AND LINE HEIGHT */
/* LINKS */
/* GLOBAL PADDING/MARGINS */
/* GLOBAL TRANSITION USED IN SMOOTH() */
/* BORDERS */
/* FORMS */
/* BUTTONS */
/* TABLES */
/**
 * JELLYFISH GRID SETTINGS
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small,
.docs pre label, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  SCAFFOLDING
  Contains underlying foundational
  html5 elements
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  background-color: #fff; }
  @media (min-width: 37.5em) {
    body {
      font-size: 16px;
      line-height: 1.48em; } }

a {
  transition: color 0.3s ease;
  text-decoration: underline; }
  a, a:link {
    color: #b22d4f; }
  a:visited {
    color: #5d2b50;
    text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #2d6378; }

p,
table {
  margin: 0 0 30px 0; }

ul, ol {
  margin: 0 0 30px 2.5em;
  list-style-position: outside; }
  ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0; }

ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }

dl {
  margin: 0 0 30px 0; }
  dl dt {
    font-weight: bold; }
  dl dd {
    margin-bottom: 15px; }

pre, samp, kbd, :not(pre) > code, var {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; }

hr {
  height: 0;
  border: 0;
  border-top: 0.1rem solid #d9dbdb;
  margin: 30px 0; }

pre {
  white-space: pre-wrap;
  tab-size: 2;
  padding: 20px;
  margin: 0 0 30px 0;
  background-color: #f8eee7;
  border: 1px solid #d9dbdb;
  line-height: 1.2; }

blockquote {
  margin: 0 0 30px 0;
  padding: 0 0 0 30px;
  border-left: 10px solid #f8eee7;
  font-size: 1.5em;
  font-style: italic;
  line-height: 1.4; }
  blockquote cite {
    display: block;
    margin-top: 15px;
    font-size: 0.6em;
    font-style: normal;
    font-weight: bold;
    text-align: right; }

img.align-left, img.align-right, img.align-none, img.align-center {
  float: none !important;
  margin: 30px auto;
  display: block; }

img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: top; }
  @media (min-width: 37.5em) {
    img.align-left {
      margin: 0 30px 30px 0;
      float: left !important; }
    img.align-right {
      margin: 0 0 30px 30px;
      float: right !important; }
    img.align-none {
      margin: 0 0 30px 0; }
    img.align-center {
      margin: 0 auto 30px auto; } }

::selection {
  background: #eebdc9; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  TYPOGRAPHY
  Contains typographic styles
  for common elements as well
  as semantic elements eg. code,
  mark, small, var, strong, etc
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0 0 .25em 0;
  line-height: 1.2; }
  h1:not(:first-child), h2:not(:first-child), h3:not(:first-child), h4:not(:first-child), h5:not(:first-child), h6:not(:first-child) {
    margin-top: 30px; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

/* TEXT TRANSFORM */

small,
.docs pre label, .small {
  font-size: 0.8em; }

strong, .bold, b {
  font-weight: bold; }

em, .italic, i {
  font-style: italic; }

.standfirst {
  font-size: 1.25em; }

mark {
  background: yellow;
  padding: .15em .3em;
  display: inline-block; }

ins {
  text-decoration: underline; }

del {
  text-decoration: line-through; }

abbr {
  border-bottom: 1px dotted #333333;
  cursor: help; }

dfn {
  font-style: italic; }

cite {
  font-style: italic; }

q {
  font-style: italic; }
  q::before, q::after {
    content: '"'; }

kbd, :not(pre) > code, var {
  font-size: 0.8em;
  line-height: 1;
  border-radius: 4px;
  padding: .5em;
  display: inline-block; }

kbd {
  background-color: #222;
  color: white; }

:not(pre) > code {
  border: 1px solid #d9dbdb; }

var {
  font-style: italic;
  color: white;
  background-color: #2d6378; }

sub, sup {
  font-size: 0.6em;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -.75em; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  HELPERS
  Useful helper classes
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.invisible {
  visibility: hidden; }

.equal-height > .col {
  display: flex; }

.flex {
  display: flex; }

.align-top {
  align-items: flex-start !important; }

.align-middle {
  align-items: center !important; }

.align-bottom {
  align-items: flex-end !important; }

.align-stretch {
  align-items: stretch !important; }

.align-self-top {
  align-self: flex-start !important; }

.align-self-middle {
  align-self: center !important; }

.align-self-bottom {
  align-self: flex-end !important; }

.justify-start {
  justify-content: flex-start !important; }

.justify-center {
  justify-content: center !important; }

.justify-end {
  justify-content: flex-end !important; }

.justify-around {
  justify-content: space-around !important; }

.justify-between {
  justify-content: space-between !important; }

.align-left {
  float: left !important; }

.align-right {
  float: right !important; }

.align-none {
  float: none !important; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.nowrap {
  white-space: nowrap; }

.full-width {
  width: 100% !important; }

.vw-100 {
  width: 100vw;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0.25px 0 20px 0; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.two-column, .three-column, .four-column {
  column-count: 1;
  column-gap: 10px; }
  .two-column h1, .three-column h1, .four-column h1, .two-column h2, .three-column h2, .four-column h2, .two-column h3, .three-column h3, .four-column h3, .two-column h4, .three-column h4, .four-column h4, .two-column h5, .three-column h5, .four-column h5, .two-column h6, .three-column h6, .four-column h6 {
    break-inside: avoid; }
  @media (min-width: 37.5em) {
    .two-column, .three-column, .four-column {
      column-gap: 20px; } }
  @media (min-width: 56.25em) {
    .two-column, .three-column, .four-column {
      column-gap: 30px; } }
  @media (min-width: 75em) {
    .two-column, .three-column, .four-column {
      column-gap: 30px; } }
  @media (min-width: 100em) {
    .two-column, .three-column, .four-column {
      column-gap: 35px; } }

@media (min-width: 75em) {
  .two-column {
    column-count: 2; } }

@media (min-width: 75em) {
  .three-column {
    column-count: 3; } }

@media (min-width: 75em) {
  .four-column {
    column-count: 4; } }

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  .screen-reader-text:focus {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #b22d4f;
    display: block;
    font-size: .8em;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  GRID
  Contains the logic that builds
  Jellyfish's customisable grid
  system.
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.jf-debug::before {
  content: "xs";
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 10000;
  background: white;
  font-size: 12px;
  color: #555555;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  @media (min-width: 37.5em) {
    .jf-debug::before {
      content: "sm"; } }
  @media (min-width: 56.25em) {
    .jf-debug::before {
      content: "md"; } }
  @media (min-width: 75em) {
    .jf-debug::before {
      content: "lg"; } }
  @media (min-width: 100em) {
    .jf-debug::before {
      content: "xl"; } }

.jf-debug .col {
  box-shadow: 0 1px 3px 1px rgba(8, 247, 254, 0.7) !important; }

.jf-debug .row {
  box-shadow: 0 1px 3px 1px rgba(245, 211, 0, 0.8) !important;
  background: repeating-linear-gradient(to right, rgba(220, 220, 220, 0.4), rgba(220, 220, 220, 0.4) 8.3333333333%, rgba(245, 245, 245, 0.8) 8.3333333333%, rgba(245, 245, 245, 0.8) 16.6666666667%) !important;
  background-origin: content-box; }
  .jf-debug .row .row {
    background: none !important; }

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px; }

.col {
  width: 100%;
  position: relative;
  padding-left: 5px;
  padding-right: 5px; }

.row.collapse {
  margin-left: 0;
  margin-right: 0; }
  .row.collapse > .col {
    padding-left: 0 !important;
    padding-right: 0 !important; }

.col.xs-1 {
  max-width: 8.3333333333%;
  flex: 0 0 8.3333333333%; }

.order-xs-12 {
  order: 12; }

.offset-xs-11 {
  margin-left: 91.6666666667%; }

.col.xs-2 {
  max-width: 16.6666666667%;
  flex: 0 0 16.6666666667%; }

.order-xs-12 {
  order: 12; }

.offset-xs-10 {
  margin-left: 83.3333333333%; }

.col.xs-3 {
  max-width: 25%;
  flex: 0 0 25%; }

.order-xs-12 {
  order: 12; }

.offset-xs-9 {
  margin-left: 75%; }

.col.xs-4 {
  max-width: 33.3333333333%;
  flex: 0 0 33.3333333333%; }

.order-xs-12 {
  order: 12; }

.offset-xs-8 {
  margin-left: 66.6666666667%; }

.col.xs-5 {
  max-width: 41.6666666667%;
  flex: 0 0 41.6666666667%; }

.order-xs-12 {
  order: 12; }

.offset-xs-7 {
  margin-left: 58.3333333333%; }

.col.xs-6 {
  max-width: 50%;
  flex: 0 0 50%; }

.order-xs-12 {
  order: 12; }

.offset-xs-6 {
  margin-left: 50%; }

.col.xs-7 {
  max-width: 58.3333333333%;
  flex: 0 0 58.3333333333%; }

.order-xs-12 {
  order: 12; }

.offset-xs-5 {
  margin-left: 41.6666666667%; }

.col.xs-8 {
  max-width: 66.6666666667%;
  flex: 0 0 66.6666666667%; }

.order-xs-12 {
  order: 12; }

.offset-xs-4 {
  margin-left: 33.3333333333%; }

.col.xs-9 {
  max-width: 75%;
  flex: 0 0 75%; }

.order-xs-12 {
  order: 12; }

.offset-xs-3 {
  margin-left: 25%; }

.col.xs-10 {
  max-width: 83.3333333333%;
  flex: 0 0 83.3333333333%; }

.order-xs-12 {
  order: 12; }

.offset-xs-2 {
  margin-left: 16.6666666667%; }

.col.xs-11 {
  max-width: 91.6666666667%;
  flex: 0 0 91.6666666667%; }

.order-xs-12 {
  order: 12; }

.offset-xs-1 {
  margin-left: 8.3333333333%; }

.col.xs-12 {
  max-width: 100%;
  flex: 0 0 100%; }

.order-xs-12 {
  order: 12; }

.offset-xs-0 {
  margin-left: 0%; }

@media (min-width: 37.5em) {
  .container {
    width: 96%;
    padding-left: 50px;
    padding-right: 50px; }
  .row {
    margin-left: -10px;
    margin-right: -10px; }
  .row.collapse-sm {
    margin-left: 0;
    margin-right: 0; }
    .row.collapse-sm .col {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  .col {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 100%;
    flex: 1 1 0px; }
  .col.sm-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%; }
  .order-sm-1 {
    order: 1; }
  .order-sm-0 {
    order: unset; }
  .offset-sm-11 {
    margin-left: 91.6666666667%; }
  .col.sm-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%; }
  .order-sm-2 {
    order: 2; }
  .order-sm-0 {
    order: unset; }
  .offset-sm-10 {
    margin-left: 83.3333333333%; }
  .col.sm-3 {
    max-width: 25%;
    flex: 0 0 25%; }
  .order-sm-3 {
    order: 3; }
  .order-sm-0 {
    order: unset; }
  .offset-sm-9 {
    margin-left: 75%; }
  .col.sm-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%; }
  .order-sm-4 {
    order: 4; }
  .order-sm-0 {
    order: unset; }
  .offset-sm-8 {
    margin-left: 66.6666666667%; }
  .col.sm-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%; }
  .order-sm-5 {
    order: 5; }
  .order-sm-0 {
    order: unset; }
  .offset-sm-7 {
    margin-left: 58.3333333333%; }
  .col.sm-6 {
    max-width: 50%;
    flex: 0 0 50%; }
  .order-sm-6 {
    order: 6; }
  .order-sm-0 {
    order: unset; }
  .offset-sm-6 {
    margin-left: 50%; }
  .col.sm-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%; }
  .order-sm-7 {
    order: 7; }
  .order-sm-0 {
    order: unset; }
  .offset-sm-5 {
    margin-left: 41.6666666667%; }
  .col.sm-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%; }
  .order-sm-8 {
    order: 8; }
  .order-sm-0 {
    order: unset; }
  .offset-sm-4 {
    margin-left: 33.3333333333%; }
  .col.sm-9 {
    max-width: 75%;
    flex: 0 0 75%; }
  .order-sm-9 {
    order: 9; }
  .order-sm-0 {
    order: unset; }
  .offset-sm-3 {
    margin-left: 25%; }
  .col.sm-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%; }
  .order-sm-10 {
    order: 10; }
  .order-sm-0 {
    order: unset; }
  .offset-sm-2 {
    margin-left: 16.6666666667%; }
  .col.sm-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%; }
  .order-sm-11 {
    order: 11; }
  .order-sm-0 {
    order: unset; }
  .offset-sm-1 {
    margin-left: 8.3333333333%; }
  .col.sm-12 {
    max-width: 100%;
    flex: 0 0 100%; }
  .order-sm-12 {
    order: 12; }
  .order-sm-0 {
    order: unset; }
  .offset-sm-0 {
    margin-left: 0%; }
  .jf-debug [class*='order-sm'] {
    outline: 2px solid #fe53BB; }
  .jf-debug [class*='order-sm-0'] {
    outline: 0; }
  .jf-debug [class*='offset-sm'] {
    outline: 2px solid #fe53BB; }
  .jf-debug [class*='offset-sm-0'] {
    outline: 0; } }

@media (max-width: 37.4375em) {
  .hide-below-sm {
    display: none !important; } }

@media (min-width: 37.5em) {
  .hide-above-sm {
    display: none !important; } }

@media (min-width: 56.25em) {
  .container {
    width: 880px; }
  .row {
    margin-left: -15px;
    margin-right: -15px; }
  .row.collapse-md {
    margin-left: 0;
    margin-right: 0; }
    .row.collapse-md .col {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  .col {
    padding-left: 15px;
    padding-right: 15px; }
  .col.md-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%; }
  .order-md-1 {
    order: 1; }
  .order-md-0 {
    order: unset; }
  .offset-md-11 {
    margin-left: 91.6666666667%; }
  .col.md-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%; }
  .order-md-2 {
    order: 2; }
  .order-md-0 {
    order: unset; }
  .offset-md-10 {
    margin-left: 83.3333333333%; }
  .col.md-3 {
    max-width: 25%;
    flex: 0 0 25%; }
  .order-md-3 {
    order: 3; }
  .order-md-0 {
    order: unset; }
  .offset-md-9 {
    margin-left: 75%; }
  .col.md-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%; }
  .order-md-4 {
    order: 4; }
  .order-md-0 {
    order: unset; }
  .offset-md-8 {
    margin-left: 66.6666666667%; }
  .col.md-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%; }
  .order-md-5 {
    order: 5; }
  .order-md-0 {
    order: unset; }
  .offset-md-7 {
    margin-left: 58.3333333333%; }
  .col.md-6 {
    max-width: 50%;
    flex: 0 0 50%; }
  .order-md-6 {
    order: 6; }
  .order-md-0 {
    order: unset; }
  .offset-md-6 {
    margin-left: 50%; }
  .col.md-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%; }
  .order-md-7 {
    order: 7; }
  .order-md-0 {
    order: unset; }
  .offset-md-5 {
    margin-left: 41.6666666667%; }
  .col.md-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%; }
  .order-md-8 {
    order: 8; }
  .order-md-0 {
    order: unset; }
  .offset-md-4 {
    margin-left: 33.3333333333%; }
  .col.md-9 {
    max-width: 75%;
    flex: 0 0 75%; }
  .order-md-9 {
    order: 9; }
  .order-md-0 {
    order: unset; }
  .offset-md-3 {
    margin-left: 25%; }
  .col.md-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%; }
  .order-md-10 {
    order: 10; }
  .order-md-0 {
    order: unset; }
  .offset-md-2 {
    margin-left: 16.6666666667%; }
  .col.md-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%; }
  .order-md-11 {
    order: 11; }
  .order-md-0 {
    order: unset; }
  .offset-md-1 {
    margin-left: 8.3333333333%; }
  .col.md-12 {
    max-width: 100%;
    flex: 0 0 100%; }
  .order-md-12 {
    order: 12; }
  .order-md-0 {
    order: unset; }
  .offset-md-0 {
    margin-left: 0%; }
  .jf-debug [class*='order-md'] {
    outline: 2px solid #fe53BB; }
  .jf-debug [class*='order-md-0'] {
    outline: 0; }
  .jf-debug [class*='offset-md'] {
    outline: 2px solid #fe53BB; }
  .jf-debug [class*='offset-md-0'] {
    outline: 0; } }

@media (max-width: 56.1875em) {
  .hide-below-md {
    display: none !important; } }

@media (min-width: 56.25em) {
  .hide-above-md {
    display: none !important; } }

@media (min-width: 75em) {
  .container {
    width: 1080px; }
  .row {
    margin-left: -15px;
    margin-right: -15px; }
  .row.collapse-lg {
    margin-left: 0;
    margin-right: 0; }
    .row.collapse-lg .col {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  .col {
    padding-left: 15px;
    padding-right: 15px; }
  .col.lg-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%; }
  .order-lg-1 {
    order: 1; }
  .order-lg-0 {
    order: unset; }
  .offset-lg-11 {
    margin-left: 91.6666666667%; }
  .col.lg-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%; }
  .order-lg-2 {
    order: 2; }
  .order-lg-0 {
    order: unset; }
  .offset-lg-10 {
    margin-left: 83.3333333333%; }
  .col.lg-3 {
    max-width: 25%;
    flex: 0 0 25%; }
  .order-lg-3 {
    order: 3; }
  .order-lg-0 {
    order: unset; }
  .offset-lg-9 {
    margin-left: 75%; }
  .col.lg-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%; }
  .order-lg-4 {
    order: 4; }
  .order-lg-0 {
    order: unset; }
  .offset-lg-8 {
    margin-left: 66.6666666667%; }
  .col.lg-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%; }
  .order-lg-5 {
    order: 5; }
  .order-lg-0 {
    order: unset; }
  .offset-lg-7 {
    margin-left: 58.3333333333%; }
  .col.lg-6 {
    max-width: 50%;
    flex: 0 0 50%; }
  .order-lg-6 {
    order: 6; }
  .order-lg-0 {
    order: unset; }
  .offset-lg-6 {
    margin-left: 50%; }
  .col.lg-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%; }
  .order-lg-7 {
    order: 7; }
  .order-lg-0 {
    order: unset; }
  .offset-lg-5 {
    margin-left: 41.6666666667%; }
  .col.lg-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%; }
  .order-lg-8 {
    order: 8; }
  .order-lg-0 {
    order: unset; }
  .offset-lg-4 {
    margin-left: 33.3333333333%; }
  .col.lg-9 {
    max-width: 75%;
    flex: 0 0 75%; }
  .order-lg-9 {
    order: 9; }
  .order-lg-0 {
    order: unset; }
  .offset-lg-3 {
    margin-left: 25%; }
  .col.lg-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%; }
  .order-lg-10 {
    order: 10; }
  .order-lg-0 {
    order: unset; }
  .offset-lg-2 {
    margin-left: 16.6666666667%; }
  .col.lg-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%; }
  .order-lg-11 {
    order: 11; }
  .order-lg-0 {
    order: unset; }
  .offset-lg-1 {
    margin-left: 8.3333333333%; }
  .col.lg-12 {
    max-width: 100%;
    flex: 0 0 100%; }
  .order-lg-12 {
    order: 12; }
  .order-lg-0 {
    order: unset; }
  .offset-lg-0 {
    margin-left: 0%; }
  .jf-debug [class*='order-lg'] {
    outline: 2px solid #fe53BB; }
  .jf-debug [class*='order-lg-0'] {
    outline: 0; }
  .jf-debug [class*='offset-lg'] {
    outline: 2px solid #fe53BB; }
  .jf-debug [class*='offset-lg-0'] {
    outline: 0; } }

@media (max-width: 74.9375em) {
  .hide-below-lg {
    display: none !important; } }

@media (min-width: 75em) {
  .hide-above-lg {
    display: none !important; } }

@media (min-width: 100em) {
  .container {
    width: 1480px; }
  .row {
    margin-left: -17.5px;
    margin-right: -17.5px; }
  .row.collapse-xl {
    margin-left: 0;
    margin-right: 0; }
    .row.collapse-xl .col {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  .col {
    padding-left: 17.5px;
    padding-right: 17.5px; }
  .col.xl-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%; }
  .order-xl-1 {
    order: 1; }
  .order-xl-0 {
    order: unset; }
  .offset-xl-11 {
    margin-left: 91.6666666667%; }
  .col.xl-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%; }
  .order-xl-2 {
    order: 2; }
  .order-xl-0 {
    order: unset; }
  .offset-xl-10 {
    margin-left: 83.3333333333%; }
  .col.xl-3 {
    max-width: 25%;
    flex: 0 0 25%; }
  .order-xl-3 {
    order: 3; }
  .order-xl-0 {
    order: unset; }
  .offset-xl-9 {
    margin-left: 75%; }
  .col.xl-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%; }
  .order-xl-4 {
    order: 4; }
  .order-xl-0 {
    order: unset; }
  .offset-xl-8 {
    margin-left: 66.6666666667%; }
  .col.xl-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%; }
  .order-xl-5 {
    order: 5; }
  .order-xl-0 {
    order: unset; }
  .offset-xl-7 {
    margin-left: 58.3333333333%; }
  .col.xl-6 {
    max-width: 50%;
    flex: 0 0 50%; }
  .order-xl-6 {
    order: 6; }
  .order-xl-0 {
    order: unset; }
  .offset-xl-6 {
    margin-left: 50%; }
  .col.xl-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%; }
  .order-xl-7 {
    order: 7; }
  .order-xl-0 {
    order: unset; }
  .offset-xl-5 {
    margin-left: 41.6666666667%; }
  .col.xl-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%; }
  .order-xl-8 {
    order: 8; }
  .order-xl-0 {
    order: unset; }
  .offset-xl-4 {
    margin-left: 33.3333333333%; }
  .col.xl-9 {
    max-width: 75%;
    flex: 0 0 75%; }
  .order-xl-9 {
    order: 9; }
  .order-xl-0 {
    order: unset; }
  .offset-xl-3 {
    margin-left: 25%; }
  .col.xl-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%; }
  .order-xl-10 {
    order: 10; }
  .order-xl-0 {
    order: unset; }
  .offset-xl-2 {
    margin-left: 16.6666666667%; }
  .col.xl-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%; }
  .order-xl-11 {
    order: 11; }
  .order-xl-0 {
    order: unset; }
  .offset-xl-1 {
    margin-left: 8.3333333333%; }
  .col.xl-12 {
    max-width: 100%;
    flex: 0 0 100%; }
  .order-xl-12 {
    order: 12; }
  .order-xl-0 {
    order: unset; }
  .offset-xl-0 {
    margin-left: 0%; }
  .jf-debug [class*='order-xl'] {
    outline: 2px solid #fe53BB; }
  .jf-debug [class*='order-xl-0'] {
    outline: 0; }
  .jf-debug [class*='offset-xl'] {
    outline: 2px solid #fe53BB; }
  .jf-debug [class*='offset-xl-0'] {
    outline: 0; } }

@media (max-width: 99.9375em) {
  .hide-below-xl {
    display: none !important; } }

@media (min-width: 100em) {
  .hide-above-xl {
    display: none !important; } }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  BUTTONS
  Default styling for all buttons
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.button, [type=submit], a.button, a[type=submit], button, [type=submit], [type=reset], [type=button] {
  -webkit-appearance: none;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  text-transform: none;
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 1.3;
  border: 1px solid #b22d4f;
  background-color: #b22d4f;
  color: white;
  padding: .75em 1.5em;
  margin: 15px 5px 30px 0;
  border-radius: 6px;
  transition: background 0.3s ease, border-color 0.3s ease, color 0.3s ease; }
  .button::-moz-focus-inner, [type=submit]::-moz-focus-inner, a.button::-moz-focus-inner, a[type=submit]::-moz-focus-inner, button::-moz-focus-inner, [type=submit]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=button]::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .button:hover, :hover[type=submit], .button:focus, :focus[type=submit], .button:active, :active[type=submit], a.button:hover, a:hover[type=submit], a.button:focus, a:focus[type=submit], a.button:active, a:active[type=submit], button:hover, button:focus, button:active, [type=submit]:hover, [type=submit]:focus, [type=submit]:active, [type=reset]:hover, [type=reset]:focus, [type=reset]:active, [type=button]:hover, [type=button]:focus, [type=button]:active {
    background-color: #89233d;
    border-color: #89233d; }
  .button:focus, :focus[type=submit], a.button:focus, a:focus[type=submit], button:focus, [type=submit]:focus, [type=reset]:focus, [type=button]:focus {
    outline: 0;
    box-shadow: 0px 0px 1px 3px #df8098; }

.button__secondary, a.button__secondary {
  background-color: #2d6378;
  border-color: #2d6378;
  color: white; }
  .button__secondary:hover, .button__secondary:focus, .button__secondary:active, a.button__secondary:hover, a.button__secondary:focus, a.button__secondary:active {
    background-color: #1f4453;
    border-color: #1f4453; }
  .button__secondary:focus, a.button__secondary:focus {
    box-shadow: 0px 0px 1px 3px #4291b0; }

.button__outline, [type=reset], a.button__outline, a[type=reset] {
  background: transparent;
  color: inherit;
  border-color: #b22d4f; }
  .button__outline:hover, :hover[type=reset], .button__outline:focus, :focus[type=reset], .button__outline:active, :active[type=reset], a.button__outline:hover, a:hover[type=reset], a.button__outline:focus, a:focus[type=reset], a.button__outline:active, a:active[type=reset] {
    background-color: transparent;
    border-color: #89233d;
    color: #b22d4f; }

.button__ghost, a.button__ghost {
  background: transparent;
  color: #b22d4f;
  border-color: transparent; }
  .button__ghost:hover, .button__ghost:focus, .button__ghost:active, a.button__ghost:hover, a.button__ghost:focus, a.button__ghost:active {
    background-color: transparent;
    border-color: #2d6378;
    color: #2d6378; }

.button__block, a.button__block {
  display: block;
  width: 100%; }

.button__large, a.button__large {
  font-size: 1.1rem; }

.button__small, a.button__small {
  font-size: 0.8rem; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  ICONS
  Default styling for icons
  generated by grunt-svgstore
  into the icons.svg spritesheet
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.icon {
  display: inline-block;
  fill: currentColor;
  height: 0.9em;
  width: 0.9em;
  vertical-align: middle;
  position: relative;
  top: -0.15em; }
  .icon path {
    fill: inherit; }

.icon-list {
  list-style-type: none;
  margin-left: 1em; }
  .icon-list .icon {
    margin-right: .5em; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  TABLES
  Default styling table elements
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

td {
  border-bottom: 1px solid #d9dbdb; }

th {
  font-weight: bold; }

th,
td {
  text-align: left;
  padding: .5em .8em; }

thead th {
  border-bottom: 2px solid #d9dbdb; }

tfoot th {
  border-top: 2px solid #d9dbdb; }

.table__striped tr:nth-child(odd) td {
  background: #e6e7e7; }

.table__border, .table__border td, .table__border th {
  border: 1px solid #d9dbdb; }

.table__hoverable tr:hover td {
  background: #b22d4f !important;
  color: white; }

.table-container {
  overflow-x: auto;
  width: 100%; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  FORMS
  Styles for forms, and inputs
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
  display: block;
  border: 1px solid #d9dbdb;
  border-radius: 4px;
  background: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding: 10px;
  outline: none;
  margin: 3px 0 15px 0;
  width: 100%;
  max-width: 100%;
  line-height: 1;
  font-size: 1rem; }

[type=color]:hover, [type=date]:hover, [type=datetime]:hover, [type=datetime-local]:hover, [type=email]:hover, [type=month]:hover, [type=number]:hover, [type=password]:hover, [type=search]:hover, [type=tel]:hover, [type=text]:hover, [type=url]:hover, [type=week]:hover, [type=time]:hover, select:hover, textarea:hover {
  border-color: #717777; }

[type=color]:focus, [type=color]:active, [type=date]:focus, [type=date]:active, [type=datetime]:focus, [type=datetime]:active, [type=datetime-local]:focus, [type=datetime-local]:active, [type=email]:focus, [type=email]:active, [type=month]:focus, [type=month]:active, [type=number]:focus, [type=number]:active, [type=password]:focus, [type=password]:active, [type=search]:focus, [type=search]:active, [type=tel]:focus, [type=tel]:active, [type=text]:focus, [type=text]:active, [type=url]:focus, [type=url]:active, [type=week]:focus, [type=week]:active, [type=time]:focus, [type=time]:active, select:focus, select:active, textarea:focus, textarea:active {
  border-color: #b22d4f;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1), 0 0 0px 3px #e494a8; }

textarea {
  overflow: auto;
  height: auto; }

label {
  max-width: 100%;
  display: block;
  margin: 0; }

fieldset {
  border: 1px solid #d9dbdb;
  border-radius: 4px;
  padding: 0 20px;
  margin: 30px 0; }

legend {
  padding: 0 10px;
  margin-left: -10px;
  font-weight: bold; }

[type=range] {
  width: 100%; }

select {
  color: #333333;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: white url("data:image/svg+xml;charset=utf-8,%3Csvg width='41' height='26' viewBox='0 0 41 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='#999999' d='M0 5.382l19.983 19.983L40.14 5.208 34.932 0 19.869 15.062 4.84.032z' fill-rule='evenodd'/%3E%3C/svg%3E") right 10px center no-repeat;
  background-size: .75rem;
  line-height: 1; }

select::-ms-expand {
  display: none; }

[type=color] {
  height: 3rem;
  padding: 3px 5px;
  vertical-align: middle; }

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #d9dbdb; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; }
  .hamburger.is-active:hover {
    opacity: 1; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: white; }

.hamburger-box {
  width: 25px;
  height: 19px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }

/*
   * Minus
   */
.hamburger--minus .hamburger-inner::before, .hamburger .hamburger-inner::before, .hamburger--minus .hamburger-inner::after, .hamburger .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }

.hamburger--minus.is-active .hamburger-inner::before, .is-active.hamburger .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after, .is-active.hamburger .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }

.hamburger--minus.is-active .hamburger-inner::before, .is-active.hamburger .hamburger-inner::before {
  top: 0; }

.hamburger--minus.is-active .hamburger-inner::after, .is-active.hamburger .hamburger-inner::after {
  bottom: 0; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  NAV
  Styling for the burger menu
  (also see vendor/hamburgers),
  and responsive navbar
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.nav-bar {
  background: #b22d4f;
  width: 100%;
  display: none; }
  @media (max-width: 37.4375em) {
    .nav-bar .container {
      padding: 0;
      width: 100%; } }
  .nav-bar a:not(.button):not([type=submit]) {
    font-size: 0.9em;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px;
    line-height: 1.2;
    transition: color 0.3s ease, background-color 0.3s ease; }
    .nav-bar a:not(.button):not([type=submit]), .nav-bar a:not(.button):not([type=submit]):visited {
      color: white;
      background-color: #b22d4f; }
    .nav-bar a:not(.button):not([type=submit]):hover, .nav-bar a:not(.button):not([type=submit]):focus, .nav-bar a:not(.button):not([type=submit]):active {
      color: white;
      background-color: #cf4367; }
  .nav-bar a.button, .nav-bar a[type=submit] {
    margin: 10px 10px; }
  .nav-bar input {
    margin: 10px 10px;
    width: auto;
    min-width: 180px;
    display: inline-block; }
  .nav-bar .this-page a {
    color: #f3d1da !important; }
  .nav-bar ul {
    list-style-type: none;
    margin: 0;
    width: 100%; }
  .nav-bar li {
    width: 100%;
    margin: 0; }
  .nav-bar li.has-children > a {
    padding-right: 17.5px; }
    .nav-bar li.has-children > a::after {
      display: inline-block;
      position: absolute;
      right: 0;
      content: "▾";
      height: 1em;
      width: 1em;
      right: 10px;
      transform: rotate(-90deg);
      transition: transform 0.3s ease; }
  .nav-bar li ul {
    display: none;
    width: 100%;
    flex-direction: column; }
    .nav-bar li ul a:not(.button):not([type=submit]) {
      text-transform: capitalize; }
  .nav-bar li.drop-active a::after {
    transform: rotate(0deg); }
  .nav-bar li.drop-active > ul {
    display: flex; }

@media (min-width: 37.5em) {
  #nav-hamburger {
    display: none; }
  .nav-bar {
    display: block !important; }
    .nav-bar .nav-bar-inner {
      display: flex; }
    .nav-bar a:not(.button):not([type=submit]) {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      height: 100%; }
    .nav-bar a.button, .nav-bar a[type=submit] {
      margin: 10px 20px; }
    .nav-bar img {
      align-self: center; }
    .nav-bar ul {
      display: flex;
      flex-direction: row; }
    .nav-bar li {
      display: flex;
      width: auto;
      align-items: center; }
    .nav-bar li.has-children > a {
      padding-right: 35px; }
      .nav-bar li.has-children > a::after {
        right: auto;
        transform: rotate(0deg);
        margin-left: 5px;
        display: inline-block; }
    .nav-bar li ul {
      position: absolute;
      display: flex;
      width: auto;
      min-width: 180px;
      max-width: 220px;
      z-index: 9999;
      box-sizing: content-box; }
      .nav-bar li ul li {
        width: 100%;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.25s linear; }
    .nav-bar li:hover > ul li {
      max-height: 150px;
      transition: max-height 0.6s linear; }
    .nav-bar .nav__right {
      justify-content: flex-end; } }

.hamburger {
  background-color: #b22d4f;
  border: 1px solid #b22d4f;
  border-radius: 0px;
  transition: background-color 0.3s ease, border 0.3s ease;
  width: 100%;
  justify-content: space-between;
  text-align: right;
  display: flex; }
  .hamburger:hover, .hamburger:focus, .hamburger:active {
    background-color: #cf4367;
    border: 1px solid #cf4367; }
  .hamburger:focus {
    outline: 0;
    box-shadow: none !important; }

.hamburger-label {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  color: white; }
  .is-active .hamburger-label {
    color: white; }

.docs {
  background-color: #f7f8f9;
  /*
    .row {padding-top:10px;padding-bottom:10px;background-color: #efefef;}
            .container{border: 1px solid red;}
            .col{border: 1px solid blue;padding-top: 10px;padding-bottoM:10px;}
            .row{border: 1px solid orange;}
            //.row.col {margin-left:0; margin-right:0;padding-left:0; padding-right:0;}
            body {background: ghostwhite;}
            main {background: white;}

            .inner {border:1px solid green;}
    .container .container {padding:0;width: 100%}
    */ }
  .docs .row-boxed {
    border: 1px solid #d9dbdb;
    min-height: 120px;
    margin-bottom: 15px; }
  .docs .boxed, .docs pre {
    background: #EBF2F2;
    padding: .7em .5em;
    line-height: 1.2;
    margin: 10px 0;
    display: inherit;
    font-size: 0.8em;
    flex: 1; }
    .docs .boxed.no-margin, .docs pre.no-margin {
      margin: 0; }
    .docs .boxed .boxed, .docs pre .boxed, .docs .boxed pre, .docs pre pre {
      background: #fff; }
  .docs table {
    margin: 20px 0; }
    .docs table h1, .docs table h2, .docs table h3, .docs table h4, .docs table h5, .docs table h6 {
      margin: 0; }
  .docs pre {
    width: auto;
    display: block;
    white-space: pre-wrap;
    position: relative; }
    .docs pre label {
      top: 0;
      right: 0;
      position: absolute;
      float: right;
      display: block;
      background-color: #556270;
      color: #fff;
      padding: .3em; }
  .docs .css-ref, .docs .grid-ex, .docs .file-ref, .docs .variable-ref {
    display: inline-block;
    color: white;
    padding: .3em;
    border-radius: 4px;
    font-size: 0.8em;
    line-height: 1; }
  .docs .css-ref, .docs .grid-ex {
    background: #4ECDC4; }
  .docs .file-ref {
    background: #556270; }
  .docs .variable-ref {
    background: #FF6B6B; }
  .docs .grid-ex {
    width: 100%;
    text-align: center; }
  .docs td, .docs th {
    padding: 10px;
    border: 1px solid #D9DBDB; }
  .docs th {
    font-weight: bold;
    text-align: left; }
  .docs .lead {
    font-size: 1.5em; }
  .docs .docs-section {
    margin-top: 40px;
    margin-bottom: 40px; }
  .docs .nest-1 {
    box-shadow: inset 5px 0px 0px 0px #D9DBDB;
    padding-left: 15px; }
  .docs .nest-2 {
    box-shadow: inset 10px 0px 0px 0px #D9DBDB;
    padding-left: 20px; }
  .docs .smooth-transform {
    transition: transform 0.3s ease; }
    .docs .smooth-transform:hover, .docs .smooth-transform:active {
      transform: scale(1.1); }
  .docs .smooth-background {
    transition: background 0.3s ease; }
    .docs .smooth-background:hover, .docs .smooth-background:active {
      background-color: #4ECDC4; }
  .docs code var {
    font-size: inherit; }

.docs-header {
  background: url(https://images.unsplash.com/photo-1559291001-693fb9166cba) center;
  background-size: cover;
  padding: 60px 0;
  margin-bottom: 60px;
  text-align: center;
  color: white; }
  .docs-header a {
    color: white; }

#docs-nav {
  border-right: 1px solid #2d6378; }
  #docs-nav ul {
    list-style: none;
    margin: 15px 0 0 0; }
  #docs-nav li {
    padding: .5em; }
    #docs-nav li.active {
      background-color: #3b829d; }
      #docs-nav li.active a {
        color: white; }
    #docs-nav li a {
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
      width: 100%;
      display: block; }

/*# sourceMappingURL=style.css.map */