@charset "UTF-8";
/**
 * USAGE: Uncomment any of the variables here to add site-specific overrides.
 * It is not necessary to edit any of the files in /jellyfish
 */
/* Grid */
/* Colours */
/* Typefaces */
/* Font Sizes */
/* Global padding/margins */
/* Global transition used in smooth() */
/* Borders */
/* Forms */
/* Nav Bar */
/* Hamburger Menu */
/* @link https://github.com/jonsuh/hamburgers */
/**
 * JELLYFISH GRID SETTINGS
 */
/* Base Variables (used before breakpoints are applied) */
/* Breakpoints */
/**
 * JELLYFISH GRID SETTINGS
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v4.0 | 20180602
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small,
.docs pre label, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  SCAFFOLDING
  Contains underlying foundational
  html5 elements
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  line-height: 1.5;
  color: #333333;
  background-color: #fff; }
  @media (min-width: 37.5em) {
    body {
      font-size: 16px;
      line-height: 1.48em; } }

a {
  transition: color 0.3s ease;
  text-decoration: underline; }
  a, a:link {
    color: #3FB8AF; }
  a:visited {
    color: #DAD8A7;
    text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #FF9E9D; }

p,
table {
  margin: 0 0 30px 0; }

ul, ol {
  margin: 0 0 30px 2.5em;
  list-style-position: outside; }
  ul ul, ol ul, ul ol, ol ol {
    margin-bottom: 0; }

ul {
  list-style-type: disc; }
  ul ul {
    list-style-type: circle; }

ol {
  list-style-type: decimal; }
  ol ol {
    list-style-type: lower-alpha; }

dl {
  margin: 0 0 30px 0; }
  dl dt {
    font-weight: bold; }

pre, samp, kbd, :not(pre) > code, var {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace; }

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #d9dbdb;
  margin: 30px 0; }

pre {
  white-space: pre-wrap;
  tab-size: 2;
  padding: 20px;
  margin: 0 0 30px 0;
  background-color: #EBF2F2;
  border: 1px solid #d9dbdb;
  line-height: 1.2; }

blockquote {
  margin: 0 0 30px 0;
  padding: 20px;
  font-size: 1.75em;
  font-style: italic;
  line-height: 1.4; }
  blockquote cite {
    display: block;
    margin-top: 30px;
    font-size: 0.8em;
    font-style: normal;
    text-align: right; }

img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: top; }
  img.align-left {
    margin: 0 30px 30px 0; }
  img.align-right {
    margin: 0 0 30px 30px; }
  img.align-none {
    margin: 30px 0; }
  img.align-center {
    display: block;
    margin: 30px auto; }

@media (max-width: 37.4375em) {
  img.align-left, img.align-right, img.align-none, img.align-center {
    float: none !important;
    margin: 30px auto;
    display: block; } }

::selection {
  background: #d3f0ee; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  TYPOGRAPHY
  Contains typographic styles
  for common elements as well
  as semantic elements eg. code,
  mark, small, var, strong, etc
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
h1, h2, h3, h4, h5, h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0 0 .25em 0;
  line-height: 1.2; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.75em; }

h5 {
  font-size: 1.5em; }

h6 {
  font-size: 1em; }

/* TEXT TRANSFORM */

small,
.docs pre label, .small {
  font-size: 0.8em; }

strong, .bold, b {
  font-weight: bold; }

em, .italic, i {
  font-style: italic; }

.standfirst {
  font-size: 1.5em; }

mark {
  background: yellow;
  padding: .15em .3em;
  display: inline-block; }

ins {
  text-decoration: underline; }

del {
  text-decoration: line-through; }

abbr {
  border-bottom: 1px dotted #333333;
  cursor: help; }

dfn {
  font-style: italic; }

cite {
  font-style: italic; }

q {
  font-style: italic; }
  q::before, q::after {
    content: '"'; }

kbd, :not(pre) > code, var {
  font-size: 0.8em;
  line-height: 1;
  border-radius: 4px;
  padding: .5em;
  display: inline-block; }

kbd {
  background-color: #222;
  color: white; }

:not(pre) > code {
  border: 1px solid #d9dbdb; }

var {
  font-style: italic;
  color: white;
  background-color: #DAD8A7; }

sub, sup {
  font-size: 0.6em;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -.75em; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  HELPERS
  Useful helper classes
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.invisible {
  visibility: hidden; }

.equal-height .col {
  display: flex; }

.align-top {
  align-items: flex-start; }

.align-middle {
  align-items: center; }

.align-bottom {
  align-items: flex-end; }

.align-self-top {
  align-self: flex-start; }

.align-self-middle {
  align-self: center; }

.align-self-bottom {
  align-self: flex-end; }

.justify-start {
  justify-content: flex-start !important; }

.justify-center {
  justify-content: center !important; }

.justify-end {
  justify-content: flex-end !important; }

.justify-around {
  justify-content: space-around !important; }

.justify-between {
  justify-content: space-between !important; }

.align-left {
  float: left !important; }

.align-right {
  float: right !important; }

.align-none {
  float: none !important; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.nowrap {
  white-space: nowrap; }

.full-width {
  width: 100% !important; }

.vw-100 {
  width: 100vw;
  position: relative;
  margin: 0 0 0 -50vw;
  left: 50%;
  padding: 0; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin: 0.25px 0 20px 0; }

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.two-column, .three-column, .four-column {
  column-count: 1;
  column-gap: 10px; }
  .two-column h1, .three-column h1, .four-column h1, .two-column h2, .three-column h2, .four-column h2, .two-column h3, .three-column h3, .four-column h3, .two-column h4, .three-column h4, .four-column h4, .two-column h5, .three-column h5, .four-column h5, .two-column h6, .three-column h6, .four-column h6 {
    break-inside: avoid; }
  @media (min-width: 37.5em) {
    .two-column, .three-column, .four-column {
      column-gap: 20px; } }
  @media (min-width: 56.25em) {
    .two-column, .three-column, .four-column {
      column-gap: 30px; } }
  @media (min-width: 75em) {
    .two-column, .three-column, .four-column {
      column-gap: 30px; } }
  @media (min-width: 100em) {
    .two-column, .three-column, .four-column {
      column-gap: 35px; } }

@media (min-width: 56.25em) {
  .two-column {
    column-count: 2; } }

@media (min-width: 56.25em) {
  .three-column {
    column-count: 3; } }

@media (min-width: 56.25em) {
  .four-column {
    column-count: 4; } }

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  .screen-reader-text:focus {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #3FB8AF;
    display: block;
    font-size: .8em;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  GRID
  Contains the logic that builds
  Jellyfish's customisable grid
  system.
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px; }

.col {
  width: 100%;
  position: relative;
  padding-left: 5px;
  padding-right: 5px; }
  @media (min-width: 37.5em) {
    .col {
      max-width: 100%;
      flex: 1 1 0px; } }

.col.collapse,
.row.collapse > .col {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.row.collapse {
  margin-left: 0;
  margin-right: 0; }

.sm-1 {
  width: 8.3333333333%; }

.push-sm-11 {
  left: 91.6666666667%; }

.pull-sm-11 {
  right: 91.6666666667%; }

.offset-sm-11 {
  margin-left: 91.6666666667%; }

.sm-2 {
  width: 16.6666666667%; }

.push-sm-10 {
  left: 83.3333333333%; }

.pull-sm-10 {
  right: 83.3333333333%; }

.offset-sm-10 {
  margin-left: 83.3333333333%; }

.sm-3 {
  width: 25%; }

.push-sm-9 {
  left: 75%; }

.pull-sm-9 {
  right: 75%; }

.offset-sm-9 {
  margin-left: 75%; }

.sm-4 {
  width: 33.3333333333%; }

.push-sm-8 {
  left: 66.6666666667%; }

.pull-sm-8 {
  right: 66.6666666667%; }

.offset-sm-8 {
  margin-left: 66.6666666667%; }

.sm-5 {
  width: 41.6666666667%; }

.push-sm-7 {
  left: 58.3333333333%; }

.pull-sm-7 {
  right: 58.3333333333%; }

.offset-sm-7 {
  margin-left: 58.3333333333%; }

.sm-6 {
  width: 50%; }

.push-sm-6 {
  left: 50%; }

.pull-sm-6 {
  right: 50%; }

.offset-sm-6 {
  margin-left: 50%; }

.sm-7 {
  width: 58.3333333333%; }

.push-sm-5 {
  left: 41.6666666667%; }

.pull-sm-5 {
  right: 41.6666666667%; }

.offset-sm-5 {
  margin-left: 41.6666666667%; }

.sm-8 {
  width: 66.6666666667%; }

.push-sm-4 {
  left: 33.3333333333%; }

.pull-sm-4 {
  right: 33.3333333333%; }

.offset-sm-4 {
  margin-left: 33.3333333333%; }

.sm-9 {
  width: 75%; }

.push-sm-3 {
  left: 25%; }

.pull-sm-3 {
  right: 25%; }

.offset-sm-3 {
  margin-left: 25%; }

.sm-10 {
  width: 83.3333333333%; }

.push-sm-2 {
  left: 16.6666666667%; }

.pull-sm-2 {
  right: 16.6666666667%; }

.offset-sm-2 {
  margin-left: 16.6666666667%; }

.sm-11 {
  width: 91.6666666667%; }

.push-sm-1 {
  left: 8.3333333333%; }

.pull-sm-1 {
  right: 8.3333333333%; }

.offset-sm-1 {
  margin-left: 8.3333333333%; }

.sm-12 {
  width: 100%; }

.push-sm-0 {
  left: 0%; }

.pull-sm-0 {
  right: 0%; }

.offset-sm-0 {
  margin-left: 0%; }

@media (min-width: 37.5em) {
  .container {
    width: 96%;
    padding-left: 50px;
    padding-right: 50px; }
  .row {
    margin-left: -10px;
    margin-right: -10px; }
  .row.collapse-md {
    margin-left: 0;
    margin-right: 0; }
    .row.collapse-md .col {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  .col {
    padding-left: 10px;
    padding-right: 10px; }
  .md-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%; }
  .push-md-11 {
    left: 91.6666666667%; }
  .pull-md-11 {
    right: 91.6666666667%; }
  .offset-md-11 {
    margin-left: 91.6666666667%; }
  .md-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%; }
  .push-md-10 {
    left: 83.3333333333%; }
  .pull-md-10 {
    right: 83.3333333333%; }
  .offset-md-10 {
    margin-left: 83.3333333333%; }
  .md-3 {
    max-width: 25%;
    flex: 0 0 25%; }
  .push-md-9 {
    left: 75%; }
  .pull-md-9 {
    right: 75%; }
  .offset-md-9 {
    margin-left: 75%; }
  .md-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%; }
  .push-md-8 {
    left: 66.6666666667%; }
  .pull-md-8 {
    right: 66.6666666667%; }
  .offset-md-8 {
    margin-left: 66.6666666667%; }
  .md-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%; }
  .push-md-7 {
    left: 58.3333333333%; }
  .pull-md-7 {
    right: 58.3333333333%; }
  .offset-md-7 {
    margin-left: 58.3333333333%; }
  .md-6 {
    max-width: 50%;
    flex: 0 0 50%; }
  .push-md-6 {
    left: 50%; }
  .pull-md-6 {
    right: 50%; }
  .offset-md-6 {
    margin-left: 50%; }
  .md-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%; }
  .push-md-5 {
    left: 41.6666666667%; }
  .pull-md-5 {
    right: 41.6666666667%; }
  .offset-md-5 {
    margin-left: 41.6666666667%; }
  .md-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%; }
  .push-md-4 {
    left: 33.3333333333%; }
  .pull-md-4 {
    right: 33.3333333333%; }
  .offset-md-4 {
    margin-left: 33.3333333333%; }
  .md-9 {
    max-width: 75%;
    flex: 0 0 75%; }
  .push-md-3 {
    left: 25%; }
  .pull-md-3 {
    right: 25%; }
  .offset-md-3 {
    margin-left: 25%; }
  .md-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%; }
  .push-md-2 {
    left: 16.6666666667%; }
  .pull-md-2 {
    right: 16.6666666667%; }
  .offset-md-2 {
    margin-left: 16.6666666667%; }
  .md-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%; }
  .push-md-1 {
    left: 8.3333333333%; }
  .pull-md-1 {
    right: 8.3333333333%; }
  .offset-md-1 {
    margin-left: 8.3333333333%; }
  .md-12 {
    max-width: 100%;
    flex: 0 0 100%; }
  .push-md-0 {
    left: 0%; }
  .pull-md-0 {
    right: 0%; }
  .offset-md-0 {
    margin-left: 0%; }
  .jf-debug [class*='pull-md'] {
    border: 2px solid red !important;
    border-left-width: 8px !important; }
  .jf-debug [class*='push-md'] {
    border: 2px solid red !important;
    border-right-width: 8px !important; }
  .jf-debug [class*='pull-md-0'],
  .jf-debug [class*='push-md-0'] {
    border: 0; }
  .jf-debug [class*='offset-md'] {
    border: 2px solid red !important;
    border-right-width: 8px !important; } }

@media (max-width: 37.4375em) {
  .hide-below-md {
    display: none !important; } }

@media (min-width: 37.5em) {
  .hide-above-md {
    display: none !important; } }

@media (min-width: 56.25em) {
  .container {
    width: 880px; }
  .row {
    margin-left: -15px;
    margin-right: -15px; }
  .row.collapse-lg {
    margin-left: 0;
    margin-right: 0; }
    .row.collapse-lg .col {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  .col {
    padding-left: 15px;
    padding-right: 15px; }
  .lg-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%; }
  .push-lg-11 {
    left: 91.6666666667%; }
  .pull-lg-11 {
    right: 91.6666666667%; }
  .offset-lg-11 {
    margin-left: 91.6666666667%; }
  .lg-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%; }
  .push-lg-10 {
    left: 83.3333333333%; }
  .pull-lg-10 {
    right: 83.3333333333%; }
  .offset-lg-10 {
    margin-left: 83.3333333333%; }
  .lg-3 {
    max-width: 25%;
    flex: 0 0 25%; }
  .push-lg-9 {
    left: 75%; }
  .pull-lg-9 {
    right: 75%; }
  .offset-lg-9 {
    margin-left: 75%; }
  .lg-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%; }
  .push-lg-8 {
    left: 66.6666666667%; }
  .pull-lg-8 {
    right: 66.6666666667%; }
  .offset-lg-8 {
    margin-left: 66.6666666667%; }
  .lg-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%; }
  .push-lg-7 {
    left: 58.3333333333%; }
  .pull-lg-7 {
    right: 58.3333333333%; }
  .offset-lg-7 {
    margin-left: 58.3333333333%; }
  .lg-6 {
    max-width: 50%;
    flex: 0 0 50%; }
  .push-lg-6 {
    left: 50%; }
  .pull-lg-6 {
    right: 50%; }
  .offset-lg-6 {
    margin-left: 50%; }
  .lg-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%; }
  .push-lg-5 {
    left: 41.6666666667%; }
  .pull-lg-5 {
    right: 41.6666666667%; }
  .offset-lg-5 {
    margin-left: 41.6666666667%; }
  .lg-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%; }
  .push-lg-4 {
    left: 33.3333333333%; }
  .pull-lg-4 {
    right: 33.3333333333%; }
  .offset-lg-4 {
    margin-left: 33.3333333333%; }
  .lg-9 {
    max-width: 75%;
    flex: 0 0 75%; }
  .push-lg-3 {
    left: 25%; }
  .pull-lg-3 {
    right: 25%; }
  .offset-lg-3 {
    margin-left: 25%; }
  .lg-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%; }
  .push-lg-2 {
    left: 16.6666666667%; }
  .pull-lg-2 {
    right: 16.6666666667%; }
  .offset-lg-2 {
    margin-left: 16.6666666667%; }
  .lg-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%; }
  .push-lg-1 {
    left: 8.3333333333%; }
  .pull-lg-1 {
    right: 8.3333333333%; }
  .offset-lg-1 {
    margin-left: 8.3333333333%; }
  .lg-12 {
    max-width: 100%;
    flex: 0 0 100%; }
  .push-lg-0 {
    left: 0%; }
  .pull-lg-0 {
    right: 0%; }
  .offset-lg-0 {
    margin-left: 0%; }
  .jf-debug [class*='pull-lg'] {
    border: 2px solid red !important;
    border-left-width: 8px !important; }
  .jf-debug [class*='push-lg'] {
    border: 2px solid red !important;
    border-right-width: 8px !important; }
  .jf-debug [class*='pull-lg-0'],
  .jf-debug [class*='push-lg-0'] {
    border: 0; }
  .jf-debug [class*='offset-lg'] {
    border: 2px solid red !important;
    border-right-width: 8px !important; } }

@media (max-width: 56.1875em) {
  .hide-below-lg {
    display: none !important; } }

@media (min-width: 56.25em) {
  .hide-above-lg {
    display: none !important; } }

@media (min-width: 75em) {
  .container {
    width: 1080px; }
  .row {
    margin-left: -15px;
    margin-right: -15px; }
  .row.collapse-xl {
    margin-left: 0;
    margin-right: 0; }
    .row.collapse-xl .col {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  .col {
    padding-left: 15px;
    padding-right: 15px; }
  .xl-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%; }
  .push-xl-11 {
    left: 91.6666666667%; }
  .pull-xl-11 {
    right: 91.6666666667%; }
  .offset-xl-11 {
    margin-left: 91.6666666667%; }
  .xl-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%; }
  .push-xl-10 {
    left: 83.3333333333%; }
  .pull-xl-10 {
    right: 83.3333333333%; }
  .offset-xl-10 {
    margin-left: 83.3333333333%; }
  .xl-3 {
    max-width: 25%;
    flex: 0 0 25%; }
  .push-xl-9 {
    left: 75%; }
  .pull-xl-9 {
    right: 75%; }
  .offset-xl-9 {
    margin-left: 75%; }
  .xl-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%; }
  .push-xl-8 {
    left: 66.6666666667%; }
  .pull-xl-8 {
    right: 66.6666666667%; }
  .offset-xl-8 {
    margin-left: 66.6666666667%; }
  .xl-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%; }
  .push-xl-7 {
    left: 58.3333333333%; }
  .pull-xl-7 {
    right: 58.3333333333%; }
  .offset-xl-7 {
    margin-left: 58.3333333333%; }
  .xl-6 {
    max-width: 50%;
    flex: 0 0 50%; }
  .push-xl-6 {
    left: 50%; }
  .pull-xl-6 {
    right: 50%; }
  .offset-xl-6 {
    margin-left: 50%; }
  .xl-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%; }
  .push-xl-5 {
    left: 41.6666666667%; }
  .pull-xl-5 {
    right: 41.6666666667%; }
  .offset-xl-5 {
    margin-left: 41.6666666667%; }
  .xl-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%; }
  .push-xl-4 {
    left: 33.3333333333%; }
  .pull-xl-4 {
    right: 33.3333333333%; }
  .offset-xl-4 {
    margin-left: 33.3333333333%; }
  .xl-9 {
    max-width: 75%;
    flex: 0 0 75%; }
  .push-xl-3 {
    left: 25%; }
  .pull-xl-3 {
    right: 25%; }
  .offset-xl-3 {
    margin-left: 25%; }
  .xl-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%; }
  .push-xl-2 {
    left: 16.6666666667%; }
  .pull-xl-2 {
    right: 16.6666666667%; }
  .offset-xl-2 {
    margin-left: 16.6666666667%; }
  .xl-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%; }
  .push-xl-1 {
    left: 8.3333333333%; }
  .pull-xl-1 {
    right: 8.3333333333%; }
  .offset-xl-1 {
    margin-left: 8.3333333333%; }
  .xl-12 {
    max-width: 100%;
    flex: 0 0 100%; }
  .push-xl-0 {
    left: 0%; }
  .pull-xl-0 {
    right: 0%; }
  .offset-xl-0 {
    margin-left: 0%; }
  .jf-debug [class*='pull-xl'] {
    border: 2px solid red !important;
    border-left-width: 8px !important; }
  .jf-debug [class*='push-xl'] {
    border: 2px solid red !important;
    border-right-width: 8px !important; }
  .jf-debug [class*='pull-xl-0'],
  .jf-debug [class*='push-xl-0'] {
    border: 0; }
  .jf-debug [class*='offset-xl'] {
    border: 2px solid red !important;
    border-right-width: 8px !important; } }

@media (max-width: 74.9375em) {
  .hide-below-xl {
    display: none !important; } }

@media (min-width: 75em) {
  .hide-above-xl {
    display: none !important; } }

@media (min-width: 100em) {
  .container {
    width: 1480px; }
  .row {
    margin-left: -17.5px;
    margin-right: -17.5px; }
  .row.collapse-xxl {
    margin-left: 0;
    margin-right: 0; }
    .row.collapse-xxl .col {
      padding-left: 0 !important;
      padding-right: 0 !important; }
  .col {
    padding-left: 17.5px;
    padding-right: 17.5px; }
  .xxl-1 {
    max-width: 8.3333333333%;
    flex: 0 0 8.3333333333%; }
  .push-xxl-11 {
    left: 91.6666666667%; }
  .pull-xxl-11 {
    right: 91.6666666667%; }
  .offset-xxl-11 {
    margin-left: 91.6666666667%; }
  .xxl-2 {
    max-width: 16.6666666667%;
    flex: 0 0 16.6666666667%; }
  .push-xxl-10 {
    left: 83.3333333333%; }
  .pull-xxl-10 {
    right: 83.3333333333%; }
  .offset-xxl-10 {
    margin-left: 83.3333333333%; }
  .xxl-3 {
    max-width: 25%;
    flex: 0 0 25%; }
  .push-xxl-9 {
    left: 75%; }
  .pull-xxl-9 {
    right: 75%; }
  .offset-xxl-9 {
    margin-left: 75%; }
  .xxl-4 {
    max-width: 33.3333333333%;
    flex: 0 0 33.3333333333%; }
  .push-xxl-8 {
    left: 66.6666666667%; }
  .pull-xxl-8 {
    right: 66.6666666667%; }
  .offset-xxl-8 {
    margin-left: 66.6666666667%; }
  .xxl-5 {
    max-width: 41.6666666667%;
    flex: 0 0 41.6666666667%; }
  .push-xxl-7 {
    left: 58.3333333333%; }
  .pull-xxl-7 {
    right: 58.3333333333%; }
  .offset-xxl-7 {
    margin-left: 58.3333333333%; }
  .xxl-6 {
    max-width: 50%;
    flex: 0 0 50%; }
  .push-xxl-6 {
    left: 50%; }
  .pull-xxl-6 {
    right: 50%; }
  .offset-xxl-6 {
    margin-left: 50%; }
  .xxl-7 {
    max-width: 58.3333333333%;
    flex: 0 0 58.3333333333%; }
  .push-xxl-5 {
    left: 41.6666666667%; }
  .pull-xxl-5 {
    right: 41.6666666667%; }
  .offset-xxl-5 {
    margin-left: 41.6666666667%; }
  .xxl-8 {
    max-width: 66.6666666667%;
    flex: 0 0 66.6666666667%; }
  .push-xxl-4 {
    left: 33.3333333333%; }
  .pull-xxl-4 {
    right: 33.3333333333%; }
  .offset-xxl-4 {
    margin-left: 33.3333333333%; }
  .xxl-9 {
    max-width: 75%;
    flex: 0 0 75%; }
  .push-xxl-3 {
    left: 25%; }
  .pull-xxl-3 {
    right: 25%; }
  .offset-xxl-3 {
    margin-left: 25%; }
  .xxl-10 {
    max-width: 83.3333333333%;
    flex: 0 0 83.3333333333%; }
  .push-xxl-2 {
    left: 16.6666666667%; }
  .pull-xxl-2 {
    right: 16.6666666667%; }
  .offset-xxl-2 {
    margin-left: 16.6666666667%; }
  .xxl-11 {
    max-width: 91.6666666667%;
    flex: 0 0 91.6666666667%; }
  .push-xxl-1 {
    left: 8.3333333333%; }
  .pull-xxl-1 {
    right: 8.3333333333%; }
  .offset-xxl-1 {
    margin-left: 8.3333333333%; }
  .xxl-12 {
    max-width: 100%;
    flex: 0 0 100%; }
  .push-xxl-0 {
    left: 0%; }
  .pull-xxl-0 {
    right: 0%; }
  .offset-xxl-0 {
    margin-left: 0%; }
  .jf-debug [class*='pull-xxl'] {
    border: 2px solid red !important;
    border-left-width: 8px !important; }
  .jf-debug [class*='push-xxl'] {
    border: 2px solid red !important;
    border-right-width: 8px !important; }
  .jf-debug [class*='pull-xxl-0'],
  .jf-debug [class*='push-xxl-0'] {
    border: 0; }
  .jf-debug [class*='offset-xxl'] {
    border: 2px solid red !important;
    border-right-width: 8px !important; } }

@media (max-width: 99.9375em) {
  .hide-below-xxl {
    display: none !important; } }

@media (min-width: 100em) {
  .hide-above-xxl {
    display: none !important; } }

.jf-debug::before {
  content: "sm";
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 10000;
  background: white;
  font-size: 12px;
  color: #555555;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }
  @media (min-width: 37.5em) {
    .jf-debug::before {
      content: "md"; } }
  @media (min-width: 56.25em) {
    .jf-debug::before {
      content: "lg"; } }
  @media (min-width: 75em) {
    .jf-debug::before {
      content: "xl"; } }
  @media (min-width: 100em) {
    .jf-debug::before {
      content: "xxl"; } }

.jf-debug .col {
  box-shadow: 0 1px 3px 1px rgba(53, 255, 240, 0.7) !important; }

.jf-debug .row {
  box-shadow: 0 1px 3px 1px rgba(255, 0, 255, 0.7) !important; }

.jf-debug .row {
  background: repeating-linear-gradient(to right, rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.5) 8.3333333333%, rgba(245, 245, 245, 0.5) 8.3333333333%, rgba(245, 245, 245, 0.5) 16.6666666667%) !important;
  background-origin: content-box; }
  .jf-debug .row .row {
    background: none; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  BUTTONS
  Default styling for all buttons
  .button and form elements
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.button, a.button, button, [type=submit], [type=reset], [type=button] {
  -webkit-appearance: none;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.3;
  border: 1px solid #3FB8AF;
  background-color: #3FB8AF;
  font-size: 1em;
  color: white;
  padding: .75em 1.5em;
  margin: 5px 5px 2.5px 5px;
  border-radius: 6px;
  transition: background 0.3s ease, border-color 0.3s ease, color 0.3s ease; }
  .button::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner, [type=submit]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=button]::-moz-focus-inner {
    border: 0;
    padding: 0; }
  .button:hover, .button:focus, .button:active, a.button:hover, a.button:focus, a.button:active, button:hover, button:focus, button:active, [type=submit]:hover, [type=submit]:focus, [type=submit]:active, [type=reset]:hover, [type=reset]:focus, [type=reset]:active, [type=button]:hover, [type=button]:focus, [type=button]:active {
    background-color: #32928b;
    border-color: #32928b; }
  .button:focus, a.button:focus, button:focus, [type=submit]:focus, [type=reset]:focus, [type=button]:focus {
    outline: 0;
    box-shadow: 0px 0px 1px 3px #9adcd8; }

.button__secondary, [type=submit], a.button__secondary, a[type=submit] {
  background-color: #DAD8A7;
  border-color: #DAD8A7; }
  .button__secondary:hover, :hover[type=submit], .button__secondary:focus, :focus[type=submit], .button__secondary:active, :active[type=submit], a.button__secondary:hover, a:hover[type=submit], a.button__secondary:focus, a:focus[type=submit], a.button__secondary:active, a:active[type=submit] {
    background-color: #cbc883;
    border-color: #cbc883; }
  .button__secondary:focus, :focus[type=submit], a.button__secondary:focus, a:focus[type=submit] {
    box-shadow: 0px 0px 1px 3px #f1f0dd; }

.button__outline, [type=reset], a.button__outline, a[type=reset] {
  background: transparent;
  color: inherit;
  border-color: #3FB8AF; }
  .button__outline:hover, :hover[type=reset], .button__outline:focus, :focus[type=reset], .button__outline:active, :active[type=reset], a.button__outline:hover, a:hover[type=reset], a.button__outline:focus, a:focus[type=reset], a.button__outline:active, a:active[type=reset] {
    background-color: transparent;
    border-color: #32928b;
    color: #3FB8AF; }

.button__ghost, a.button__ghost {
  background: transparent;
  color: inherit;
  border-color: transparent; }
  .button__ghost:hover, .button__ghost:focus, .button__ghost:active, a.button__ghost:hover, a.button__ghost:focus, a.button__ghost:active {
    background-color: transparent;
    border-color: #32928b;
    color: #3FB8AF; }

.button__full, a.button__full {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px; }

.button__large, a.button__large {
  font-size: 1.2rem; }

.button__small, a.button__small {
  font-size: 0.8rem; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  ICONS
  Default styling for icons
  generated by grunt-svgstore
  into the icons.svg spritesheet
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.icon {
  display: inline-block;
  fill: currentColor;
  height: 0.9em;
  width: 0.9em;
  vertical-align: middle;
  position: relative;
  top: -0.15em; }
  .icon path {
    fill: inherit; }

.icon-list {
  list-style-type: none;
  margin-left: 1em; }
  .icon-list .icon {
    margin-right: .5em; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  TABLES
  Default styling table elements
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%; }

td {
  border-bottom: 1px solid #d9dbdb; }

th {
  font-weight: bold; }

th,
td {
  text-align: left;
  padding: 5px; }

thead th {
  border-bottom: 2px solid #d9dbdb;
  background-color: #EBF2F2; }

tfoot th {
  border-top: 2px solid #d9dbdb; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  FORMS
  Styles for forms, and inputs
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
  display: block;
  border: 1px solid #d9dbdb;
  border-radius: 4px;
  padding: 10px;
  outline: none;
  margin-bottom: 5px;
  width: 100%;
  max-width: 100%;
  line-height: 1; }

[type=color]:hover, [type=date]:hover, [type=datetime]:hover, [type=datetime-local]:hover, [type=email]:hover, [type=month]:hover, [type=number]:hover, [type=password]:hover, [type=search]:hover, [type=tel]:hover, [type=text]:hover, [type=url]:hover, [type=week]:hover, [type=time]:hover, select:hover, textarea:hover {
  border-color: #bfc2c2; }

[type=color]:focus, [type=color]:active, [type=date]:focus, [type=date]:active, [type=datetime]:focus, [type=datetime]:active, [type=datetime-local]:focus, [type=datetime-local]:active, [type=email]:focus, [type=email]:active, [type=month]:focus, [type=month]:active, [type=number]:focus, [type=number]:active, [type=password]:focus, [type=password]:active, [type=search]:focus, [type=search]:active, [type=tel]:focus, [type=tel]:active, [type=text]:focus, [type=text]:active, [type=url]:focus, [type=url]:active, [type=week]:focus, [type=week]:active, [type=time]:focus, [type=time]:active, select:focus, select:active, textarea:focus, textarea:active {
  border-color: #3FB8AF;
  box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1), 0 0 3px 1px #ade3df; }

textarea {
  overflow: auto;
  height: auto; }

label {
  font-weight: bold;
  max-width: 100%;
  display: block;
  margin: 15px 0 5px; }

fieldset {
  border: 1px solid #d9dbdb;
  border-radius: 4px;
  padding: 20px;
  margin: 30px 0; }

legend {
  padding: 0 5px;
  font-weight: bold;
  font-size: 1.5em; }

[type=range] {
  width: 100%; }

select {
  color: #333333;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) right center no-repeat;
  line-height: 1; }

select::-ms-expand {
  display: none; }

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #d9dbdb; }

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 10px 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; }
  .hamburger.is-active:hover {
    opacity: 1; }
  .hamburger.is-active .hamburger-inner,
  .hamburger.is-active .hamburger-inner::before,
  .hamburger.is-active .hamburger-inner::after {
    background-color: white; }

.hamburger-box {
  width: 25px;
  height: 19px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -1.5px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 25px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -8px; }
  .hamburger-inner::after {
    bottom: -8px; }

/*
   * Minus
   */
.hamburger--minus .hamburger-inner::before, .hamburger .hamburger-inner::before, .hamburger--minus .hamburger-inner::after, .hamburger .hamburger-inner::after {
  transition: bottom 0.08s 0s ease-out, top 0.08s 0s ease-out, opacity 0s linear; }

.hamburger--minus.is-active .hamburger-inner::before, .is-active.hamburger .hamburger-inner::before, .hamburger--minus.is-active .hamburger-inner::after, .is-active.hamburger .hamburger-inner::after {
  opacity: 0;
  transition: bottom 0.08s ease-out, top 0.08s ease-out, opacity 0s 0.08s linear; }

.hamburger--minus.is-active .hamburger-inner::before, .is-active.hamburger .hamburger-inner::before {
  top: 0; }

.hamburger--minus.is-active .hamburger-inner::after, .is-active.hamburger .hamburger-inner::after {
  bottom: 0; }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  NAV
  Styling for the burger menu
  (also see vendor/hamburgers),
  and responsive navbar
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.nav-bar {
  background: #3FB8AF;
  width: 100%;
  display: none; }
  @media (max-width: 37.4375em) {
    .nav-bar .container {
      padding: 0;
      width: 100%; } }
  .nav-bar a:not(.button) {
    font-size: 0.9em;
    font-weight: bold;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px;
    line-height: 1.2;
    transition: color 0.3s ease, background-color 0.3s ease; }
    .nav-bar a:not(.button), .nav-bar a:not(.button):visited {
      color: white;
      background-color: #3FB8AF; }
    .nav-bar a:not(.button):hover, .nav-bar a:not(.button):focus, .nav-bar a:not(.button):active {
      color: white;
      background-color: #61c9c1; }
  .nav-bar a.button {
    margin: 10px 10px; }
  .nav-bar input {
    margin: 10px 10px;
    width: auto;
    min-width: 180px;
    display: inline-block; }
  .nav-bar .this-page a {
    color: #e6f6f5 !important; }
  .nav-bar ul {
    list-style-type: none;
    margin: 0;
    width: 100%; }
  .nav-bar li {
    width: 100%;
    margin: 0; }
  .nav-bar li.has-children > a {
    padding-right: 17.5px; }
    .nav-bar li.has-children > a::after {
      display: inline-block;
      position: absolute;
      right: 0;
      content: "▾";
      height: 1em;
      width: 1em;
      right: 10px;
      transform: rotate(-90deg);
      transition: transform 0.3s ease; }
  .nav-bar li ul {
    display: none;
    width: 100%;
    flex-direction: column; }
    .nav-bar li ul a:not(.button) {
      text-transform: capitalize; }
  .nav-bar li.drop-active a::after {
    transform: rotate(0deg); }
  .nav-bar li.drop-active > ul {
    display: flex; }

@media (min-width: 37.5em) {
  #nav-hamburger {
    display: none; }
  .nav-bar {
    display: block !important; }
    .nav-bar .nav-bar-inner {
      display: flex; }
    .nav-bar a:not(.button) {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      height: 100%; }
    .nav-bar a.button {
      margin: 10px 20px; }
    .nav-bar img {
      align-self: center; }
    .nav-bar ul {
      display: flex;
      flex-direction: row; }
    .nav-bar li {
      display: flex;
      width: auto;
      align-items: center; }
    .nav-bar li.has-children > a {
      padding-right: 35px; }
      .nav-bar li.has-children > a::after {
        right: auto;
        transform: rotate(0deg);
        margin-left: 5px;
        display: inline-block; }
    .nav-bar li ul {
      position: absolute;
      display: flex;
      width: auto;
      min-width: 180px;
      max-width: 220px;
      z-index: 9999;
      box-sizing: content-box; }
      .nav-bar li ul li {
        width: 100%;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.25s linear; }
    .nav-bar li:hover > ul li {
      max-height: 150px;
      transition: max-height 0.6s linear; }
    .nav-bar .nav__right {
      justify-content: flex-end; } }

.hamburger {
  background-color: #3FB8AF;
  border: 1px solid #3FB8AF;
  border-radius: 0px;
  transition: background-color 0.3s ease, border 0.3s ease;
  width: 100%;
  justify-content: space-between;
  text-align: right;
  display: flex; }
  .hamburger:hover, .hamburger:focus, .hamburger:active {
    background-color: #61c9c1;
    border: 1px solid #61c9c1; }
  .hamburger:focus {
    outline: 0;
    box-shadow: none !important; }

.hamburger-label {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  color: white; }
  .is-active .hamburger-label {
    color: white; }

.docs {
  background-color: #f7f8f9;
  /*
    .row {padding-top:10px;padding-bottom:10px;background-color: #efefef;}
            .container{border: 1px solid red;}
            .col{border: 1px solid blue;padding-top: 10px;padding-bottoM:10px;}
            .row{border: 1px solid orange;}
            //.row.col {margin-left:0; margin-right:0;padding-left:0; padding-right:0;}
            body {background: ghostwhite;}
            main {background: white;}

            .inner {border:1px solid green;}
    .container .container {padding:0;width: 100%}
    */ }
  .docs .boxed, .docs pre {
    background: #EBF2F2;
    border: 1px solid #D9DBDB;
    padding: 1.4em;
    margin: 20px 0;
    display: inherit; }
    .docs .boxed.no-margin, .docs pre.no-margin {
      margin: 0; }
    .docs .boxed .boxed, .docs pre .boxed, .docs .boxed pre, .docs pre pre {
      background: #fff; }
  .docs table {
    margin: 20px 0; }
    .docs table h1, .docs table h2, .docs table h3, .docs table h4, .docs table h5, .docs table h6 {
      margin: 0; }
  .docs pre {
    width: auto;
    display: block;
    white-space: pre-wrap;
    position: relative; }
    .docs pre label {
      top: 0;
      right: 0;
      position: absolute;
      float: right;
      display: block;
      background-color: #556270;
      color: #fff;
      padding: .3em; }
  .docs .css-ref, .docs .grid-ex, .docs .scss-ref, .docs .variable-ref {
    display: inline-block;
    color: white;
    padding: .3em;
    border-radius: 4px;
    font-size: 0.8em;
    line-height: 1; }
  .docs .css-ref, .docs .grid-ex {
    background: #4ECDC4; }
  .docs .scss-ref {
    background: #556270; }
  .docs .variable-ref {
    background: #FF6B6B; }
  .docs .grid-ex {
    width: 100%;
    text-align: center; }
  .docs td, .docs th {
    padding: 10px;
    border: 1px solid #D9DBDB; }
  .docs th {
    font-weight: bold;
    text-align: left; }
  .docs .lead {
    font-size: 1.75em; }
  .docs .docs-section {
    margin-top: 40px;
    margin-bottom: 40px; }
  .docs .nest-1 {
    box-shadow: inset 5px 0px 0px 0px #D9DBDB;
    padding-left: 15px; }
  .docs .nest-2 {
    box-shadow: inset 10px 0px 0px 0px #D9DBDB;
    padding-left: 20px; }
  .docs .smooth-transform {
    transition: transform 0.3s ease; }
    .docs .smooth-transform:hover, .docs .smooth-transform:active {
      transform: scale(1.1); }
  .docs .smooth-background {
    transition: background 0.3s ease; }
    .docs .smooth-background:hover, .docs .smooth-background:active {
      background-color: #4ECDC4; }
  .docs code var {
    font-size: inherit; }

/*# sourceMappingURL=style.css.map */