/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*
  DOCS
  Contains additional styles used in documentation.
  Can be removed on live projects.
*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.docs {
  .row-boxed {
    border: 1px solid $color-text-light;
    min-height: 120px;
    margin-bottom: $element-margin/2;
  }

  .boxed {
    background: tint($color-secondary, 15%);
    padding: .7rem .9rem;
    line-height: 1.2;
    margin: $element-margin/4 0 $element-margin/2 0;
    display: inherit;
    font-size: $font-size-small;
    flex: 1;
  }

  pre {
    position: relative;
    margin: $element-margin 0 !important;
    font-size: 0.9em !important;

    label {
      @extend small;
      top: 0;
      right: 0;
      position: absolute;
      float: right;
      display: block;
      background-color: $color-secondary;
      color: #fff;
      padding: .4em .6em;
    }
  }

  %reference {
    display: inline-block;
    color: $color-white;
    padding: 0.4em .7em;
    border-radius: 3px;
    font-size: $font-size-small;
    line-height: 1;
  }

  .css-ref {
    @extend %reference;
    background: $color-primary;
  }

  .file-ref {
    @extend %reference;
    background: $color-secondary;
  }

  .variable-ref {
    @extend %reference;
    background: $color-tertiary;
  }

  // Standfirst
  .standfirst {
    font-size: $font-size-large;
  }

  .docs-header {
    background: url(https://images.unsplash.com/photo-1559291001-693fb9166cba) center;
    background-size: cover;
    padding: $element-margin*2 0;
    margin-bottom: $element-margin*2;
    text-align: center;
    color: $color-white;

    a {
      color: $color-white;
    }
  }

  //Margin around sections
  .docs-section {
    margin-top: $element-margin*4;
    padding-bottom: $element-margin*4;
    border-bottom: $borders;
  }

  .smooth- {
    &transform {
      @include smooth(transform);

      &:hover,
      &:active {
        transform: scale(1.1);
      }
    }

    &background {
      @include smooth(background);

      &:hover,
      &:active {
        background-color: $color-background-alt;
      }
    }

    &wild {
      @include smooth(color, transform, background);

      &:hover,
      &:active {
        transform: scale(1.1);
        background-color: $color-secondary;
        color: $color-white;
        transform: matrix(1.08, .05, .01, 1.1, 1, 4);
      }
    }
  }
}

#navbar-sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  min-height: 55px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 8px -1px rgba(0, 0, 0, 0.25);

  .navbar-start {
    margin-right: 0;
  }

  .container {
    padding: 0;
  }

  a.active {
    background-color: tint($color-secondary, 85%);
    color: $color-white;
  }
}

.navbar-brand {
  min-height: 55px;
  .navbar-item {
    font-weight: bold;
    text-transform: uppercase;
    color: $color-secondary;
  }
}

.navbar-menu .navbar-end {
  align-items: stretch;
}

body {
  padding-top: 55px;
}

#navbar-menu {
  justify-content: center;
}

/* Create Button Examples */
.button__hotpink {
  @include create_button(hotpink);
}
.button__gold {
  @include create_button(gold, brown, 20% );
}
.button__white {
  @include create_button(#fff, gray);
}

/* Create Label Examples */
.label__hotpink {
  @include create_label(hotpink);
}
.label__gold {
  @include create_label(gold);
}
.label__white {
  @include create_label(white);
}

/* Create Callout Examples */
.callout__hotpink {
  @include create_callout(hotpink);
}
.callout__gold {
  @include create_callout(gold);
}

/* Tints and Shades */

$tintshade: #aa0000;
.tintshade {
  height: 100px;
  width: calc(100%/6);
  font-size: 0.9em;
  border-bottom: 0;
  vertical-align: middle;
  text-align: center;
  background-color: $tintshade;
  &.tint-100 {
    background-color: tint($tintshade, 100%)
  }
  &.tint-80 {
    background-color: tint($tintshade, 80%)
  }
  &.tint-60 {
    background-color: tint($tintshade, 60%)
  }
  &.tint-40 {
    background-color: tint($tintshade, 40%)
  }
  &.tint-20 {
    background-color: tint($tintshade, 20%)
  }
  &.tint-0 {
    background-color: tint($tintshade, 0%)
  }
  &.lighten-100 {
    background-color: lighten($tintshade, 100%)
  }
  &.lighten-80 {
    background-color: lighten($tintshade, 80%)
  }
  &.lighten-60 {
    background-color: lighten($tintshade, 60%)
  }
  &.lighten-40 {
    background-color: lighten($tintshade, 40%)
  }
  &.lighten-20 {
    background-color: lighten($tintshade, 20%)
  }
  &.lighten-0 {
    background-color: lighten($tintshade, 0%)
  }
  &[class*=" shade"], &[class*=" darken"] {
    color: #fff;
  }
  &.shade-100 {
    background-color: shade($tintshade, 100%)
  }
  &.shade-80 {
    background-color: shade($tintshade, 80%)
  }
  &.shade-60 {
    background-color: shade($tintshade, 60%)
  }
  &.shade-40 {
    background-color: shade($tintshade, 40%)
  }
  &.shade-20 {
    background-color: shade($tintshade, 20%)
  }
  &.shade-0 {
    background-color: shade($tintshade, 0%)
  }
  &.darken-100 {
    background-color: darken($tintshade, 100%)
  }
  &.darken-80 {
    background-color: darken($tintshade, 80%)
  }
  &.darken-60 {
    background-color: darken($tintshade, 60%)
  }
  &.darken-40 {
    background-color: darken($tintshade, 40%)
  }
  &.darken-20 {
    background-color: darken($tintshade, 20%)
  }
  &.darken-0 {
    background-color: darken($tintshade, 0%)
  }
}

// Simulated Heading Styling
.h-em-2 {
  font-size: 2em;
}
.h-tomato {
  color: tomato;
}
.h-ul {
  text-decoration: underline;
}
