%embedded-content {
  float: none !important;
  margin: token(flow) auto;
  display: block;
}

img {
  &.align-start,
  &.align-left,
  &.align-end,
  &.align-right,
  &.align-none,
  &.align-center {
    @extend %embedded-content;
  }
  @include above(sm) {
    &.align-start,
    &.align-left {
      margin-block: 0 token(flow);
      margin-inline: 0 token(flow);
      float: inline-start !important;
    }
    &.align-end,
    &.align-right {
      margin-block: 0 token(flow);
      margin-inline: token(flow) 0;
      float: inline-end !important;
    }
    &.align-none {
      margin: 0 0 token(flow) 0;
    }
    &.align-center {
      margin: 0 auto token(flow) auto;
    }
  }
}
