// Base styles for form elements
%forms {
  display: block;
  border: $borders;
  border-radius: var(--form-input-border-radius);
  background: var(--form-input-background);
  font-family: $form-font;
  padding: 10px;
  outline: none;
  margin: get-size(0.25) 0 get-size(0.75) 0;
  //width: 100%;
  max-width: 100%;
  line-height: 1;
  font-size: 16px !important;
  opacity: 1;
}

// Forms stack defined in _settings.scss
#{$form-items} {
  @extend %forms;
  &:hover {
    --form-input-border-color: #{$form-border-hover};
  }
  &:disabled {
    // Grey out disabled form elements
    cursor: not-allowed;
    border: $borders;
    box-shadow: none;
    opacity: 0.5;
  }
}

// Fix textarea height and overflow
textarea {
  overflow: auto;
  height: auto;
  width: 100%;
}

// Labels
label {
  max-width: 100%;
  display: block;
  margin: 0;
  font-size: $form-label-size;
  font-weight: $form-label-weight;
}

input[type="checkbox"],
input[type="radio"] {
  margin-right: get-size(0.25);
  font-size: 1em;
  width: 0.9em;
  height: 0.9em;
  top: 0.1em;
  position: relative;
}

// Field Sets
fieldset {
  border: $borders;
  border-radius: var(--form-input-border-radius);
  padding: $element-padding;
  margin: $element-margin 0;
}
legend {
  padding: 0 get-size(0.75);
  margin-left: n(get-size(0.75));
  font-weight: $weight-bold;
}

// Make range full width
[type="range"] {
  width: 100%;
}

// Fix issues with select
select {
  width: 300px;
  max-width: 60%;
  color: v(color-text);
  -webkit-appearance: none;
  -moz-appearance: none;
  background: var(--form-input-background)
    url("data:image/svg+xml;charset=utf-8,<svg width='41' height='26' viewBox='0 0 41 26' xmlns='http://www.w3.org/2000/svg'><path fill='var(--form-input-placeholder-color)' d='M0 5.382l19.983 19.983L40.14 5.208 34.932 0 19.869 15.062 4.84.032z' fill-rule='evenodd'/></svg>")
    right 10px center no-repeat;
  background-size: 0.75em;
  background-size: 0.75em;
  line-height: 1.4; // ensures text doesn't get cut off
}

// Dropdown icon fix for IE
select::-ms-expand {
  display: none;
}

// Make color picker look better
[type="color"] {
  height: get-size(3);
  padding: get-size(0.25) get-size(0.5);
  vertical-align: middle;
}

// Placeholder Text
::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: var(--form-input-placeholder-color);
}

form {
  [type="submit"],
  [type="reset"],
  [type="button"] {
    margin-top: get-size(0.25);
  }
  .col {
    #{$form-items} {
      width: 100%;
    }
  }
}

// TODO: add a field-group container
// TODO: Add input groups and input addons https://www.shoelace.style/docs/forms.html
// TODO: Add validation?
// TODO: Add Input Group https://getbootstrap.com/docs/4.0/components/input-group/

// Wrapper to apply better margins to radioboxes and checkboxes
.form-group {
  margin: get-size(0.25) 0 get-size(0.75) 0;
}

// Make checkboxes/radioboxes inline-block
.form-group-inline {
  @extend .form-group;
  * {
    display: inline-block;
  }
  label {
    margin-right: get-size(0.5);
  }
}

// Tighter gutters on form rows
.form-row {
  margin-left: nh(get-size(0.5));
  margin-right: nh(get-size(0.5));
  display: flex;
  flex-wrap: wrap;
  .col {
    padding-left: h(get-size(0.5));
    padding-right: h(get-size(0.5));
  }
}
