// Embed videos responsively by wrapping them in an .embed-container
.embed-container {
  position: relative;
  aspect-ratio: 16/9;
  overflow: hidden;
  max-width: 100%;
  margin: 0 0 token(flow) 0;
  iframe,
  object,
  embed {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
  }
}

[class*="ratio-"] {
  display: block;
  overflow: hidden;
}

.ratio-16x9 {
  aspect-ratio: 16/9;
}
.ratio-1x1 {
  aspect-ratio: 1/1;
}
.ratio-4x3 {
  aspect-ratio: 4/3;
}
.ratio-21x9 {
  aspect-ratio: 21/9;
}

img[class*="ratio-"],
[class*="ratio-"] > img {
  inline-size: 100%;
  object-fit: cover;
  margin-block-end: 0;
}
