table.is-striped {
  tr:nth-child(odd) td {
    background: $table-stripe-color;
  }
}

table.has-border {
  &,
  td,
  th {
    border: $borders;
  }
  thead th {
    border-bottom-width: $border-width * 2;
  }
  tfoot th {
    border-top-width: $border-width * 2;
  }
}

table.is-hoverable {
  tr:hover td {
    background: $table-hover-background !important;
    color: $table-hover-color;
  }
}
table.is-responsive {
  @include below(md) {
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    tr {
      display: block;
    }

    td {
      display: block;
      &::before {
        content: attr(data-label) ":";
        font-weight: bold;
        display: block;
      }
    }
  }
}
