$root-size: 16px;

// Create empty map. This allows the map to be defined in the project settings file to override and add any sizes as required
$sizing-system: () !default;

// Merge default colours into the map
$sizing-system: map-merge(
  (
    0.25: $root-size * 0.25,
    0.5: $root-size * 0.5,
    0.75: $root-size * 0.75,
    1: $root-size * 1,
    1.5: $root-size * 1.5,
    2: $root-size * 2,
    3: $root-size * 3,
    4: $root-size * 4,
    6: $root-size * 6,
    8: $root-size * 8,
    12: $root-size * 12,
    16: $root-size * 16,
    24: $root-size * 24,
    32: $root-size * 32,
    40: $root-size * 40,
    48: $root-size * 48,
  ),
  $sizing-system
);

// GLOBAL PADDING/MARGINS
$element-padding: get-size(1.5) !default;
$element-margin: get-size(1.5) !default;
