$root-size: 16px;

$sizing-system: () !default;

$sizing-system: map-merge(
  (
    0.125: $root-size * 0.125,
    0.25: $root-size * 0.25,
    0.5: $root-size * 0.5,
    0.75: $root-size * 0.75,
    1: $root-size * 1,
    1.5: $root-size * 1.5,
    2: $root-size * 2,
    3: $root-size * 3,
    4: $root-size * 4,
    6: $root-size * 6,
    8: $root-size * 8,
    12: $root-size * 12,
    16: $root-size * 16,
    24: $root-size * 24,
    32: $root-size * 32,
    40: $root-size * 40,
    48: $root-size * 48,
  ),
  $sizing-system
);

$space-scale: () !default;
$space-scale: map-merge(
  (
    "3xs": get-size(0.25),
    "2xs": get-size(0.5),
    "xs": get-size(0.75),
    "sm": get-size(1),
    "md": get-size(1.5),
    "lg": get-size(3),
    "xl": get-size(6),
    "2xl": get-size(8),
  ),
  $space-scale
);

$flow-step: "md" !default;
