// Create empty maps. This allows the maps to be defined in the project's settings file to override and add any colors as required
$colors: () !default;
$theme-colors: () !default;
$background-colors: () !default;

$colors: map-merge(
  (
    "primary": makeColorPalette(#eb567d),
    "secondary": makeColorPalette(#ffa0cd),
    "neutral": makeColorPalette(#64748b),
    "success": makeColorPalette(#00c851),
    "warning": makeColorPalette(#ffbb33),
    "error": makeColorPalette(#ff4444),
  ),
  $colors
);

$color-white: #ffffff !default;
$color-black: #000000 !default;
$body-background-color: #faf9f6 !default;
$soft-background-color: $color-white !default;
$color-role-shades: (
  subtle: 50,
  muted: 300,
  emphasis: 700,
  strong: 900,
) !default;

$link-color: primary !default; // Default family for links, output as css props --link-color-*

$color-text: get-color(neutral, 1000) !default;
$color-text-muted-mix: 70% !default; // secondary content: captions, .text-muted
$color-text-subtle-mix: 60% !default; // hint text: ::placeholder, .text-subtle
$color-headings-preferred: get-color(neutral, role-shade(emphasis)) !default;

$mark-background-color: #ffff9d !default;

$code-background-color: get-color-role(neutral, subtle) !default;
$code-color: token(color-text) !default;

$selection-background-mix: 20% !default;
$selection-color: token(color-text) !default;

// DARK MODE
$dark-mode-enabled: true !default;
$dark-body-background-color: #14171c !default;
$dark-soft-background-color: #1e222a !default;
$dark-color-role-shades: (
  subtle: 800,
  muted: 700,
  emphasis: 300,
  strong: 200,
) !default;
$dark-link-visited-color-shade: 400 !default;
