$generate-accordion-modifiers: true !default;
$accordion-padding-y: get-size(0.75) !default;
$accordion-padding-x: get-size(1) !default;
$accordion-heading-bg-color: get-color(neutral, 25) !default;
$accordion-heading-hover-bg-color: get-color(neutral, 50) !default;
$accordion-heading-text-color: get-color(neutral, 900) !default;
$accordion-heading-hover-text-color: get-color(neutral, 900) !default;
$accordion-heading-weight: $weight-bold !default;
$accordion-heading-font-size: token(font-size-1) !default;
$accordion-border-color: get-color(neutral, 200) !default;
$accordion-border-radius: get-size(0.25) !default;
$accordion-transition-duration: 0.25s !default;
