// CALLOUTS
$generate-callouts: true !default;
$callout-border-radius: 0px !default;
$callout-border-width: 1px 1px 1px get-size(0.5) !default;
$callout-border-style: solid !default;
$callout-padding: $element-padding !default;
