$card-border-radius: get-size(0.75) !default;
$card-border-style: solid !default;
$card-border-color: get-color(neutral, 300) !default;
$card-border-width: 1px !default;
$card-padding: $element-padding !default;
