$shadow-color: #0b1220 !default;
$dark-shadow-color: #000000 !default;

$dark-shadow-alpha-boost: 4 !default;

$shadow-scale: () !default;
$shadow-scale: map-merge(
  (
    "none": none,
    "xs": (
      0 1px 2px,
      8%,
    ),
    "sm": (
      0 1px 3px,
      12%,
    ),
    "md": (
      0 4px 10px,
      14%,
    ),
    "lg": (
      0 10px 24px,
      16%,
    ),
    "xl": (
      0 20px 48px,
      18%,
    ),
  ),
  $shadow-scale
);
