@use "sass:math";

$cols: 12 !default;
$grid-has-order: true !default;
$grid-has-offset: true !default;
$debug-mode-on: false !default;

// Calculate width of one column based on amount defined in settings
$one_col: math.div(100%, $cols);

// Base Variables (used before breakpoints are applied)
$base-col-name: xs !default;
$base-container-gutter: get-size(1.5) !default; // define in px
$base-col-gutter: get-size(1) !default; // define in px
