$modal-backdrop-color: var(--color-black) !default;
$modal-backdrop-opacity: 0.9 !default;
$modal-max-width: 900px !default;
$modal-border: none !default;
$modal-border-radius: get-size(0.5) !default;
$modal-outer-margin: get-size(3) !default;
$modal-padding: get-size(2) !default;
$modal-close-icon-svg: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cpath d='M10.3,10.3l19.3,19.3 M10.3,29.7l19.3-19.3' stroke='currentColor' stroke-width='6' stroke-linecap='square' /%3E%3C/svg%3E" !default;
$modal-arrow-icon-svg: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cpath d='M15.5,4.9L30.6,20 M15.5,35.1L30.6,20' stroke='currentColor' stroke-width='6' stroke-linecap='square' /%3E%3C/svg%3E" !default;
$modal-navigation-arrow-size: get-size(2) !default;
