$table-border-color: get-color(neutral, 300) !default;
$table-stripe-color: get-color(neutral, 25) !default;
$table-hover-background: get-color(neutral, 50) !default;
$table-hover-color: var(--color-text) !default;
$table-cell-padding: 0.5em 0.8em !default;
$table-responsive-breakpoint: 900px !default;
