$generate-table-modifiers: true !default;
$table-stripe-shade: $color-subtle-shade !default;
$table-hover-shade: $color-muted-shade !default;
$table-cell-padding: 0.5em 0.8em !default;
$table-responsive-breakpoint: 900px !default;
$table-font-size: token(font-size--1) !default;
