$duration-scale: () !default;
$duration-scale: map-merge(
  (
    "instant": 0s,
    "fast": 0.1s,
    "base": 0.2s,
    "slow": 0.35s,
    "slower": 0.5s,
  ),
  $duration-scale
);

$ease-scale: () !default;
$ease-scale: map-merge(
  (
    "in": cubic-bezier(0.4, 0, 1, 1),
    "out": cubic-bezier(0, 0, 0.2, 1),
    "in-out": cubic-bezier(0.4, 0, 0.2, 1),
    "spring": cubic-bezier(0.35, 1.6, 0.6, 1),
  ),
  $ease-scale
);
