/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  &:focus {
    clip: auto !important;
    clip-path: none;
    height: auto;
    width: auto;
    display: block;
    z-index: 100000;
  }
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0;
}

%accessibility-button {
  background-color: transparent;
  color: $accessibility-button-color;
  padding: 0 0 get-space(3xs) 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  &:hover,
  &:focus {
    background: transparent;
    color: $accessibility-button-hover-color;
  }
  line-height: get-leading(flush);
  &:focus {
    box-shadow: none;
  }
}
button[data-font-size] {
  @extend %accessibility-button;
  font-weight: $accessibility-button-font-weight;
  border-block-end: $accessibility-button-border-bottom solid transparent;
  vertical-align: baseline;
  &:hover,
  &:focus {
    border-block-end-color: $accessibility-button-hover-border-color;
  }
  &[aria-pressed="true"] {
    color: $accessibility-button-active-color;
    border-block-end-color: $accessibility-button-active-border-color;
  }
  // the glyph size hints at what each button does
  &[data-font-size="smaller"] {
    font-size: 0.8em;
  }
  &[data-font-size="default"] {
    font-size: 1em;
  }
  &[data-font-size="larger"] {
    font-size: 1.2em;
  }
  &[data-font-size="largest"] {
    font-size: 1.45em;
  }
}
