// TODO: Be nicer to pass through a light heading color here, for the choose contrast

[class*="bg-"] {
  color: token(color-section-text);
  background-color: token(color-section-background);
  & :is(h1, h2, h3, h4, h5, h6) {
    color: token(color-section-headings);
  }
}

.bg-transparent {
  #{token-name("color-section-background")}: transparent !important;
}

.bg-white {
  #{token-name("color-section-background")}: #{token(color-white)};
  $color: resolve-contrast-color($color-white);
  $heading-color: resolve-contrast-color(
    $color-white,
    $color-headings-preferred
  );
  #{token-name("color-section-text")}: #{$color};
  #{token-name("color-section-headings")}: #{$heading-color};
}

%bg-dark {
  #{token-name("color-section-text")}: #{token(color-white)};
}
%heading-dark {
  #{token-name("color-section-headings")}: #{token(color-white)};
}

%bg-light {
  #{token-name("color-section-text")}: #{token(color-text)};
}
%heading-light {
  #{token-name("color-section-headings")}: #{token(color-headings-preferred)};
}

/**
  * Loop through the background colors and create the classes for .bg-*
  */
@each $key, $val in $background-colors {
  .bg-#{$key} {
    #{token-name("color-section-background")}: #{$val};

    $bg-color: raw-color($val);

    // Work out the header and text colors
    $color: resolve-contrast-color($bg-color);
    $color-headings: resolve-contrast-color(
      $bg-color,
      $color-headings-preferred
    );
    @if ($color == token(color-white)) {
      @extend %bg-dark;
    } @else {
      @extend %bg-light;
    }
    @if ($color-headings == token(color-white)) {
      @extend %heading-dark;
    } @else {
      @extend %heading-light;
    }
  }
}
