.do-not-print {
  @include do-not-print();
}

iframe,
.navbar {
  @extend .do-not-print;
}
@media print {
  a {
    color: black !important;
    font-weight: get-weight(bold) !important;
    text-decoration: underline !important;
  }
  a[href^="http"]::after {
    // Display URL after external links on print
    content: "(" attr(href) ")";
    display: inline-block;
    text-decoration: none;
    margin-inline-start: 0.25em;
  }
  // Make websites more printer-friendly
  html,
  body {
    font-size: 9pt !important;
    line-height: get-leading(tight) !important;
    font-family: Arial, sans-serif !important;
  }
  #{headings()} {
    font-weight: get-weight(bold) !important;
    margin-block-end: 0.2em !important;
  }
  h1 {
    font-size: 1.6em !important;
  }
  h2 {
    font-size: 1.4em !important;
  }
  #{headings(3,6)} {
    font-size: 1.2em !important;
  }
  #{$buttons} {
    border: 1px solid black !important;
    background-color: white !important;
    color: black !important;
    display: inline-block !important;
    width: auto !important;
  }
  .container {
    width: 100% !important;
  }
}
