@each $key, $map in $colors {
  .text-#{$key} {
    color: get-color($key) !important;
  }
}

.text-muted {
  color: token(color-text-muted) !important;
}

.text-subtle {
  color: token(color-text-subtle) !important;
}

.text-soft {
  color: token(color-text-soft) !important;
}
