@mixin smooth($properties...) { // Global transition
    $result: (); // Create empty variable
    @each $property in $properties {
        // Loop through each argument and append to result variable
        $result: append($result, #{$property} $global-transition, comma);
    }
    transition: $result;
}

// Center a block level element without worrying about top and bottom margins
@mixin center-block {
  margin: {
      left: auto;
      right: auto;
  }
}

// DRY mixin for Pseudo elements. Pass optional args or leave as default
@mixin pseudo($content: '', $display: block, $pos: absolute){
  content: $content;
  display: $display;
  position: $pos;
}

// Do Not Print
@mixin do-not-print {
  @media print {
    display: none;
  }
}

//TODO: Add Image Replacement mixin https://getbootstrap.com/docs/4.0/utilities/image-replacement/
